<div id="footer">
    <div class="footer_content">
        <div class="footer-max-width">
            <div id="footer_sub_arrow" class="icon-arrow_down footer-arrow"></div>
            <ul class="head_menu group">          
              <li id="footer_sub_menu1" class="current"><a href="#1">เมนูลัด</a></li>
              <li id="footer_sub_menu2"><a href="#1">แผนผังเว็บไซต์</a></li>
            </ul>         
            <div class="footer_shotcut group">
                <ul class="sub_menu">         
                    <li class="linesub">
                        <div class="link_set1"></div>
                        <ul id="link_sub1" class="link_set">
                        <a class="js-btn-toggle" href="javascript:showSub('link_sub1')"><div class="link_set_arrow"></div></a>
                            <li class="head"><a class="js-btn-toggle" href="javascript:showSub('link_sub1')">แนะนำ</a></li>
                           <!-- <li><a href="https://www.ais.co.th/privilege" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'สิทธิพิเศษ ส่วนลด']);">สิทธิพิเศษ ส่วนลด</a></li>
                            <li><a href="https://store.ais.co.th" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ช้อปปิ้งออนไลน์']);">ช้อปปิ้งออนไลน์</a></li>
                            <li><a href="https://www.ais.co.th/quality_device" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'มือถือและอุปกรณ์']);">มือถือและอุปกรณ์</a></li>
                            <li><a href="https://www.ais.co.th/supercombo" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'มือถือ AIS SUPER COMBO']);">มือถือ AIS SUPER COMBO</a></li>
                            <li><a href="https://www.ais.co.th/blog/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS อัปเดทข่าววงการ Tech']);">อัปเดทข่าววงการ Tech</a></li> -->
                           <!--New Version 10/07/2024-->   
                            <li><a href="https://www.ais.th/consumers/lifestyle/new-myais" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'myAIS']);">myAIS</a></li>
                            <li><a href="https://www.ais.th/consumers/fibre" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เน็ตบ้านความเร็วสูง']);">เน็ตบ้านความเร็วสูง</a></li>
                            <li><a href="https://www.ais.th/consumers/store" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ออนไลน์ สโตร์']);">ออนไลน์ สโตร์</a></li>
                            <li><a href="https://www.ais.th/consumers/privileges/points" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'สิทธิประโยชน์']);">สิทธิประโยชน์</a></li>
                            <li><a href="https://www.ais.th/consumers/promotions" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'โปรโมชัน']);">โปรโมชัน</a></li>
                            <li><a href="https://www.ais.th/consumers/switch-to-ais" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ย้ายมาเป็นเอไอเอส']);">ย้ายมาเป็นเอไอเอส</a></li>
                            <li><a href="https://www.ais.th/consumers/privileges/serenade" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS Serenade']);">AIS Serenade</a></li>
                            <li><a href="https://www.ais.th/consumers/package/postpaid/lucky-number" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เบอร์มงคล']);">เบอร์มงคล</a></li>
                        </ul>
                    </li>
                    
                    <li class="linesub">
                        <div class="link_set3"></div>
                        <ul id="link_sub2" class="link_set">
                        <a class="js-btn-toggle" href="javascript:showSub('link_sub2')"><div class="link_set_arrow"></div></a>
                            <li class="head"><a class="js-btn-toggle" href="javascript:showSub('link_sub2')">บริการ</a></li>
                          <!--  <li><a href="https://www.ais.co.th/eservice" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เช็กยอด จ่ายค่าโทร']);">เช็กยอด จ่ายค่าโทร</a></li>
                            <li><a href="https://www.ais.co.th/3g/th/coverage-checker.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'จุดบริการสัญญาณ']);">จุดบริการสัญญาณ</a></li>
                            <li><a href="https://www.ais.co.th/move-to-ais" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ย้ายค่ายเบอร์เดิม']);">ย้ายค่ายเบอร์เดิม</a></li>
                            <li><a href="https://www.ais.co.th/FAQ/th" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'คำถามพบบ่อย']);">คำถามพบบ่อย</a></li>
                            <li><a href="https://aiscallcenter.ais.co.th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'คอลเซนเตอร์']);">คอลเซนเตอร์</a></li><li><a href="https://www.ais.co.th//files/facility_fee/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'วงเงินค่าใช้บริการ']);">วงเงินค่าใช้บริการ</a></li>-->
                            <!--New Version 10/07/2024--> 
                            <li><a href="https://www.ais.th/about-us/network-technology/5g-for-consumer" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS 5G/ เครือข่ายที่ให้บริการ']);">AIS 5G/ เครือข่ายที่ให้บริการ</a></li>
                            <li><a href="https://www.ais.th/consumers/help-and-support" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'คำถามที่พบบ่อย']);">คำถามที่พบบ่อย</a></li>
                            <li><a href="https://www.ais.th/consumers/help-and-support/cyber-threat-alerts" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เตือนภัยไซเบอร์']);">เตือนภัยไซเบอร์</a></li>
                            <li><a href="https://www.ais.th/business" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'สำหรับลูกค้าองค์กร']);">สำหรับลูกค้าองค์กร</a></li>
                            <li><a href="https://www.ais.th/consumers/promotions/service" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'บริการที่น่าสนใจ']);">บริการที่น่าสนใจ</a></li>
                            <li><a href="https://www.ais.th/consumers/package/prepaid/top-ups" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เติมเงินออนไลน์']);">เติมเงินออนไลน์</a></li>
                            <li><a href="https://www.ais.th/consumers/package/prepaid/services" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ช่องทางติดต่อบริการต่างๆ']);">ช่องทางติดต่อบริการต่างๆ</a></li>
                            
                        </ul>
                    </li>
                    
                    <li class="linesub">
                        <div class="link_set2"></div>
                        <ul id="link_sub3" class="link_set">
                        <a class="js-btn-toggle" href="javascript:showSub('link_sub3')"><div class="link_set_arrow"></div></a>
                            <li class="head"><a class="js-btn-toggle" href="javascript:showSub('link_sub3')">แพ็กเกจ/โปรโมชั่น</a></li>
                            <!--<li><a href="https://www.ais.co.th/iphone6/th/package.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'iPhone']);">iPhone</a></li>
                            <li><a href="https://www.ais.co.th/3g" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'สมัคร 3G']);">สมัคร 3G</a></li>
                            <li><a href="https://www.ais.co.th/3g-one-2-call/th/promotion.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'โปรโมชั่นหลักเติมเงิน']);">โปรโมชั่นหลักเติมเงิน</a></li>
                            <li><a href="https://www.ais.co.th/3g-postpaid" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'โปรโมชั่นหลักรายเดือน']);">โปรโมชั่นหลักรายเดือน</a></li>
                            <li><a href="https://www.ais.co.th/3g/th/package.aspx?id=4&type=mobile_package#tips" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'โปรโมชั่นอินเทอร์เน็ต']);">โปรโมชั่นอินเทอร์เน็ต</a></li>
                            <li><a href="https://www.ais.co.th/roaming" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'โทรต่างประเทศ']);">โทรต่างประเทศ</a></li>
                            <li><a href="https://www.ais.co.th/mobileinternet" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'โมบายอินเทอร์เน็ต']);">โมบายอินเทอร์เน็ต</a></li>
                            <li><a href="https://www.ais.co.th/wifi" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'WiFi อินเทอร์เน็ต']);">WiFi อินเทอร์เน็ต</a></li>
                            <li><a href="https://www.ais.co.th/aisfibre" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เน็ตบ้านความเร็วสูง']);">เน็ตบ้านความเร็วสูง</a></li>--> 
                            <!--New Version 10/07/2024--> 
                            <li><a href="https://www.ais.th/consumers/package/prepaid" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เติมเงิน']);">เติมเงิน</a></li>
                            <li><a href="https://www.ais.th/consumers/package/postpaid" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'รายเดือน']);">รายเดือน</a></li>
                            <li><a href="https://www.ais.th/consumers/package/add-ons" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'แพ็กเกจเสริม']);">แพ็กเกจเสริม</a></li>
                            <li><a href="https://www.ais.th/consumers/entertainment" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'แพ็กเกจความบันเทิง']);">แพ็กเกจความบันเทิง</a></li>
                            <li><a href="https://www.ais.th/consumers/package/international" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'แพ็กเกจระหว่างประเทศ']);">แพ็กเกจระหว่างประเทศ</a></li>
                            <li><a href="https://www.ais.th/consumers/package/postpaid/postpaid-sims" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ซิมรายเดือน']);">ซิมรายเดือน</a></li>
                            <li><a href="https://www.ais.th/consumers/package/prepaid/prepaid-sims" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ซิมเติมเงิน']);">ซิมเติมเงิน</a></li>
                            <li><a href="https://www.ais.th/consumers/promotions/phone-device/hotdeals" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เครื่องพร้อมแพ็กเกจ']);">เครื่องพร้อมแพ็กเกจ</a></li>
                            <li><a href="https://www.ais.th/consumers/promotions/smart-pay/smartpay-all-model" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'โปรแกรมผ่อนมือถือ']);">โปรแกรมผ่อนมือถือ</a></li>
                            <li><a href="https://www.ais.th/consumers/fibre/services" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'บริการเสริมเน็ตบ้าน']);">บริการเสริมเน็ตบ้าน</a></li>
                        </ul>
                    </li>
                    
                    <li class="linesub">
                        <div class="link_set4"></div>
                        <ul id="link_sub4" class="link_set">
                        <a class="js-btn-toggle" href="javascript:showSub('link_sub4')"><div class="link_set_arrow"></div></a>
                           <!-- <li class="head"><a class="js-btn-toggle" href="javascript:showSub('link_sub4')">ติดต่อเรา</a></li>
                            <li><a href="https://aiscallcenter.ais.co.th" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ศูนย์ดูแลลูกค้า']);">ศูนย์ดูแลลูกค้า</a></li>
                            <li><a href="https://www.facebook.com/AIS" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เฟสบุ๊คของเรา']);">เฟสบุ๊คของเรา</a></li>
                            <li><a href="https://www.ais.co.th/applyjob" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ร่วมงานกับเรา']);">ร่วมงานกับเรา</a></li>
                            <li><a href="https://digital.ais.co.th/all-categories/ais-news-release" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ข่าวประชาสัมพันธ์']);">ข่าวประชาสัมพันธ์</a></li>
                            <li><a href="https://investor-th.ais.co.th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'นักลงทุนสัมพันธ์']);">นักลงทุนสัมพันธ์</a></li>
                            <li><a href="http://onlineactivities.ais.co.th/app/internet_survey/index.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'แบบสอบถามความพึงพอใจลูกค้า']);">แบบสอบถามความพึงพอใจลูกค้า</a></li>--> 
                            <!--New Version 10/07/2024--> 
                            <li class="head"><a class="js-btn-toggle" href="javascript:showSub('link_sub4')">เกี่ยวกับเรา</a></li>
                            <li><a href="https://www.ais.th/about-us/contact-us" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ติดต่อเรา']);">ติดต่อเรา</a></li>
                            <li><a href="https://www.ais.th/servicecenter/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'สาขาและบริการ']);">สาขาและบริการ</a></li>
                            <li><a href="https://www.facebook.com/AIS" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เฟสบุ๊คของเรา']);">เฟสบุ๊คของเรา</a></li>
                            <li><a href="https://aiscallcenter.ais.co.th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ศูนย์ดูแลลูกค้า']);">ศูนย์ดูแลลูกค้า</a></li>
                            <li><a href="https://www.ais.th/about-us/careers" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ร่วมงานกับเรา']);">ร่วมงานกับเรา</a></li>
                            <li><a href="https://investor-th.ais.co.th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'นักลงทุนสัมพันธ์']);">นักลงทุนสัมพันธ์</a></li>
                            <li><a href="https://www.ais.th/consumers/lifestyle/blog" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ห้องข่าวสาร']);">ห้องข่าวสาร</a></li>

                        </ul>
                    </li>
                    
                </ul>
            </div>
            <div class="footer_sitemap group">
                    <ul class="sub_menu">
                        <li class="linesub">
                            <div class="site_set1"></div>
                            <ul id="site_sub1" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('site_sub1')"><div class="link_set_arrow"></div></a>
                                <li class="head"><a class="js-btn-toggle" href="javascript:showSub('site_sub1')">สินค้าและบริการ</a></li>
                                <li><a href="https://www.ais.co.th/quality_device/index.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'มือถือและอุปกรณ์']);">มือถือและอุปกรณ์</a></li>
                                <li><a href="https://www.ais.co.th/iphone/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ไอโฟน']);">ไอโฟน</a></li>
                                <!--<li><a href="http://www.ais.co.th/aisblackberry/home/index.asp" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'แบล็คเบอร์รี่']);">แบล็คเบอร์รี่</a></li>--> 
                                <li><a href="https://www.mfa.ais.co.th/Mobile/Brand/Samsung/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ซัมซุง']);">ซัมซุง</a></li>
                                <!--<li><a href="http://www.mfa.ais.co.th/Mobile/Brand/Nokia/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'โนเกีย']);">โนเกีย</a></li>--> 
                                <li><a href="https://www.mfa.ais.co.th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'WDS']);">WDS</a></li>
                                <!--<li><a href="http://www.ais.co.th/mobileinternet/aircard/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'แอร์การ์ด']);">แอร์การ์ด</a></li>
                                <li><a href="http://www.ais.co.th/gsmadvance/th/default.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'จีเอสเอ็ม']);">จีเอสเอ็ม</a></li> 
                                <li><a href="http://www.ais.co.th/12call/th/index.html" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'วัน-ทู-คอล!']);">วัน-ทู-คอล!</a></li>-->
                                
                                <li><a href="https://www.ais.co.th/mobileinternet/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เอไอเอส โมบาย อินเทอร์เน็ต']);">เอไอเอส โมบาย อินเทอร์เน็ต</a></li>
                                <li><a href="https://www.ais.co.th/airnet/th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'แอร์เน็ต']);">แอร์เน็ต</a></li>
                                <li><a href="https://www.ais.co.th/mpay/th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เอมเปย์']);">เอมเปย์</a></li>
                                <li><a href="https://www.ais.co.th/Appstore/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เอไอเอส แอ็ปสโตร์']);">เอไอเอส แอ็ปสโตร์</a></li>
                                <li><a href="https://www.ais.co.th/roaming" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'International Service']);">International Service</a></li>
                                <li><a href="https://www.ais.co.th/mnp/th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Mobile Number Portability']);">Mobile Number Portability</a></li>
                                <li><a href="https://store.ais.co.th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ออนไลน์สโตร์']);">ออนไลน์สโตร์ </a></li>
                            </ul>
                        </li>
                        
                        <li class="linesub">
                            <div class="site_set2"></div>
                            <ul id="site_sub2" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('site_sub2')"><div class="link_set_arrow"></div></a>
                                <li class="head"><a class="js-btn-toggle" href="javascript:showSub('site_sub2')">สิทธิพิเศษ</a></li>
                                <li><a href="https://www.ais.co.th/privilege/th/ais-serenade.aspx#tips" target="_blank"  onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เซเรเนด']);">เซเรเนด</a></li>
                                <li><a href="https://www.ais.co.th/handsetPrivileges/th/" target="_blank"  onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'มือถือราคาพิเศษ']);">มือถือราคาพิเศษ</a></li>
                                <li><a href="https://www.ais.co.th/aunjaidaitam/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'อุ่นใจได้แต้ม']);">อุ่นใจได้แต้ม</a></li>
                            </ul>
                        </li>
                        
                        <li class="linesub">
                            <div class="site_set3"></div>
                            <ul id="site_sub3" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('site_sub3')"><div class="link_set_arrow"></div></a>
                                <li class="head"><a class="js-btn-toggle" href="javascript:showSub('site_sub3')">ศูนย์บริการ</a></li>
                                <li><a href="https://aiscallcenter.ais.co.th/" target="_blank"  onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ออนไลน์คอลเซ็นเตอร์']);">ออนไลน์คอลเซ็นเตอร์</a></li>
                                <li><a href="https://www.ais.co.th/servicecenter/th/service_center.html" target="_blank"  onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เอไอเอส ช็อป']);">เอไอเอส ช็อป</a></li>
                                <li><a href="https://www.ais.co.th/servicecenter/th/service_center_serenade.html" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เซเรเนด คลับ']);">เซเรเนด คลับ</a></li>
                                <li><a href="https://www.ais.co.th/servicecenter/th/service_center_telewiz.html" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เทเลวิซ ช็อป']);">เทเลวิซ ช็อป</a></li>
                                <li><a href="https://www.ais.co.th/mpaystation/th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เอมเปย์สเตชั่น']);">เอมเปย์สเตชั่น</a></li>
                                <li><a href="https://www.ebidding.ais.co.th/votn/Aspx/Home/Default.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ชำระค่าบริการ และเติมเงิน']);">ชำระค่าบริการ และเติมเงิน</a></li>
                                <li><a href="http://aisclub.ais.co.th/Default.aspx?mid=27" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เอไอเอส คลับ']);">เอไอเอส คลับ</a></li>
                                <li><a href="https://www.ais.co.th/FAQ/th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'คำถามที่พบบ่อย']);">คำถามที่พบบ่อย</a></li>
                            </ul>
                        </li>
                        
                        <li class="linesub">
                            <div class="site_set4"></div>
                            <ul id="site_sub4" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('site_sub4')"><div class="link_set_arrow"></div></a>
                                <li class="head"><a class="js-btn-toggle" href="javascript:showSub('site_sub4')">เกี่ยวกับเอไอเอส</a></li>
                                <li><a href="https://www.ais.co.th/network/th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เครือข่าย']);">เครือข่าย</a></li>
                                <li><a href="https://www.ais.co.th/corporateinfo/th/milestone.html" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ข้อมูล บริษัท']);">ข้อมูล บริษัท</a></li>
                                <li><a href="http://www.sarnrak.net/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'กิจกรรมเพื่อสังคม']);">กิจกรรมเพื่อสังคม</a></li>
                            </ul>
                        </li>
                        
                        <li class="linesub"> 
                            <div class="site_set5"></div>
                            <ul id="site_sub5" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('site_sub5')"><div class="link_set_arrow"></div></a>
                                <li class="head"><a class="js-btn-toggle" href="javascript:showSub('site_sub5')">บริการออนไลน์</a></li>
                                <li><a href="https://www.ais.co.th/eservice" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'e-Service']);">eService</a></li>
                                <li><a href="https://www.ais.co.th/eservice" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'บริการออนไลน์ด้วยตัวคุณเอง']);">บริการออนไลน์ด้วยตัวคุณเอง</a></li>
                                <li><a href="https://www.ais.co.th/eservice" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ชำระค่าบริการรายเดือน']);">ชำระค่าบริการรายเดือน</a></li>
                                <li><a href="https://www.ais.co.th/eservice" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เติมเงิน วัน-ทู-คอล!']);">เติมเงิน วัน-ทู-คอล!</a></li>
                                <li><a href="https://www.ais.co.th/eservice" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เช็กค่าโทร/รายละเอียดการโทร']);">เช็กค่าโทร/รายละเอียดการโทร</a></li>
                                <li><a href="https://www.ais.co.th/eservice" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เปลี่ยน/สมัคร แพ็กเกจ']);">เปลี่ยน/สมัคร แพ็กเกจ</a></li>
                                  <li><a href="https://ebill.ais.co.th/ebill/Aspx/Home/VOTNISHD01.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เปลี่ยน/สมัคร แพ็กเกจ']);">คู่ค้าทางธุรกิจ (E-Bill)
</a></li>
                                <li><a href="https://www.ais.co.th/eservice" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'สมัคร e-Statement']);">สมัคร e-Statement</a></li>
                            </ul>
                        </li>
                    </ul>
              </div>
        </div>
    </div>
    <div class="footer_copy">
        &copy; 2015 ADVANCED INFO SERVICE PLC. ALL RIGHTS RESERVED. R25.09_10092025<br />
        เว็ปไซต์สามารถใช้งานได้ดีกับ Microsoft Internet Explorer 9 ขึ้นไป หรือ Google Chrome / Firefox เวอร์ชั่นล่าสุด
    </div>
    
</div>

<!-- Google Tag Manager -->

<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NS998W"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>