<div id="footer">
    <div class="footer_content">
        <div class="footer-max-width">
            <div id="footer_sub_arrow" class="icon-arrow_down footer-arrow"></div>
            <ul class="head_menu group">
                <li id="footer_sub_menu1" class="current"><a href="#1">Shortcut</a></li>
                <li id="footer_sub_menu2"><a href="#1">Sitemap</a></li>
            </ul>
            <div class="footer_shotcut group">
                <ul class="sub_menu group">
                    <li class="linesub">
                        <div class="link_set1"></div>
                        <ul id="link_sub1" class="link_set">
                            <a href="javascript:showSub('link_sub1')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a href="javascript:showSub('link_sub1')">Recommended</a></li>
                            @*<li><a href="https://www.ais.co.th/privilege/en/index.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Get Privileg']);">Get Privileges</a></li>
                                <li><a href="https://store.ais.co.th/en" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Online Store']);">Online Store</a></li>
                                <li><a href="https://www.ais.co.th/quality_device/en/index.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Phone & Device']);">Phone &amp; Device</a></li>
                                <li><a href="https://www.ais.co.th/supercombo/en" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS SUPER COMBO']);">AIS SUPER COMBO</a></li>
                                <li><a href="https://www.ais.co.th/blog/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS Tech Blogger']);">Tech Blogger</a></li>*@
                            @*New Version 10/07/2024*@
                            <li><a href="https://www.ais.th/consumers/lifestyle/new-myais" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'myAIS']);">myAIS</a></li>
                            <li><a href="https://www.ais.th/consumers/fibre" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Fibre']);">Fibre</a></li>
                            <li><a href="https://www.ais.th/consumers/store" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Online Store']);">Online Store</a></li>
                            <li><a href="https://www.ais.th/consumers/privileges/points" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS Point']);">AIS Point</a></li>
                            <li><a href="https://www.ais.th/consumers/promotions" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Promotion']);">Promotion</a></li>
                            <li><a href="https://www.ais.th/consumers/switch-to-ais" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Switch to AIS']);">Switch to AIS</a></li>
                            <li><a href="https://www.ais.th/consumers/privileges/serenade" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS Serenade']);">AIS Serenade</a></li>
                            <li><a href="https://www.ais.th/consumers/package/postpaid/lucky-number" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Lucky Number']);">Lucky Number</a></li>
                        </ul>
                    </li>
                    <li class="linesub">
                        <div class="link_set3"></div>
                        <ul id="link_sub2" class="link_set">
                            <a href="javascript:showSub('link_sub2')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a href="javascript:showSub('link_sub2')">Service</a></li>
                            @*<li><a href="https://www.ais.co.th/eservice" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Bill & Payment']);">Bill &amp; Payment</a></li>
                                <li><a href="https://www.ais.co.th/3g/en/coverage-checker.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS Coverage']);">AIS Coverage</a></li>
                                <li><a href="https://www.ais.co.th/move-to-ais/index_en.html" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Mobile Number Portability']);">Mobile Number Portability</a></li>
                                <li><a href="https://www.ais.co.th/FAQ/th" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Q & A ']);">Q &amp; A </a></li>
                                <li><a href="https://aiscallcenter.ais.co.th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Call Center']);">Call Center</a></li>
                                <li><a href="https://www.ais.co.th/files/facility_fee/en/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Credit Limit Balance']);">Credit Limit Balance</a></li>*@
                            @*New Version 10/07/2024*@
                            <li><a href="https://www.ais.th/about-us/network-technology/5g-for-consumer" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS 5G/ Network']);">AIS 5G/ Network</a></li>
                            <li><a href="https://www.ais.th/consumers/help-and-support" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Help & Support']);">Help & Support</a></li>
                            <li><a href="https://www.ais.th/consumers/help-and-support/cyber-threat-alerts" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Cyber Threat Alert']);">Cyber Threat Alert</a></li>
                            <li><a href="https://www.ais.th/business" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Bussiness']);">Bussiness</a></li>
                            <li><a href="https://www.ais.th/consumers/promotions/service" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Additional Service']);">Additional Service</a></li>
                            <li><a href="https://www.ais.th/consumers/package/prepaid/top-ups" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Online Top Up']);">Online Top Up</a></li>
                            <li><a href="https://www.ais.th/consumers/package/prepaid/services" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Service Number']);">Service Number</a></li>
                        </ul>
                    </li>
                    <li class="linesub">
                        <div class="link_set2"></div>
                        <ul id="link_sub3" class="link_set">
                            <a href="javascript:showSub('link_sub3')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a href="javascript:showSub('link_sub3')">Package/Promotion</a></li>
                            <!--<li><a href="https://www.ais.co.th/iphone" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'iPhone']);">iPhone</a></li>
                            <li><a href="https://www.ais.co.th/3g" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', '3G']);">3G</a></li>
                            <li><a href="https://www.ais.co.th/3g-one-2-call/th/promotion.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Prepaid']);">Prepaid</a></li>
                            <li><a href="https://www.ais.co.th/3g-postpaid/en/index.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Postpaid']);">Postpaid</a></li>
                            <li><a href="https://www.ais.co.th/3g/en/package.aspx?id=4&type=mobile_package#tips" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Internet Package']);">Internet Package</a></li>
                            <li><a href="https://www.ais.co.th/roaming/en/index.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'International Call']);">International Call</a></li>-->
                            <!--<li><a href="http://www.ais.co.th/mobileinternet" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Mobile Internet']);">Mobile Internet</a></li>-->
                            <!--<li><a href="https://www.ais.co.th/wifi/en/home.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'WiFi']);">WiFi</a></li>
                            <li><a href="https://www.ais.co.th/fibre/en/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS Fibre']);">AIS Fibre</a></li>-->
                            @*New Version 10/07/2024*@
                            <li><a href="https://www.ais.th/consumers/package/prepaid" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Prepaid']);">Prepaid</a></li>
                            <li><a href="https://www.ais.th/consumers/package/postpaid" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Postpaid']);">Postpaid</a></li>
                            <li><a href="https://www.ais.th/consumers/package/add-ons" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'On top']);">On top</a></li>
                            <li><a href="https://www.ais.th/consumers/entertainment" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Entertainment']);">Entertainment</a></li>
                            <li><a href="https://www.ais.th/consumers/package/international" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'International']);">International</a></li>
                            <li><a href="https://www.ais.th/consumers/package/postpaid/postpaid-sims" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Postpaid SIMs']);">Postpaid SIMs</a></li>
                            <li><a href="https://www.ais.th/consumers/package/prepaid/prepaid-sims" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Prepaid SIMs']);">Prepaid SIMs</a></li>
                            <li><a href="https://www.ais.th/consumers/promotions/phone-device/hotdeals" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS Hot Deal']);">AIS Hot Deal</a></li>
                            <li><a href="https://www.ais.th/consumers/promotions/smart-pay/smartpay-all-model" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Installment Program']);">Installment Program</a></li>
                            <li><a href="https://www.ais.th/consumers/fibre/services" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'On-Top Fibre Service']);">On-Top Fibre Service</a></li>

                        </ul>
                    </li>
                    <li class="linesub">
                        <div class="link_set4"></div>
                        <ul id="link_sub4" class="link_set">
                            <a href="javascript:showSub('link_sub4')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a href="javascript:showSub('link_sub4')">Contact us</a></li>
                            @*<li><a href="https://aiscallcenter.ais.co.th" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Customer service']);">Customer service</a></li>
                                <li><a href="https://www.facebook.com/AIS" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS Facebook']);">AIS Facebook</a></li>
                                <li><a href="https://www.ais.co.th/applyjob" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Career']);">Career</a></li>
                                <li><a href="https://www.ais.co.th/mediacenter/en/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Newsroom']);">Newsroom</a></li>
                                <li><a href="https://investor.ais.co.th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Investor Relation']);">Investor Relation</a></li>
                                <li><a href="https://onlineactivities.ais.co.th/app/internet_survey/index.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Internet Survey']);">Internet Survey</a></li>*@
                            @*New Version 10/07/2024*@
                            <li><a href="https://www.ais.th/about-us/contact-us" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Contact Us']);">Contact Us</a></li>
                            <li><a href="https://www.ais.th/servicecenter/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Service Center']);">Service Center</a></li>
                            <li><a href="https://www.facebook.com/AIS" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Facebook']);">Facebook</a></li>
                            <li><a href="https://aiscallcenter.ais.co.th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS Call Center']);">AIS Call Center</a></li>
                            <li><a href="https://www.ais.th/about-us/careers" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Career']);">Career</a></li>
                            <li><a href="https://investor-th.ais.co.th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Investor']);">Investor</a></li>
                            <li><a href="https://www.ais.th/consumers/lifestyle/blog" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Blog & News']);">Blog & News</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footer_sitemap group">
                <ul class="sub_menu group">
                    <li class="linesub">
                        <div class="site_set1"></div>
                        <ul id="site_sub1" class="link_set">
                            <a href="javascript:showSub('site_sub1')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a href="javascript:showSub('site_sub1')">Phone &amp; Service</a></li>
                            <li><a href="https://www.ais.co.th/quality_device/en/index.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Phone &amp; Device iPhone']);">Phone &amp; Device iPhone</a></li>
                            <li><a href="https://www.ais.co.th/iphone/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'iPhone']);">iPhone</a></li>
                            <!--<li><a href="http://www.ais.co.th/aisblackberry/home/index.asp" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'BlackBerry']);">BlackBerry</a></li>-->
                            <li><a href="https://store.ais.co.th/en/mobile-phone/samsung.html" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Samsung']);">Samsung</a></li>
                            <!--<li><a href="http://www.mfa.ais.co.th/Mobile/Brand/Nokia/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Nokia']);">Nokia</a></li>-->
                            <li><a href="https://www.mfa.ais.co.th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'WDS']);">WDS</a></li>
                            <li><a href="https://www.ais.co.th/mobileinternet/en/aircard/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIRCARD']);">AIRCARD</a></li>
                            <!--<li><a href="http://www.ais.co.th/gsmadvance/en/default.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'GSM']);">GSM</a></li>
                            <li><a href="http://www.ais.co.th/12call/en/index.html" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'One-2-Call!']);">One-2-Call!</a></li>-->
                            <li><a href="#" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'GSM 1800']);">GSM 1800</a></li>
                            <!-- <li><a href="http://www.ais.co.th/mobileinternet/en/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS Mobile Internet']);">AIS Mobile Internet</a></li>-->
                            <li><a href="https://www.ais.co.th/airnet/th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIRNET']);">AIRNET</a></li>
                            <li><a href="https://www.ais.co.th/mpay/en/index.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'mPAY']);">mPAY</a></li>
                            <li><a href="https://www.ais.co.th/Appstore/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS App Store']);">AIS App Store</a></li>
                            <li><a href="https://www.ais.co.th/roaming/en/index.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'International Service']);">International Service</a></li>
                            <li><a href="https://www.ais.co.th/move-to-ais/index_en.html" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Mobile Number Portability']);">Mobile Number Portability</a></li>
                            <li><a href="https://store.ais.co.th/en/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Online Shopping']);">Online Shopping</a></li>
                        </ul>
                    </li>
                    <li class="linesub">
                        <div class="site_set2"></div>
                        <ul id="site_sub2" class="link_set">
                            <a href="javascript:showSub('site_sub2')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a href="javascript:showSub('site_sub2')">Privilege</a></li>
                            <li><a href="https://www.ais.co.th/privilege/en/ais-serenade.aspx#tips" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Serenade']);">Serenade</a></li>
                            <li><a href="https://www.ais.co.th/privilege/en/handset-privilege.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Handset Privilege']);">Handset Privilege</a></li>
                            <li><a href="https://www.ais.co.th/aunjaidaitam/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Aunjai Daitam']);">Aunjai Daitam</a></li>
                        </ul>
                    </li>
                    <li class="linesub">
                        <div class="site_set3"></div>
                        <ul id="site_sub3" class="link_set">
                            <a href="javascript:showSub('site_sub3')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a href="javascript:showSub('site_sub3')">Customer Service</a></li>
                            <li><a href="https://aiscallcenter.ais.co.th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Online Call Center']);">Online Call Center</a></li>
                            <li><a href="https://www.ais.co.th/servicecenter/th/service_center.html" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS Shop']);">AIS Shop</a></li>
                            <li><a href="https://www.ais.co.th/servicecenter/th/service_center_serenade.html" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Serenade Club']);">Serenade Club</a></li>
                            <li><a href="https://www.ais.co.th/servicecenter/th/service_center_telewiz.html" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Telewiz shop']);">Telewiz shop</a></li>
                            <li><a href="https://www.ais.co.th/mpaystation/en/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'mPAY Station']);">mPAY Station</a></li>
                            <li><a href="https://ebill.ais.co.th/ebill/Aspx/Home/VOTNISHD01.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'E-Bill']);">E-Bill</a></li>
                            <li><a href="https://aisclub.ais.co.th/Default.aspx?mid=27" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'AIS Club']);">AIS Club</a></li>
                            <li><a href="https://www.ais.co.th/FAQ/th/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'FAQ']);">FAQ</a></li>
                        </ul>
                    </li>
                    <li class="linesub">
                        <div class="site_set4"></div>
                        <ul id="site_sub4" class="link_set">
                            <a href="javascript:showSub('site_sub4')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a href="javascript:showSub('site_sub4')">About AIS</a></li>
                            <li><a href="https://www.ais.co.th/network/en/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Network']);">Network</a></li>
                            <li><a href="https://www.ais.co.th/corporateinfo/en/milestone.html" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Corporate Profile']);">Corporate Profile</a></li>
                            <li><a href="http://www.sarnrak.net/" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'CSR']);">CSR</a></li>
                        </ul>
                    </li>
                    <li class="linesub">
                        <div class="site_set5"></div>
                        <ul id="site_sub5" class="link_set">
                            <a href="javascript:showSub('site_sub5')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a href="javascript:showSub('site_sub5')">eService </a></li>
                            <li><a href="https://www.ais.co.th/eservice" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'e-Service']);">eService</a></li>
                            <li><a href="https://ebill.ais.co.th/ebill/Aspx/Home/VOTNISHD01.aspx" target="_blank" onClick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'E-Bill']);">E-Bill</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer_copy">
        © 2015 ADVANCED INFO SERVICE PLC. ALL RIGHTS RESERVED. R25.09_10092025<br />
        This site is best viewed using Internet Explorer 9, Chrome, Safari and browser later.
    </div>
</div>
