@{
    Layout = null;
}

<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':

            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],

        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =

        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

    })(window, document, 'script', 'dataLayer', 'GTM-NS998W');</script>

<!DOCTYPE html>
<html class="no-js" lang="th">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,9" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0" />
    <meta name="date" content="2016-03-12" />
    <meta name="sitecode" content="TH" />

    <!-- Html Meta -->
    <title>ยินดีต้อนรับเข้าสู่ครอบครัวเอไอเอส ไฟเบอร์</title>

    <meta name="description" content="แหล่งข้อมูลต่างๆ สำหรับลูกค้าเอไอเอส ไฟเบอร์หน้าใหม่ ที่ตอบโจทย์ไลฟ์สไตล์ยุคดิจิทัล">
    <meta name="keywords" content="เอไอเอส, เอไอเอส ไฟเบอร์, เน็ตบ้าน, เน็ตแรง, เน็ตเร็ว, ลูกค้าใหม่, ข้อมูลแพ็กเกจ, เอไอเอส พอยท์, สิทธิพิเศษ, ช่องทางการติดต่อ, การชำระค่าบริการ, ดูบิลออนไลน์">
    <link rel="shortcut icon" href="~/Content/ContentWelcome/favicon.ico" type="image/x-icon" />
    <meta name="thumbnail" content="~/Content/ContentWelcome/share.jpg" />
    <meta name="thumbnail_height" content="110">
    <!--Fix ขนาดของความสูง ไว้เท่านี้ ไม่เปลี่ยน-->
    <meta name="thumbnail_width" content="75">
    <!--Fix ขนาดของความกว้าง ไว้เท่านี้ ไม่เปลี่ยน-->
    <!-- Facebook Propertie -->
    <meta property="og:title" content="ยินดีต้อนรับเข้าสู่ครอบครัวเอไอเอส ไฟเบอร์" />
    <meta property="og:description" content="แหล่งข้อมูลต่างๆ สำหรับลูกค้าเอไอเอส ไฟเบอร์หน้าใหม่ ที่ตอบโจทย์ไลฟ์สไตล์ยุคดิจิทัล" />
    <meta property="og:image" content="~/Content/ContentWelcome/share.jpg" />

    <!-- Google Plus -->
    <meta itemprop="name" content="ยินดีต้อนรับเข้าสู่ครอบครัวเอไอเอส ไฟเบอร์">
    <meta itemprop="description" content="แหล่งข้อมูลต่างๆ สำหรับลูกค้าเอไอเอส ไฟเบอร์หน้าใหม่ ที่ตอบโจทย์ไลฟ์สไตล์ยุคดิจิทัล">
    <meta itemprop="image" content="~/Content/ContentWelcome/share.jpg">

    <!-- Tweet Propertie แชร์ Tweet -->
    <meta property="tw:description" content="แหล่งข้อมูลต่างๆ สำหรับลูกค้าเอไอเอส ไฟเบอร์หน้าใหม่ ที่ตอบโจทย์ไลฟ์สไตล์ยุคดิจิทัล" />

    <!-- Apple itunes configuration -->
    <meta name="apple-itunes-app" content="app-id=399758084" />
    <link rel="apple-touch-icon" href="~/Content/ContentWelcome/apple-touch-icon-192x192.png">

    <!-- Start SmartBanner configuration -->
    <meta name="smartbanner:title" content="myAIS">
    <meta name="smartbanner:author" content="MIMO Tech Company Limited">
    <meta name="smartbanner:price" content="FREE">
    <meta name="smartbanner:price-suffix-google" content=" - In Google Play">
    <meta name="smartbanner:icon-google" content="https://lh3.googleusercontent.com/zpXlAyDbHvn4Q7WijKM_HPMYTXOOAhVTkKqZQS3K-LX6-NX-QH-ghF4R-dQu2T-fcfls=w300-rw">
    <meta name="smartbanner:button" content="VIEW">
    <meta name="smartbanner:button-url-google" content="https://play.google.com/store/apps/details?id=com.ais.mimo.eservice&hl=en">
    <meta name="smartbanner:enabled-platforms" content="android">
    <meta name="smartbanner:disable-positioning" content="true">
    <meta name="smartbanner:hide-ttl" content="10000">
    <!-- ถ้าต้องการแสดง banner andriod ให้คอมเม้นบรรทัดด้านล่าง -->
    <!-- <meta name="smartbanner:enabled-platforms" content="none"> -->
    <!-- css -->
    <link href="~/Content/ContentWelcome/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Content/ContentWelcome/css/bootstrap.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/ContentWelcome/css/swiper-bundle.min.css" rel="stylesheet" type="text/css" />

    <!-- font -->
    <link rel="preload" href="~/Content/ContentWelcome/fonts/db_heavent_med_cond_v3.2-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/Content/ContentWelcome/fonts/db_heavent_bd_cond_v3.2-webfont.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="~/Content/ContentWelcome/fonts/db_heavent_cond_v3.2-webfont.woff2" as="font" type="font/woff2" crossorigin>

    <!-- js -->
    <script src="~/Content/ContentWelcome/js/jquery-3.2.1.min.js"></script>
    <script defer src="~/Content/ContentWelcome/js/script.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Content/ContentWelcome/js/dna-tween.js"></script>
    <script src="~/Content/ContentWelcome/js/swiper-bundle.min.js"></script>
    <script src="~/js/jquery.mainnav.min.js"></script>
    <script src="~/Scripts/i-script.js"></script>

    <!--<script defer src="//www.ais.th/base_interface_v2/js/jquery.nav.control.js"></script>-->

</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TC3PWS" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- AIS Topbar -->
    <div id="ais_topbar" style="display:none;"></div>

    @RenderBody()

    <!-- AIS Footer -->
    @Html.Partial("~/Views/WelcomeToAisFibre/_aisfooter.cshtml")

    <script type="text/javascript">
        var initInterfaceVar, initInterfaceCSSVar = false;
        function initInterfaceCSS() { initInterfaceCSSVar = true; initInterface(); }

        function initInterface() {
            initInterfaceVar = true;
            if (initInterfaceVar && initInterfaceCSSVar) {
                /* Check CSS is Load */
                //ais_interface_setup('mini-menu', 'postpaid', 'th', '', false);
                //ais_interface_setup('custom-only-slidemenu', 'postpaid', 'th', 'no-en', ''); //เฉพาะเมนูด้านซ้าย
                now_menu();
            }

        }
        function now_menu() {
            setTimeout(function () {
                $('.secondary-link-custom .menu__link').removeClass('current');
                $('.secondary-link-custom .menu-sub6').addClass('current');
            }, 1500);
        }

        function initSwiper() {
            alert("initSwiper");
        }

        function initScript() {
            setTimeout(function () {
            }, 100);
        }

    </script>

    <noscript id="deferred-styles">
        <link rel="stylesheet" type="text/css" href="//www.ais.th/base_interface_v2/css/navais_v2.css" onload="initInterfaceCSS()">
        <link rel="stylesheet" type="text/css" href="~/Content/ContentWelcome/css/bootstrap.css">
    </noscript>
    <script>var loadDeferredStyles = function () { var e = document.getElementById("deferred-styles"), n = document.createElement("div"); n.innerHTML = e.textContent, document.body.appendChild(n), e.parentElement.removeChild(e) }, raf = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame; raf ? raf(function () { window.setTimeout(loadDeferredStyles, 0) }) : window.addEventListener("load", loadDeferredStyles);</script>

    <script defer src="~/Content/ContentWelcome/js/script.js"></script><!-- Include lazysizes v5.3.2 // jquery.matchHeight-->

    <script defer src="//www.ais.th/base_interface_v2/js/jquery.nav.control.js" onload="initInterface()"></script>


    <style type="text/css">
        .vertical-alignment-helper {
            display: table;
            height: 100%;
            width: 100%;
            pointer-events: none;
        }

        .vertical-align-center {
            display: table-cell;
            vertical-align: middle;
            pointer-events: none;
        }

        .modal-content {
            width: inherit;
            height: inherit;
            margin: 0 auto;
            pointer-events: all;
        }

        .fa-6 { font-size: 10em; }

        .errorinput { border: 2px solid #ff988a !important; }

        #btnContinue1:hover { cursor: not-allowed; }
        #btnContinue3:hover { cursor: not-allowed; }
    </style>
</body>
</html>