@model WBBEntity.PanelModels.QuickWinPanelModel
@using System.Collections.Generic;
@using WBBEntity.PanelModels

@{
    string L_SPECIFIC_ADDR_2 = "";
    string L_LAT_LONG = "";
    string L_CLICK = "";
    string L_DECIMAL = "";
    string L_SPECIFIC_LOC = "";
    string L_HOW_TO = "";
    string L_HOW_LAT_LONG = "";
    string L_GGMAP_TOOLTIP = "";

    if (null != ViewData["L_SPECIFIC_ADDR_2"])
    {
        L_SPECIFIC_ADDR_2 = ViewData["L_SPECIFIC_ADDR_2"] as string;
    }
    if (null != ViewData["L_LAT_LONG"])
    {
        L_LAT_LONG = ViewData["L_LAT_LONG"] as string;
    }
    if (null != ViewData["L_CLICK"])
    {
        L_CLICK = ViewData["L_CLICK"] as string;
    }
    if (null != ViewData["L_DECIMAL"])
    {
        L_DECIMAL = ViewData["L_DECIMAL"] as string;
    }
    if (null != ViewData["L_SPECIFIC_LOC"])
    {
        L_SPECIFIC_LOC = ViewData["L_SPECIFIC_LOC"] as string;
    }
    if (null != ViewData["L_HOW_TO"])
    {
        L_HOW_TO = ViewData["L_HOW_TO"] as string;
    }
    if (null != ViewData["L_HOW_LAT_LONG"])
    {
        L_HOW_LAT_LONG = ViewData["L_HOW_LAT_LONG"] as string;
    }
    if (null != ViewData["L_GGMAP_TOOLTIP"])
    {
        L_GGMAP_TOOLTIP = ViewData["L_GGMAP_TOOLTIP"] as string;
    }
}



    <div id="silder" style="margin-left: -30px;"  >
        <img src="~/Content/src/bulletGreen.png" />
        @L_SPECIFIC_ADDR_2
    </div>
   
    <div id="Map" style="width:100%; height:100%;">        
       
        <div id="mapapi" style="width:700px;height:600px;">
                           
          
        <iframe id="iframeMap" src="http://localhost:63952/WebForm1.aspx" width="700" height="600">
               
        </iframe>             
     
        <!---Include Map---------->           

      
        </div>
    </div>

<script>
    @*$(function () {
        $("#CoveragePanelModel__CoveragePanelModel_L_LAT").watermark("@L_DECIMAL");
        $("#CoveragePanelModel__CoveragePanelModel_L_LONG").watermark("@L_DECIMAL");
    });*@
</script>