<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="iWorkflowsBusinessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>-->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WBBBusinessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    <!--<requiredRuntime version="v4.0.20506" />-->
  </startup>
  <applicationSettings>
    <WBBBusinessLayer.Properties.Settings>
      <setting name="WBBBusinessLayer_AuthenDBServices_WebDBConfigService" serializeAs="String">
        <value>http://dblogintest.ais.co.th/wsAuthenDB/webDBconfigService.asmx</value>
      </setting>
      <setting name="WBBBusinessLayer_SubscriberStateWebService_SubscriberStateWebService" serializeAs="String">
        <value>http://10.240.1.214:2521/web/services/subscriberstatewebservice.asmx</value>
      </setting>
      <setting name="WBBBusinessLayer_GssoSsoWebService_GssoSsoWebService" serializeAs="String">
        <value>http://10.240.141.222:8080/GSSO-SSO/GssoSsoWeb</value>
      </setting>
      <setting name="WBBBusinessLayer_CampaignDataServices_CampaignDataService" serializeAs="String">
        <value>http://10.13.181.71:8280/CampaignWS/services/CampaignDataService.CampaignDataServiceHttpSoap11Endpoint/</value>
      </setting>
      <setting name="WBBBusinessLayer_WebReference_FBB_BindingQSService" serializeAs="String">
        <value>http://10.252.54.24:7111/FBB/Proxy_Services/A_GetCCCustInfo</value>
      </setting>
      <setting name="WBBBusinessLayer_SAP_FixedAssetService" serializeAs="String">
        <value>http://pidev:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_FBSS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_FIAM_FBSS_FIXEDASSET&amp;interfaceNamespace=urn%3Aais.co.th%3AFI%3AFBSS%3AZ_FIAM_FBSS_FIXEDASSET</value>
      </setting>
      <setting name="WBBBusinessLayer_SFFServices_SFFServiceService" serializeAs="String">
        <value>http://10.252.64.129:8803/SFFWebService/SFFService</value>
      </setting>
      <setting name="WBBBusinessLayer_AisEmployeServices_AisEmployeService" serializeAs="String">
        <value>https://dev-ldapws.intra.ais/AisEmployee/AisEmployeService.asmx</value>
      </setting>
      <setting name="WBBBusinessLayer_SmsSurveyFOAWebService_smsSurveyFOA" serializeAs="String">
        <value>http://10.197.51.164/services/smsSurveyFOA/index.php</value>
      </setting>
      <setting name="WBBBusinessLayer_FBBSAPOnline1_FBBSAPOnline" serializeAs="String">
        <value>http://fixedbbws.ais.co.th/ExWebServices/FBBSAPOnline.svc</value>
      </setting>
      <setting name="WBBBusinessLayer_FBBSAPOnlineRevalue_SI_Z_FIAM_FBSS_REVALUATION_ASSETService" serializeAs="String">
        <value>http://pidev:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_FBSS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_FIAM_FBSS_REVALUATION_ASSET&amp;interfaceNamespace=urn%3Aais.co.th%3AFI%3AFBSS%3AZ_FIAM_FBSS_REVALUATION_ASSET</value>
      </setting>
      <setting name="WBBBusinessLayer_FBBSAPOnlineMA_SI_Z_MMIM_FBSS_TRANS_POSTService" serializeAs="String">
        <value>http://pidev:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_FBSS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_MMIM_FBSS_TRANS_POST&amp;interfaceNamespace=urn%3Aais.co.th%3AMM%3AFBSS%3AZ_MMIM_FBSS_TRANS_POST</value>
      </setting>
      <setting name="WBBBusinessLayer_SBNNewWebService_SBNWebServiceService" serializeAs="String">
        <value>http://10.138.39.106:8180/airnet-service/SBNWebService</value>
      </setting>
      <setting name="WBBBusinessLayer_OMWService_WS_OM_OMService" serializeAs="String">
        <value>https://test-omws.ais.co.th/omws/WS_OM_OMService.svc</value>
      </setting>
      <setting name="WBBBusinessLayer_Siebel_CreateTroubleTicketService_AIS_spcCreate_spcTrouble_spcTicket" serializeAs="String">
        <value>http://172.16.252.162/eai/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;Username=UserName&amp;Password=Password</value>
      </setting>
      <setting name="WBBBusinessLayer_SiebelGenActivity_AIS_spcIM_spcCommon_spcCreate_spcActivity" serializeAs="String">
        <value>http://172.16.252.162/eai/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;Username=Username&amp;Password=Password</value>
      </setting>
      <setting name="WBBBusinessLayer_SiebelService_AIS_spcDRM_spcChannel_spcInfo" serializeAs="String">
        <value>http://172.16.252.162/eai/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;Username=Username&amp;Password=Password</value>
      </setting>
      <setting name="WBBBusinessLayer_IMService_ServicesService" serializeAs="String">
        <value>http://10.138.32.21:8080/prweb/PRSOAPServlet/SOAP/AISNIMIntFBBIntegration/Services</value>
      </setting>
      <setting name="WBBBusinessLayer_FBBSAPOnlineMA2_SI_Z_MMIM_FBSS_TRANS_POSTService" serializeAs="String">
        <value>http://pidev:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_FBSS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_MMIM_FBSS_TRANS_POST&amp;interfaceNamespace=urn%3Aais.co.th%3AMM%3AFBSS%3AZ_MMIM_FBSS_TRANS_POST</value>
      </setting>
      <setting name="One2NetBusinessLayer_SBNNewWebService_SBNWebServiceService" serializeAs="String">
        <value>https://dev-airnetregws.ais.co.th:8543/airnet-service/AIRInterfaceWorkflowService?wsdl</value>
      </setting>
      <setting name="WBBBusinessLayer_WTTxInventory_WTTxInventoryService" serializeAs="String">
        <value>http://10.104.140.72/WTTxResourceManagement/services/wttxinventory</value>
      </setting>
      <setting name="WBBBusinessLayer_BindingQSServices_tuxsalt_BindingQSService" serializeAs="String">
        <value>http://10.252.54.75:8101/e-topup_Project/Proxy_Services/A_ConfPMPay</value>
      </setting>
      <setting name="WBBBusinessLayer_D_LstPMETaxRcptServices_eBill_webservices_BindingQSService1" serializeAs="String">
        <value>http://10.252.54.75:8101/eBILL_Projects/Proxy_Services/D_LstPMETaxRcpt</value>
      </setting>
      <setting name="WBBBusinessLayer_SBNWebService_SBNWebServiceService" serializeAs="String">
        <value>http://10.13.181.46:8701/airnet-service/SBNWebService</value>
      </setting>
      <setting name="WBBBusinessLayer_FBSSOrderServices_OrderService" serializeAs="String">
        <value>http://10.138.26.230:7105/axis2/services/OrderService/</value>
      </setting>
      <setting name="WBBBusinessLayer_TTComplainSheet_TTComplainSheet" serializeAs="String">
        <value>http://10.138.26.228:7101/axis2/services/TTComplainSheet/</value>
      </setting>
      <setting name="WBBBusinessLayer_SBNV2WebService_AIRInterfaceWorkflowServiceService" serializeAs="String">
        <value>https://dev-airnetregws.ais.co.th:8543/airnet-service/AIRInterfaceWorkflowService</value>
      </setting>
      <setting name="WBBBusinessLayer_AuthenLDAPServices_CorporateService" serializeAs="String">
        <value>https://dev-ldapws.intra.ais/AisEmployee/AisEmployeService.asmx</value>
      </setting>
    </WBBBusinessLayer.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Formats.Asn1" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>
</configuration>