@{
    string B_CONFIRM = "CONFIRM";
    string B_CLOSE = "CLOSE";
    string B_EXPORT = "EXPORT Template";
}

<div style="padding: 15px;">
    <div class="row">
        <label>Import File</label>
        @(Html.Kendo().Upload()
              .Name("fapoReportInstallationfile")
              .HtmlAttributes(new
              {
                  accept = ".csv, text/csv, application/csv"
              })
              .Async(a => a
                  .Save("FapoReportInstallation_Save", "ReportInstallationCostbyOrder")
                  .Remove("FapoReportInstallationfile_Remove", "ReportInstallationCostbyOrder")
                  .AutoUpload(true))
              .Multiple(false)
              .Events(e => e.Success("onFapoReportInstallationfileSuccess"))
              .Events(e => e.Error("onFapoReportInstallationfileError"))
        )
        <div class="i-fg-data-entry-validation" id="validatefor-fapoLastMilefile"></div>
    </div>
    <div class="row i-gap-top-1">
        <div class="i-text-align-center">
            <a id="btnCancelUpdateFAPOStatusByFile" class="btn btn-danger"><i class="fa fa-ban fa-lg"></i>&nbsp;&nbsp;@B_CLOSE</a>
            <a id="btnExportTemplate" class="btn btn-success"><i class="fa fa-file-excel-o fa-lg"></i>&nbsp;&nbsp;@B_EXPORT</a>
            <a id="btnConfirmUpdateFAPOStatusByFile" class="btn btn-success"><i class="fa fa-check-square-o fa-lg"></i>&nbsp;&nbsp;@B_CONFIRM</a>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btnConfirmUpdateFAPOStatusByFile").on('click', function () {
            submitUpdateFAPOStatusByFile();
        });

        $("#btnCancelUpdateFAPOStatusByFile").on('click', function () {
            resetUpdateFapoStatusByFile();
        });
      //  $("#btnExportTemplate").attr("disabled", true);
        $("#btnExportTemplate").on('click', function () {
            ExportTemple();
        });

    });

    function resetUpdateFapoStatusByFile() {
        $(".k-upload-files").remove();
        $(".k-upload-status").remove();
        $("#validatefor-fapoLastMilefile").html("");
        $("#UpdateStatusByFileConfig").data("kendoWindow").close();
    }
    function ExportTemple() {
        var Status ="";
        window.open("/ReportInstallationCostbyOrder/ExportSample?Status=" + Status + "");
    }

    function submitUpdateFAPOStatusByFile() {
        console.log("file name ", $(".k-filename").text());
        if (!ValidationUpdateFapoStatusbyFileValue()) { return; }

        var data = JSON.stringify({
            "status": "",
            "fileName": $(".k-filename").text()
        });
        $.ajax({
            type: "POST",
            contentType: 'application/json',
            url: "/ReportInstallationCostbyOrder/ReportInstallationCostbyOrderUpdateByFile",
            data: data,
            async: false,
            dataType: "json",
            success: function (response) {
                if (response) {
                    resetUpdateFapoStatusByFile();
                    if (response === "Update file success.") {
                        showFeedback("success", response, "System Information");
                    } else {
                        showFeedback("error", response, "System Information");
                    }
                }
            },
            failure: function (msg) {
                $("#validatefor-fapoLastMilefile").html(ValidationIcon() + msg);
            }

        });
    }

    function onFapoReportInstallationfileSuccess(e) {
        $(".k-filename").text(e.response.fileName);
        if (!e.response.status) {
            $("#validatefor-fapoLastMilefile").html(ValidationIcon() + e.response.message);
        } else {
            $("#validatefor-fapoLastMilefile").html("");
        }
    };

    function onFapoReportInstallationfileError(e) {
        if (!e.response.status) {
            $("#validatefor-fapoLastMilefile").html(ValidationIcon() + e.response.message);
        }
    };

    function ValidationUpdateFapoStatusbyFileValue() {
        var error = true;
        if ($("#validatefor-fapoLastMilefile").html()) {
            error = false;
        }

        if (!$(".k-filename").text()) {
            $("#validatefor-fapoLastMilefile").html(ValidationIcon() + "Please upload file.");
            error = false;
        }

        return error;
    }
</script>
