<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  
    <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\MATdoc\Log\logfile.log" />
      <!--<file value="Log\logfile.log" />-->
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="2MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
      
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_QueryService"  receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
                <binding name="BasicHttpBinding_CommandService"  receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59221/CommandService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CommandService" contract="CommandService.CommandService" name="BasicHttpBinding_CommandService" />
            <endpoint address="http://localhost:59221/QueryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_QueryService" contract="QueryService.QueryService" name="BasicHttpBinding_QueryService" />
        </client>
    </system.serviceModel>

<appSettings>
    
    <add key="DayCallback" value="7" />
    <add key="DayArchiveForOrigin" value="7" />
    <!--<add key="DayArchiveForDestination" value="30" />-->
    
    
    
    <!-- dev & stage Matdoc-->
    <add key="KEY" value="2018FBBNASDEV" />
    <add key="TEMPPATH" value="\\cwdc-testbe.warmtestbe.intra.ais\FS_TEST_PAYG_REPORTLMD\temp_airnet2" />
    <add key="TEMP_DOMAIN" value="cwdc-testbe.warmtestbe.intra.ais" />
    
    <add key="SAP" value="\\cwdc-testbe.warmtestbe.intra.ais\FS_TEST_PAYG_REPORTLMD\matdoc" />
    <add key="SAP_DOMAIN" value="cwdc-testbe.warmtestbe.intra.ais" />

    <add key="TARGET" value="\\cwdc-testbe.warmtestbe.intra.ais\FS_TEST_PAYG_REPORTLMD\target_airnet2" />
    <add key="TARGET_DOMAIN" value="cwdc-testbe.warmtestbe.intra.ais" />
  
    <!--<add key="archive" value="D:\Batch\FBB_Cancel_Serial_SFF_Archive" />-->
    <add key="archive" value="\\cwdc-testbe.warmtestbe.intra.ais\FS_TEST_PAYG_REPORTLMD\archive_airnet2" />
    <add key="archive_domain" value="cwdc-testbe.warmtestbe.intra.ais" />
    <!--<add key="archiveLog" value="D:\Batch\FBB_Cancel_Serial_SFF_Archive\log" />-->
  
    <!-- dev & stage Tanairnet-->
    <!--<add key="KEY" value="2018FBBNASDEV"/>
    <add key="TEMPPATH" value="\\10.252.167.22\sht_wiredbb\DATA\out\PAYG"/>
    <add key="TEMP_DOMAIN" value="ambstorage1b"/>
    
    <add key="SAP" value="\\10.252.167.22\sht_wiredbb\DATA\out\FBB"/>
    <add key="SAP_DOMAIN" value="ambstorage1b"/>

    <add key="TARGET" value="\\10.252.167.22\sht_wiredbb\DATA\out\FBB\Archive"/>
    <add key="archiveLocal" value="\\10.252.167.22\sht_wiredbb\DATA\out\FBB\BACKUP_SN"/>
    <add key="TARGET_DOMAIN" value="ambstorage1b"/>-->

    <!--product-->
    <!--<add key="KEY" value="2018FBBNASPROD" />
    <add key="TEMPPATH" value="\\10.13.214.233\SH_WIREDBB\DATA\out\PAYG" />
    <add key="TEMP_DOMAIN" value="corp-ais900" />
    
    <add key="SAP" value="\\10.13.214.233\sh_sftp_ext2_data_in_sappi_fbb" />
    <add key="SAP_DOMAIN" value="corp-ais900" />

    <add key="TARGET" value="\\10.13.214.233\SH_WIREDBB\DATA\out\FBB\Archive" />
    <add key="archiveLocal" value="\\10.13.214.233\SH_WIREDBB\DATA\out\FBB\BACKUP_SN" />
    <add key="TARGET_DOMAIN" value="corp-ais900" />-->
  
  </appSettings>
  
 <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>