<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<!-- Register a section handler for the log4net section -->
	<configSections>
		<section name="log4net"
				 type="System.Configuration.IgnoreSectionHandler" />
	</configSections>

	<log4net debug="true">
		<appender name="DebugAppender"
				  type="log4net.Appender.DebugAppender">
			<immediateFlush value="true" />
			<layout type="log4net.Layout.SimpleLayout" />
		</appender>

		<appender name="RollingLogFileAppender"
				  type="log4net.Appender.RollingFileAppender">
			<!--<file value="Log\test.log"/>-->

			<!--<datePattern value="yyyyMMdd"/>
      <rollingStyle value="Date"/>
      <MaxSizeRollBackups value="180" />-->

			<!--<file value="~/Log/logfile.txt" />-->
			<file value="D:\Logs\fixedbbws.WebServices.log\logfile.log" />
			<encoding value="utf-8" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value="yyyyMMdd" />
			<maxSizeRollBackups value="20" />
			<maximumFileSize value="2MB" />

			<filter type="log4net.Filter.LevelRangeFilter">
				<acceptOnMatch value="true"/>
				<levelMin value="DEBUG"/>
				<levelMax value="FATAL"/>
			</filter>
			<filter type="log4net.Filter.LevelMatchFilter">
				<acceptOnMatch value="true" />
				<levelToMatch  value="DEBUG" />
			</filter>
			<filter type="log4net.Filter.DenyAllFilter" />
			<layout type="log4net.Layout.PatternLayout">
				<!--<conversionPattern value="%property{REQUESTID},%property{[DATETIME_START{yyyy-MM-dd HH:mm:ss}]},%property{[DATETIME_END{yyyy-MM-dd HH:mm:ss}]},%property{ELASPED_TIME},%stacktrace, %stacktracedetail, %-5p %-25d thr:%-5t %9rms %c{1},%M: %m%n"/>-->
				<!--<param name="Header"
               value="[Header]*-*-*-*-*-*-****************-*-*-*-*-*"/>-->
				<!--<param name="Footer"
               value="[Footer]*-*-*-*-*-*****************-*-*-*-*-*"/>-->
				<!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newlineUSER_ID:%property{USER_ID}, REQUEST_ID:%property{REQUEST_ID}, STAGE_ID:%property{STAGE_ID}, SERVICE_ID:%property{SERVICE_ID}, ORDER_ID:%property{ORDER_ID}, STATUS:%property{STATUS}, STATUS_REASON:%property{STATUS_REASON}, URL:%property{URL}, LOG_SOURCE:%property{LOG_SOURCE}, LOG_TYPE:%property{LOG_TYPE}, ELASPED_TIME:%property{ELASPED_TIME}%newline%newline"/>-->
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
			</layout>
		</appender>

		<root>
			<level value="Info" />
			<appender-ref ref="RollingLogFileAppender" />
			<!--<appender-ref ref="AdoNetAppender_Oracle" />
      <appender-ref ref="DebugAppender" />-->
		</root>

	</log4net>
</configuration>