<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WBBBusinessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="new.oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    <!--<requiredRuntime version="v4.0.20506" />-->
  </startup>
  <appSettings>
    <!--<add key="CONNECTIONSTRINGTEMPLATE" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.249.42)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=sbndevdb)));User Id={UserName};Password={Password};" />-->
    <!--<add key="CONNECTIONSTRINGTEMPLATE" value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST={ServerName})(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME={DatabaseName})));;User Id={UserName};Password={Password};" />-->
    <add key="UsePathLocal" value="Y" />
    <add key="PathAppsetting" value="D:\\sun\\FBB_WF_Git\\fbb_web_register_New\\PathConfig\\WBBWebService" />
    <add key="CONNECTIONSTRINGTEMPLATE" value="data source={DatabaseName};User ID={UserName};Password={Password}" />
    <add key="PROJECTCODEDB" value="FXBBDBSTG" />
    <add key="PROJECTCODEDBAIRNET" value="AIRWKFDBTST" />
    <add key="DBSCHEMA" value="WBB" />
    <add key="DBSCHEMAFBSS" value="devfoa" />
    <add key="DBSCHEMAAIRNET" value="SBN" />
    <add key="ONDEVENVIRONMENT" value="true" />
    <add key="PROJECTCODEFBBSHAREPLEX" value="FBBFXSDBTST" />
    <!--add key="PROJECTCODEFBBHVR" value="FBBHVR" /-->
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.84.115.139)(PORT=1521))(CONNECT_DATA=(SERVER=FBBWFPGSIT.snetfbbworkflow.vcnfbbworkflowo.oraclevcn.com)));User Id=wbb_app;Password=app#wbb" name="Context" providerName="Oracle.ManagedDataAccess.Client" />
    <add connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.84.115.139)(PORT=1521))(CONNECT_DATA=(SERVER=FBBWFPGSIT.snetfbbworkflow.vcnfbbworkflowo.oraclevcn.com)));User Id=air_admin;Password=air_admin" name="AirNetContext" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="FBBShareplexContext" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.138.44.137)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=fbbstg)));User Id=fbb_app;Password=fbb_app#123" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="FBBHVRContext" connectionString="Server=10.138.25.66;Port=5432;Database=fbbhvrdb;User Id=fbb_app;Password=pass#2209;" providerName="Npgsql" />
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime executionTimeout="300" maxRequestLength="2147483647" />
    <!--<webServices>
      <soapExtensionTypes>
        -->
    <!--<add type="WBBWebService.Extension.IncomingOutgoingSoapMessageInterceptExtension, WBBWebService, Version=1.0.0.0, Culture=neutral" priority="1" group="0"/>-->
    <!--
        <add type="WBBWebService.Extension.TraceExtension, WBBWebService, Version=1.0.0.0, Culture=neutral" priority="1" group="0" />
      </soapExtensionTypes>
    </webServices>-->
  </system.web>
  <applicationSettings>
    <WBBBusinessLayer.Properties.Settings>
      <setting name="WBBBusinessLayer_AuthenDBServices_WebDBConfigService" serializeAs="String">
        <value>http://dblogintest.ais.co.th/wsAuthenDB/webDBconfigService.asmx</value>
      </setting>
      <setting name="WBBBusinessLayer_AuthenLDAPServices_Corporate" serializeAs="String">
        <value>http://dev-authenldapws.ais.co.th/corporate.asmx</value>
      </setting>
      <setting name="WBBBusinessLayer_SFFServices_SFFServiceService" serializeAs="String">
        <!--<value>http://10.13.181.45:8303/SFFWebService/SFFService</value>-->
        <!--<value>http://10.252.64.137:6100/SFFWebService/SFFService?WSDL</value>-->
        <!--<value>http://10.252.64.129:6100/SFFWebService/SFFService</value>-->
        <value>http://10.252.64.152:6100/SFFWebService/SFFService</value>
        <!--<value>http://10.252.64.153:6100/SFFWebService/SFFService</value>-->
      </setting>
      <setting name="WBBBusinessLayer_SBNWebService_SBNWebServiceService" serializeAs="String">
        <value>https://dev-airnetregws.ais.co.th:8543/airnet-service/SBNWebService</value>
      </setting>
      <setting name="WBBBusinessLayer_SubscriberStateWebService_SubscriberStateWebService" serializeAs="String">
        <value>http://10.252.160.104:2521/web/services/subscriberstatewebservice.asmx</value>
      </setting>
      <setting name="WBBBusinessLayer_FBSSOrderServices_OrderService" serializeAs="String">
        <!--<value>http://10.138.36.152:7505/axis2/services/OrderService/</value>-->
        <value>http://10.252.64.28:7105/axis2/services/OrderService/</value>
      </setting>
      <setting name="WBBBusinessLayer_SBNNewWebService_SBNWebServiceService" serializeAs="String">
        <!--<value>http://10.252.163.184:8180/airnet-service/SBNWebService</value>-->
        <value>https://dev-airnetregws.ais.co.th:8543/airnet-service/SBNWebService</value>
      </setting>
      <setting name="WBBBusinessLayer_GssoSsoWebService_GssoSsoWebService" serializeAs="String">
        <value>http://10.240.141.222:8080/GSSO-SSO/GssoSsoWeb</value>
      </setting>
      <setting name="WBBBusinessLayer_WebReference_FBB_BindingQSService" serializeAs="String">
        <!--<value>http://10.252.54.24:7311/FBB/Proxy_Services/A_GetCCCustInfo</value>-->
        <value>http://10.252.54.24:7200/FBB/Proxy_Services/A_GetCCCustInfo</value>
      </setting>
      <setting name="WBBBusinessLayer_CampaignDataServices_CampaignDataService" serializeAs="String">
        <value>http://10.13.181.71:8280/CampaignWS/services/CampaignDataService.CampaignDataServiceHttpSoap11Endpoint/</value>
      </setting>
      <setting name="WBBBusinessLayer_SAP_FixedAssetService" serializeAs="String">
        <value>https://pidev.itas.co.th:443/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_FBSS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_FIAM_FBSS_FIXEDASSET&amp;interfaceNamespace=urn%3Aais.co.th%3AFI%3AFBSS%3AZ_FIAM_FBSS_FIXEDASSET</value>
      </setting>
      <setting name="WBBBusinessLayer_Siebel_CreateTroubleTicketService_AIS_spcCreate_spcTrouble_spcTicket" serializeAs="String">
        <value>http://10.252.60.103/eai_sbtstrl/start.swe</value>
      </setting>
      <setting name="WBBBusinessLayer_SiebelGenActivity_AIS_spcIM_spcCommon_spcCreate_spcActivity" serializeAs="String">
        <value>http://10.252.60.103/eai_sbtstrl/start.swe</value>
      </setting>
      <setting name="WBBBusinessLayer_AisEmployeServices_AisEmployeService" serializeAs="String">
        <value>http://dev-ldapservicews.ais.co.th/AisEmployee/AisEmployeService.asmx</value>
      </setting>
      <setting name="WBBBusinessLayer_OMWService_WS_OM_OMService" serializeAs="String">
        <!--<value>https://test-omws.ais.co.th/omws/WS_OM_OMService.svc</value>-->
        <!--<value>https://test-omws.ais.co.th/omworkdayws/WS_OM_OMService.svc</value>-->
        <value>https://omws.ais.co.th/omws/WS_OM_OMService.svc</value>
      </setting>
      <setting name="WBBBusinessLayer_SiebelService_AIS_spcDRM_spcChannel_spcInfo" serializeAs="String">
        <value>http://10.252.60.103/eai_sbtstrl/start.swe</value>
      </setting>
      <setting name="WBBBusinessLayer_IMService_ServicesService" serializeAs="String">
        <value>http://10.138.32.21:8080/prweb/PRSOAPServlet/SOAP/AISNIMIntFBBIntegration/Services</value>
      </setting>
      <setting name="WBBBusinessLayer_TTComplainSheet_TTComplainSheet" serializeAs="String">
        <value>http://10.252.64.28:7101/axis2/services/TTComplainSheet/</value>
      </setting>
      <setting name="WBBBusinessLayer_SBNV2WebService_AIRInterfaceWorkflowServiceService" serializeAs="String">
        <value>https://dev-airnetregws.ais.co.th:8543/airnet-service/AIRInterfaceWorkflowService</value>
        <!--<value>http://staging-airnetregws.ais.co.th:8180/airnet-service/AIRInterfaceWorkflowService</value>-->
      </setting>
      <setting name="WBBBusinessLayer_WTTxInventory_WTTxInventoryService" serializeAs="String">
        <value>http://10.104.140.72/WTTxResourceManagement/services/wttxinventory</value>
      </setting>
    </WBBBusinessLayer.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WBBWebService.CommandService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_CommandService" contract="WBBWebService.CommandService" />
      </service>
      <service name="WBBWebService.QueryService">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_QueryService" contract="WBBWebService.QueryService" />
      </service>
      <service behaviorConfiguration="serviceBehavior" name="WBBWebService.FileUploadService">
        <endpoint address="" name="basicHttpStream" binding="basicHttpBinding" bindingConfiguration="httpLargeMessageStream" contract="WBBWebService.IFileUploadService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:59221/FileUploadService.svc" />
            <!--<add baseAddress="http://localhost/ExecutionResearchService/ExecutionResearchService.svc" />-->
          </baseAddresses>
        </host>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_CommandService" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_QueryService" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="httpLargeMessageStream" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Streamed" messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Formats.Asn1" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <dependentAssembly>
      <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
    </dependentAssembly>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>