@{
    Layout = "~/Views/Shared/_NewLayoutReferencesLeaveMessageI.cshtml";
    ViewBag.Title = "Expired";
}

<div id="divLoginError" class="row_ais">
    <div class="col-sm-6 col-md-6" id="col-err">
        <div class="col-sm-12 col-md-12 text-center" id="col-err" style="padding-top: 170px;">
            <h3 id="lb-failed" style="line-height: 160%">@ViewBag.MessageExpiredV</h3>
            <br>
            <br>
        </div>
        <br />
        <br />
    </div>
</div>
