        <div style="margin-left:20px;">
            <font face="verdana" color="green"><b> Report Port Assignment </b></font>
            <p></p>
        </div>

    <div class="i-enter-4"></div>

        <div style="border:1px solid; margin-left:10px; margin-right:20px; margin-bottom:20px; margin-top:-20px; width:98%;">

        <div style ="border:1px solid; padding:10px 40px; margin-left:20px; margin-right:20px; margin-bottom:20px; margin-top:20px; ">

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                    @*<label>ชื่อโครงการ <span id="requiredfor-CC"></span></label>*@
                            
                    <div class="i-fg-data-entry">
                    @(Html.Kendo().DropDownList()
                    .Name("CC")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                    .BindTo(new List<SelectListItem>() {
                       new SelectListItem() {
                       Text = "ชื่อโครงการ",
                       Value = ""
                    },
                       new SelectListItem() {
                       Text = "บ้านเดี่ยว นันทวัน ปิ่นเกล้า – ราชพฤกษ์",
                       Value = "1"
                    },
                       new SelectListItem() {
                       Text = "The Room สุขุมวิท 69",
                       Value = "2"
                    },
                       new SelectListItem() {
                       Text = "บ้านกลางเมือง เกษตร – นวมินทร์",
                       Value = "3"
                    },
                       new SelectListItem() {
                       Text = "ลุมพินี พาร์ค พระราม 9",
                       Value = "4"
                    },
                       new SelectListItem() {
                       Text = "Vista Park สาทร-ปิ่นเกล้า",
                       Value = "5"
                    }
                })
             )
             </div>
                    <div class="i-fg-data-entry-validation" id="validatefor-CC"></div>
             </div>
                    
                    <div class="col-sm-6 col-md-3">
                    @*<label>DSLAMID <span id="requiredfor-CC2"></span></label>*@
                    
                    <div class="i-fg-data-entry">
                    @(Html.Kendo().DropDownList()
                    .Name("CC2")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .HtmlAttributes(new { @class = "form-control i-form-control-extend" })
                    .BindTo(new List<SelectListItem>() {
                        new SelectListItem() {
                        Text = "DSLAMID",
                        Value = ""
                     },
                        new SelectListItem() {
                        Text = "A",
                        Value = "1"
                     },
                        new SelectListItem() {
                        Text = "B",
                        Value = "2"
                                        },
                        new SelectListItem() {
                        Text = "C",
                        Value = "3"
                      }
                   })
                )
                </div>
                    <div class="i-fg-data-entry-validation" id="validatefor-CC2"></div>
                </div>

                    <div class="col-sm-6 col-md-3">
                    <a class="btn btn-success" onclick="showFeedback('success','');">Gen Report</a>
                    </div>

            </div>
        </div>

        <div style ="border:1px solid; padding:10px 40px; margin-left:20px; margin-right:20px; margin-bottom:20px; margin-top:20px; ">
            <p></p>
            <p><font size="3" color="red";>Report กำลังคำนวณ ระบบจะแจ้งเตือนทาง E-Mail หลังจากทำงานเสร็จ คุณสามารถปิด Page นี้ได้ทันที</font></p>
            <font size="3" color="red";>คุณสามารถปิด Page นี้ได้ทันที</font>
        </div>

</div>
