
@{   
    Layout = "~/Views/Fbbsaleportal/_Layout.cshtml";

}

    
    <div class="page-header i-header-fit">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h3 style="margin-top: 0">Home</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 i-text-align-center i-gap-top-2">
        <i class="fa fa-desktop fa-5x"></i>
        <div class="i-enter-2"></div>
        <label>Welcome to FBB Sale Portal<br />@Session["ProgramVersion"]</label>        
    </div>
</div>

<div class="row">
    <div class="col-md-12 i-text-align-center i-gap-top-4">
        <img src="~/Content/saleportal/images/bg-login-top.png" width="456" height="188"/>
    </div>
</div>

