@charset "UTF-8";
/* CSS Document */
#box1_holder{ background:url(../images/postpaid/homebg_large.png) no-repeat center bottom #eaeaea; overflow:hidden; padding-top:35px; min-height:320px; }
#box1N_holder{ background:url(../images/postpaid/homebg_large_2.png) no-repeat center bottom #eaeaea; overflow:hidden; padding-top:35px; min-height:320px; padding-bottom:4%;}
.fibrelogo { float:left;}
.fibrelogo.coverage-top-menu{ float:none;padding: 30px 0px;  background-color: #e7e7e7;}

.welcometext{ font-size:64px; color:#8dc63f; font-family: 'db_helvethaicaais_x55_regular'; padding-left:25px; float: left; margin-top: 30px;}
.headtext{ font-size:36px; color:#8dc63f; font-family: 'db_helvethaicaais_x65_med'; padding-left:25px; float: left; margin-top: 50px;}
.subheader{ font-size:34px; color:#000000; font-family: 'db_helvethaicaais_x55_regular'; padding-right: 100px; background:url(../images/postpaid/speedeffect.png) right center no-repeat; max-width: 375px; margin-top: 30px;}
.subheader span{color:#8dc63f;}
.detailtext{ font-size:30px; color:#000000; line-height:42px; font-family: 'db_helvethaicaais_x55_regular'; }
.boxform{ margin-top:60px;}
.inputform{ outline:none; width:100%; max-width:462px; line-height: 40px; font-size:16px; padding-left:10px; font-family: 'db_helvethaicaais_x55_regular'; margin:5px 0; border:1px solid #cccccc; }
.cardtype{ margin-right: 0%; max-width: 462px;}
.pay-topspace{  margin-top: 25px; }

.top-menu-coverage{ border:1px solid #cccccc; }
ul.blacktopmenu li{ border-left:1px solid #cccccc; height:100%;  min-height:146px; padding:5px; color:#000000; outline: none; }
ul.blacktopmenu li:hover{ background-color:#8dc63f; cursor:pointer; }
ul.blacktopmenu li.current{ background-color:#8dc63f;cursor:pointer; }
ul.blacktopmenu li .num{ text-align:left; font-size:14px; color:#cccccc; line-height:30px; }
ul.blacktopmenu li span{ font-size:14px; color:#000000; line-height:22px; font-family: 'db_helvethaicaais_x55_regular';}
ul.blacktopmenu li:hover span,ul.blacktopmenu li:hover .num{ color:#ffffff; }
ul.blacktopmenu li.current span,ul.blacktopmenu li.current .num{ color:#ffffff; }
ul.blacktopmenu li span.h-icon.step1::before{
  content: url(../images/postpaid/step1_off.png);
  display:block;
}
ul.blacktopmenu li:hover span.h-icon.step1::before,ul.blacktopmenu li.current span.h-icon.step1::before{
  content: url(../images/postpaid/step1_on.png);
}

ul.blacktopmenu li span.h-icon.step2::before{
  content: url(../images/postpaid/step2_off.png);
  display:block;
}
ul.blacktopmenu li:hover span.h-icon.step2::before,ul.blacktopmenu li.current span.h-icon.step2::before{
  content: url(../images/postpaid/step2_on.png);
}
ul.blacktopmenu li span.h-icon.step3::before{
  content: url(../images/postpaid/step3_off.png);
  display:block;
}
ul.blacktopmenu li:hover span.h-icon.step3::before,ul.blacktopmenu li.current span.h-icon.step3::before{
  content: url(../images/postpaid/step3_on.png);
}
ul.blacktopmenu li span.h-icon.step4::before{
  content: url(../images/postpaid/step4_off.png);
  display:block;
}
ul.blacktopmenu li:hover span.h-icon.step4::before,ul.blacktopmenu li.current span.h-icon.step4::before{
  content: url(../images/postpaid/step4_on.png);
}
ul.blacktopmenu li span.h-icon.step5::before{
  content: url(../images/postpaid/step5_off.png);
  display:block;
}
ul.blacktopmenu li:hover span.h-icon.step5::before,ul.blacktopmenu li.current span.h-icon.step5::before{
  content: url(../images/postpaid/step5_on.png);
}
ul.blacktopmenu li span.h-icon.step6::before{
  content: url(../images/postpaid/step6_off.png);
  display:block;
}
ul.blacktopmenu li:hover span.h-icon.step6::before,ul.blacktopmenu li.current span.h-icon.step6::before{
  content: url(../images/postpaid/step6_on.png);
}


ul.blacktopmenu.large-block-grid-3 > li {
    width: 33.33334%;
    list-style: none;
}

.labeltext{ font-size:16px; color:#000000; line-height:26px; font-family: 'db_helvethaicaais_x55_regular';}
.submit-manual{font-size:18px; line-height:28px; color:#000000; font-family: 'db_helvethaicaais_x55_regular'; margin:10px 0;}
.submit-manual span.loginBt{ color:#ffffff; background-color:#8dc63f; padding:5px 30px; margin-right:20px; cursor:pointer;}
.submit-manual span.loginBt:hover{ color:#ffffff; background-color:#000000; }
.submit-manual span.manualBt{ text-decoration:underline;}
.boxfootshader{ background: transparent url(../images/postpaid/shaderbg.png) no-repeat center top; overflow:hidden; min-height:125px; margin-top:20px;}
.foottext{ margin:20px 0; padding-left:0;}
.condition-head{ color:#ffffff; font-size:22px; font-family: 'db_helvethaicaais_x65_med'; }
.foottext ol{ color:#ffffff; font-size:16px; line-height: 24px; margin-top:10px; font-family: 'db_helvethaicaais_x55_regular';}

.content-menu{ margin-top:3%; margin-bottom:10%;}


.menupad{ padding-right:15px;}

.fibre-menu {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: normal;
	font-size: 1.25em;
	background-color:#7e7e7e;
	padding-bottom:123px;
	border-top:5px solid #999999;
}
.innercontent{ border-top:9px solid #8dc63f;}

/* Nav */
.fibre-menu nav {
	text-align: left;
}

.bg-inn-home{ background-image:url(../images/postpaid/home_inn_bg.png); background-position: bottom right; background-repeat:no-repeat;}
.bg-inn-chpack{ background-image:url(../images/postpaid/chpack_inn_bg.png); background-position: bottom right; background-repeat:no-repeat;}
.bg-inn-regpack{ background-image:url(../images/postpaid/regpack_inn_bg.png); background-position: bottom right; background-repeat:no-repeat;}
.bg-inn-payment{ background-image:url(../images/postpaid/payment_inn_bg.png); background-position: bottom right; background-repeat:no-repeat;}
.bg-inn-caution{ background-image:url(../images/postpaid/caution_inn_bg.png); background-position: bottom right; background-repeat:no-repeat;}
.bg-inn-exit{ background-image:url(../images/postpaid/exit_inn_bg.png); background-position: bottom right; background-repeat:no-repeat;}
.bg-inn-chkstatus{ background-image:url(../images/postpaid/check_inn_bg.png); background-position: bottom right; background-repeat:no-repeat;}

.bg-inn-area{ background-image:url(../images/postpaid/area_inn_bg.png); background-position: bottom right; background-repeat:no-repeat;}
.bg-inn-select{ background-image:url(../images/postpaid/select_inn_bg.png); background-position: bottom right; background-repeat:no-repeat;}

.fibre-menu nav ul {
	position: relative;
	display: -ms-flexbox;
	/*display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;*/
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: left;
	-moz-justify-content: left;
	-ms-justify-content: left;
	justify-content: left;
}

.fibre-menu nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: left;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-family: 'db_helvethaicaais_x55_regular';
	border-bottom: 1px solid #999999;
	min-width:300px;
}

.fibre-menu nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 60px;
	color:#ffffff;
	padding-left:10px;
}

.fibre-menu nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.fibre-menu nav li:hover a {
	background-color:#8dc63f;
}

.fibre-menu nav li.current a {
	background-color:#8dc63f;
}

.fibre-menu nav a:focus {
	outline: none;
}
/* Icons */
.fibre-menu nav ul li .t-icon::before {
	z-index: 10;
	display: inline-block;
	margin: 0 0.4em 0 0;
	vertical-align: middle;
	text-transform: none;
	font-weight: normal;
	font-variant: normal;
	font-size: 1.3em;
	line-height: 1;
	speak: none;
	-webkit-backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fibre-menu nav ul li .t-icon-home::before {
	content: url(../images/postpaid/home_off.png);
}
.fibre-menu nav ul li .t-icon-chpack::before {
	content: url(../images/postpaid/chpackage_off.png);
}
.fibre-menu nav ul li .t-icon-regpack::before {
	content: url(../images/postpaid/regpackage_off.png);
}
.fibre-menu nav ul li .t-icon-payment::before {
	content: url(../images/postpaid/payment_off.png);
}
.fibre-menu nav ul li .t-icon-caution::before {
	content: url(../images/postpaid/caution_off.png);
}
.fibre-menu nav ul li .t-icon-exit::before {
	content: url(../images/postpaid/exit_off.png);
}


.detail-for-menu{ width:100%; border:1px solid #999999; height:100%; min-height:500px; background-color:#ffffff;}

.inner-head{ font-family: 'db_helvethaicaais_x55_regular'; font-size:20px; line-height:46px; border-bottom:1px solid #cccccc; margin: 0 30px; color:#8dc63f; }

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input[type=text] {
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

@media screen and (max-width: 1024px){
.paddingmedium{ padding-left:4.33335%; }
.foottext {
    margin: 20px 0;
    padding-left: 5%;
}
}
@media screen and (max-width:800px){
.fibre-menu nav a {
    padding-left: 5px;
}
.fibre-menu nav a span {
    font-size: 0.60em;
}
.fibre-menu nav ul li .t-icon::before {
    margin: 0 0.2em 0 0;
}
}

@media screen and (max-width:768px){
ul.blacktopmenu li span.h-icon.step1::before,
ul.blacktopmenu li span.h-icon.step2::before,
ul.blacktopmenu li span.h-icon.step3::before,
ul.blacktopmenu li span.h-icon.step4::before,
ul.blacktopmenu li span.h-icon.step5::before,ul.blacktopmenu li span.h-icon.step6::before {
    margin-top: -5%;
}
ul.blacktopmenu li span {
    line-height: 20px;
}

}



@media screen and (max-width: 640px){
.paddingmedium{ padding-left:15px; }	
#box1_holder {
    padding-top: 10px;
	background: url(../images/postpaid/homebg_mob.png) no-repeat center bottom #f9f9fa;
    overflow: hidden;
    min-height: 320px;
    background-size: auto 100%;
	
}
#box1N_holder {
    background: url(../images/postpaid/homebg_mob.png) no-repeat center bottom #f9f9fa;
    overflow: hidden;
    padding-top: 10px;
    min-height: 320px;
    background-size: 100% auto;
    /*background-position: calc(50% - 70px) bottom;*/
}
.welcometext {
    font-size: 50px;
    padding-left: 0px;
    float: none;
    margin-top: 18px;
    text-align: center;
}	
.fibrelogo{ max-width: 120px; float:none; margin:0 auto; }
	
input.inputform {
    max-width: 100%;
	border: 1px solid #cccccc !important;
	
}
.cardtype{ margin-right: 0%; max-width: 100%;}
.detailtext {
    font-size: 26px;
    line-height: 34px;
}
.labeltext {
    font-size: 16px;
    line-height: 22px;
}
.submit-manual span.loginBt {
    padding: 3px 22px;
    margin-right: 20px;
}
.boxform {
    margin-top: 40px;
}

.foottext ol {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}

.subheader {
    font-size: 32px;
    padding-right: 85px;
    max-width: 375px;
    margin-top: 20px;
}

.headtext {
	width:100%;
	text-align:center;
    font-size: 32px;
    color: #8dc63f;
    font-family: 'db_helvethaicaais_x65_med';
    padding-left: 0px;
    float: none;
    margin-top: 20px;
	display: block;
}
.condition-head {
    color: #000000;
	font-size: 18px;
}
.foottext ol {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
}
span.t-icon {
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    background-color: #8dc63f;
    padding: 3px 0;
    font-family: 'db_helvethaicaais_x55_regular';
    display: block;
    text-align: left;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 10px;
	padding-left:0px;
	margin-bottom:3px;
}
span.t-icon span {
	vertical-align: middle;
    font-size: 21px;
    display: inline-block;
    margin-top: -23px;
    margin-left: 15px;
}

span.t-icon-home::before {
	content: url(../images/postpaid/home_off.png);
}
span.t-icon-chpack::before {
	content: url(../images/postpaid/chpackage_off.png);
}
span.t-icon-regpack::before {
	content: url(../images/postpaid/regpackage_off.png);
}
span.t-icon-payment::before {
	content: url(../images/postpaid/payment_off.png);
}
span.t-icon-caution::before {
	content: url(../images/postpaid/caution_off.png);
}
span.t-icon-exit::before {
	content: url(../images/postpaid/exit_off.png);
}

.bg-inn-home,.bg-inn-chpack,.bg-inn-regpack,.bg-inn-payment,.bg-inn-caution,.bg-inn-exit{ background-size: 70% ;     background-position: 130px 30px;}

.content-menu {
    margin-top: 3%;
    margin-bottom: 10%;
}

.top-menu-coverage {
    border: none;
}
.fibrelogo.coverage-top-menu {
    float: none;
    padding: 0px 0px 10px 0px;
    background: none;
}
ul.blacktopmenu li {
    min-height: 126px;
}
ul.blacktopmenu li:first-child  {
   border-left: none;
}
ul.blacktopmenu li span {
    line-height: 18px;
}
ul.blacktopmenu li .num {
    line-height: 10px;
}
ul.blacktopmenu li span.h-icon.step1::before,
ul.blacktopmenu li span.h-icon.step2::before,
ul.blacktopmenu li span.h-icon.step3::before,
ul.blacktopmenu li span.h-icon.step4::before,
ul.blacktopmenu li span.h-icon.step5::before,
ul.blacktopmenu li span.h-icon.step6::before {
    margin-top: -1.5%;
}
ul.blacktopmenu li {
    min-height: 120px;
}
.inner-head {
    font-size: 16px;
    margin: 0 10px;
}
}

@media screen and (max-width: 420px){
.subheader {
    font-size: 32px;
    padding-right: 40px;
    max-width: 375px;
    margin-top: 20px;
}
.fibrelogo {
    max-width: 110px;
}
ul.blacktopmenu li span.h-icon.step1::before, 
ul.blacktopmenu li span.h-icon.step2::before, 
ul.blacktopmenu li span.h-icon.step3::before, 
ul.blacktopmenu li span.h-icon.step4::before, 
ul.blacktopmenu li span.h-icon.step5::before, 
ul.blacktopmenu li span.h-icon.step6::before {
    margin-top: -5.5%;
}
}
@media screen and (max-width: 360px){
.welcometext {
    font-size: 44px;
    margin-top: 10px;

}
.fibrelogo {
    max-width: 100px;
}
.boxfootshader {
    background-size: auto 100%;
}
.foottext ol {
    font-size: 13px;
    line-height: 22px;
}
}

@media screen and (max-width: 320px){
#box1_holder {
    padding-top: 5px;
}	
.fibrelogo {
    max-width: 100px;
}
.welcometext {
    font-size: 40px;
    padding-left: 0px;
    margin-top: 10px;
}
.headtext {
    font-size: 29px;
	margin-top: 10px;
}	
.subheader {
    font-size: 30px;
    padding-right: 0px;
    max-width: 375px;
    margin-top: 20px;
    background-size: auto 80%;
}
.detailtext {
    font-size: 22px;
    line-height: 26px;
}
.boxfootshader {
    background-size: auto 100%;
}
.bg-inn-home, .bg-inn-chpack, .bg-inn-regpack, .bg-inn-payment, .bg-inn-caution, .bg-inn-exit {
    background-size: 60%;
    background-position: 110px 29px;
}
ul.blacktopmenu li span {
    line-height: 12px;
	font-size: 12px;
}
ul.blacktopmenu li {
    min-height: 105px;
}
.content-menu {
    margin-top: 2%;
    margin-bottom: 10%;
}

ul.blacktopmenu li span.h-icon.step1::before, ul.blacktopmenu li span.h-icon.step2::before, ul.blacktopmenu li span.h-icon.step3::before, ul.blacktopmenu li span.h-icon.step4::before, ul.blacktopmenu li span.h-icon.step5::before, ul.blacktopmenu li span.h-icon.step6::before {
    margin-top: -20%;
}
.foottext ol {
    font-size: 12px;
    line-height: 20px;
}
}

