
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    font-family: AisFont;
    color: #604D46;
    letter-spacing: 0.2px;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

@font-face {
    font-family: AisFont;
    src: url('../../Content/fonts/DB HelvethaicaAIS X Med v3.2.ttf');
}

a {
    color: #9CCA33;
    cursor: pointer;
    font-size: 19px;
}

    a:hover {
        color: #9CCA33;
    }

    a:visited {
        color: #9CCA33;
    }

h4 {
    font-size: 20px;
    margin-bottom: -3px;
    margin-top: 0px;
}

table tr {
    background-color: #fff;
}

.i-clear {
    clear: both;
}

.i-size-nm {
    font-size: 18px;
}

.i-size-nm-2 {
    font-size: 19px;
}

.i-size-lg {
    font-size: 26px;
}

.i-text-center {
    text-align: center;
}

.i-green {
    color: #9CCA33;
}

.i-red {
    color: #f00 !important;
}

.i-list {
    font-size: 19px;
    margin-left: -22px;
}

    .i-list li {
        line-height: 25px;
        color: #9CCA33;
    }

        .i-list li span {
            color: #604D46;
        }


.i-right-pane {
    margin-top: 20px;
    margin-left: -20px;
}

.i-left-pane {
    margin-top: 20px;
    margin-left: 70px;
}

.i-right-pane .i-form {
    margin: 25px 0 0 40px;
}

    .i-right-pane .i-form input[type=text] {
        height: 38px;
        font-size: 21px;
        letter-spacing: 1px;
        width: 80%;
    }

.i-gap-top-2 {
    margin-top: 20px;
}

.i-gap-top-3 {
    margin-top: 30px;
}

.i-form .input-group-addon i {
    width: 15px !important;
    text-align: center;
    color: #9CCA33;
}

.input-group-addon {
    background-color: #fff;
}

.i-sub-text {
    line-height: 15px;
    margin-top: 8px;
    width: 82%;
    color: #999;
}

.i-accept {
    width: 80%;
    margin-left: 35px;
}

.i-gap-line-4 {
    margin: 0 40px;
}

.i-popup-msg {
    font-size: 22px;
}

.i-icon-msg {
    font-size: 34px;
    margin-bottom: 0px;
}

.i-content-popup {
    width: 99%;
    padding-bottom: 40px;
    margin-top: 10px;
}

.i-modal-content {
    width: 75%;
    margin-left: 13%;
}

.i-border-red {
    border: 1px solid #f00;
}

.i-hidden {
    display: none;
}

.i-error {
    color: #f00;
    font-size: 19px;
}

.i-loading {
    margin-left: 63%;
    color: #f5f5f5;
}

@media (max-width: 640px) {
    .footer {
        display: none;
    }
}

@media (max-width: 640px) {
    .btn-for-xs {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .i-hidden {
        display:none;
    }
}

.btn-for-xs {
}