@using System.Collections.Generic;
@using WBBEntity.PanelModels;
@{
    Layout = null;
    string languagePage = null != ViewBag.LanguagePage ? ViewBag.LanguagePage : languagePage = "th";
}

<html class="no-js" lang="th">
<head>
    
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-TC3PWS" height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TC3PWS');
    </script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">__th_page = "ais";</script>
    <script type="text/javascript" src="http://hits.truehits.in.th/data/s0029135.js"></script>
    <script type="text/javascript" src="https://lvs.truehits.in.th/datasecure/s0029135.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,9" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0" />
    <meta name="date" content="2019-03-11" />
    <meta name="sitecode" content="TH" />

    <title>AIS Fibre eSport Redeem Item</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="description" content="เน็ตบ้านคุณภาพ เพื่อประสบการณ์ที่ดีกว่าบนโครงข่ายไฟเบอร์ออพติก 100%">
    <meta name="KeyWords" content="เอไอเอส, ais, fibre, ไฟเบอร์, เอไอเอส ไฟเบอร์, ais fibre, special, พิเศษ, eSport, แพ็กเกจ, package, เล่นเกม, ไอเทม, ฟรี, free, item, fifaonline4, blade&soul, pointblank, เกมออนไลน์" />
    <meta name="thumbnail" content="https://www.ais.co.th/fibre/netflix/share.jpg" />
    <meta name="thumbnail_height" content="110">
    <meta name="thumbnail_width" content="75">
    <meta property="og:title" content="AIS Fibre eSport Redeem Item" />
    <meta property="og:description" content="เน็ตบ้านคุณภาพ เพื่อประสบการณ์ที่ดีกว่าบนโครงข่ายไฟเบอร์ออพติก 100%" />
    <meta property="og:image" content="https://www.ais.co.th/fibre/netflix/share.jpg" />
    <meta property="tw:description" content="เน็ตบ้านคุณภาพ เพื่อประสบการณ์ที่ดีกว่าบนโครงข่ายไฟเบอร์ออพติก 100%" />
    <!-- apple itunes application -->
    <meta name="apple-itunes-app" content="app-id=399758084" />
    <!-- Start SmartBanner configuration -->
    <meta name="smartbanner:title" content="my AIS">
    <meta name="smartbanner:author" content="AIS ให้คุณใช้ชีวิตได้มากกว่า">
    <meta name="smartbanner:price" content="FREE">
    <meta name="smartbanner:price-suffix-google" content=" Download Now">
    <meta name="smartbanner:icon-google" content="https://lh3.googleusercontent.com/zpXlAyDbHvn4Q7WijKM_HPMYTXOOAhVTkKqZQS3K-LX6-NX-QH-ghF4R-dQu2T-fcfls=w300-rw">
    <meta name="smartbanner:button" content="VIEW">
    <meta name="smartbanner:button-url-google" content="https://play.google.com/store/apps/details?id=com.ais.mimo.eservice&hl=en">
    <meta name="smartbanner:enabled-platforms" content="android">
    <meta name="smartbanner:disable-positioning" content="true">
    <meta name="smartbanner:hide-ttl" content="210000">
    <!-- ถ้าต้องการแสดง banner andriod ให้คอมเม้นบรรทัดด้านล่าง -->
    <meta name="smartbanner:enabled-platforms" content="none">
    <!-- End SmartBanner configuration -->
    <link rel="stylesheet" type="text/css" href="//www.ais.co.th/base_interface_v3/css/navais_v3.css" />
    <link rel="stylesheet" href="~/Content/EsportsRedeem/dist/css/swiper.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome-4.1.0/css/font-awesome.min.css" />

    <style>
        body {
            background-color: #000 !important;
        }

        #container {
            font-family: 'db_heavent_cond';
            font-size: 17px;
        }

        #container a {
            color: #b2d234;
        }

        #popup_bg_loading {
            position: fixed;
            z-index: 990;
            width: 100%;
            height: 3000px;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.9);
            display: none;
        }

        #popup_loading{
            width: 600px;
            height: 560px;
            display: none;
        }

    </style>
</head>
<body>
    <!--ais_topbar-->
    <div id="ais_topbar">ais menu</div>
    <section id="container" style="overflow: hidden;">
        @*<div id="fibre_subfolder_menu"></div>*@

        @Html.Partial("~/Views/RedeemCode/_LoginRedeem.cshtml");
        @Html.Partial("~/Views/RedeemCode/_PackRedeem.cshtml");

        <input id="hdIDCardNo" type="text" hidden="hidden" value="" />
        <input id="hdMobileNo" type="text" hidden="hidden" value="" />
        <input id="hdContactMobileNo" type="text" hidden="hidden" value="" />
        <input id="hdproductCd" type="text" hidden="hidden" value="" />
        <input id="hdproductClass" type="text" hidden="hidden" value="" />

        
        <div id="popup_bg2"></div>
        <div class="Absolute-Center is-Fixed" id="popup_pack_alert">
            <div class="popup_pack_close" onclick="popupHide2('popup_pack_alert');"></div>
            <div id="msgAlert" class="popup_desc" style="padding-top: 250px;"></div>
        </div>

        <div id="popup_bg_loading"></div>
        <div class="Absolute-Center is-Fixed" id="popup_loading">
            <div class="popup_desc" style="padding-top: 250px;">
                <div class="text-center" style="color: white;">
                    <div>
                        <i class="fa fa-spinner fa-spin fa-6" style="position: inherit;"></i>
                    </div>
                    <div id="txtLoading" style="text-align: center;">
                        LOADING
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="aisfooter">ais footer</div>
    <noscript id="deferred-styles">
        <link rel="stylesheet" type="text/css" href="//www.ais.co.th/base_interface_v3/css/jquerymenu.typeahead.css">
        <link href="~/Content/EsportsRedeem/css/bootstrap.css" rel="stylesheet" />
        <link rel="stylesheet" href="../Content/EsportsRedeem/css/custom.css" />
    </noscript>
    <script>
        var loadDeferredStyles = function () {
            var addStylesNode = document.getElementById("deferred-styles");
            var replacement = document.createElement("div");
            replacement.innerHTML = addStylesNode.textContent;
            document.body.appendChild(replacement)
            addStylesNode.parentElement.removeChild(addStylesNode);
        };
        var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
        if (raf) raf(function () { window.setTimeout(loadDeferredStyles, 0); });
        else window.addEventListener('load', loadDeferredStyles);
    </script>
    <script src="//www.ais.co.th/base_interface_v3/js/jquery-3.2.1.min.js"></script>
    <script src="//www.ais.co.th/base_interface_v3/js/jquery.nav.control.js"></script>
    <script src="//www.ais.co.th/base_interface_v3/js/jquerymenu.typeahead.min.js"></script>
    <script src="~/Content/EsportsRedeem/js/tweenmax.js"></script>
    @*<script src="../Content/EsportsRedeem/js/custom.js"></script>*@
    <script>

        /*function news_over(){
            TweenMax.to('.home_article_box', 1, {scale:0.95, ease:Expo.easeOut});
        }
        
        function news_out(){
            TweenMax.to('.home_article_box', 1, {scale:1, ease:Expo.easeOut});
        }
        
        */
        function newsHomeHover() {

            $(".home_article_box_set").each(function (index, element) {

                $("li .home_article_box").bind("mouseover", function () {
                    TweenMax.to($(this), 1, { scale: 0.95, ease: Expo.easeOut });
                });

                $("li .home_article_box").bind("mouseout", function () {
                    TweenMax.to($(this), 1, { scale: 1, ease: Expo.easeOut });
                });

            });
        }

        function newsHover() {

            trace('news hover');
            $(".news_box_set").each(function (index, element) {

                $("li .news_box").bind("mouseover", function () {
                    TweenMax.to($(this), 1, { scale: 0.95, ease: Expo.easeOut });
                });

                $("li .news_box").bind("mouseout", function () {
                    TweenMax.to($(this), 1, { scale: 1, ease: Expo.easeOut });
                });

            });
        }

        $("#ais_topbar").bind("mouseover", function () {
            re_store_sub();
        });

        function open_custo_sub() {
            $("#custo_now_del").show();
            $("#custo_now_plus").hide();
            $("#custo_now_sub").slideDown();
        }

        function close_custo_sub() {
            $("#custo_now_del").hide();
            $("#custo_now_plus").show();
            $("#custo_now_sub").hide();
        }

        function open_left_pack_sub() {
            $("#left_pack_del").show();
            $("#left_pack_plus").hide();
            $("#left_pack_sub").slideDown();
        }

        function close_left_pack_sub() {
            $("#left_pack_del").hide();
            $("#left_pack_plus").show();
            $("#left_pack_sub").hide();
        }

        function open_left_acc_sub() {
            $("#left_acc_del").show();
            $("#left_acc_plus").hide();
            $("#left_acc_sub").slideDown();
        }

        function close_left_acc_sub() {
            $("#left_acc_del").hide();
            $("#left_acc_plus").show();
            $("#left_acc_sub").hide();
        }

        window.onload = function () {
            $('#fibre_main_menu').load('interface/menu.html', function (htmldata) {
                now_menu();
            });

            newsHomeHover();

            $('#fibre_foot_condition').load('interface/foot_condition.html', function (htmldata) { });
            //$('#fibre_subfolder_menu').load('../interface/menu_en.html', function(htmldata){});
            /*$('#store_footer').load('interface/footer.html', function(htmldata){});*/

        }

        function re_store_sub() {
            $("#sub_menu_pack").hide();
            $("#menu_pc2").removeClass('current');
            $("#sub_menu_acc").hide();
            $("#menu_pc3").removeClass('current');
            $("#sub_menu_custo").hide();
            $("#menu_pc5").removeClass('current');
        }

        function open_sub_pack() {
            $("#sub_menu_pack").fadeIn();
            $("#menu_pc2").addClass('current');
        }

        function open_sub_acc() {
            $("#sub_menu_acc").fadeIn();
            $("#menu_pc3").addClass('current');
        }

        function open_sub_custo() {
            $("#sub_menu_custo").fadeIn();
            $("#menu_pc5").addClass('current');
        }

        var shareURL, shareURLSTAT, shareURLSTATtw, shareTitle, shareDescription, shareIMG;
        function news_share_fb() {

            var ShareURL = document.URL;

            var share_url = "http://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(ShareURL);
            newwindowfb = window.open(share_url, 'sharer', 'toolbar=0,status=0,width=650,height=400,resizable=yes');
            if (window.focus) { newwindowfb.focus(); }


            return false;
        }


        function news_share_tw() {
            var tw_url = document.URL;

            var TitleDesc;

            var description;
            var metas = document.getElementsByTagName('meta');
            for (var x = 0, y = metas.length; x < y; x++) {

                if (metas[x].getAttribute('property')) {
                    if (metas[x].getAttribute('property').toLowerCase() == "tw:description") {
                        TitleDesc = metas[x];
                    }

                }

            }
            //var tw_text = TitleDesc.content+" "+description.content;
            var tw_text = TitleDesc.content;

            newwindowtw = window.open('http://twitter.com/share?url=' + encodeURIComponent(tw_url) + '&text=' + encodeURIComponent(tw_text), 'sharer', 'toolbar=0, status=0, width=650, height=400');

            if (window.focus) { newwindowtw.focus(); }
            return false;
        }

        function news_share_line() {
            var line_url = document.URL;
            newwindowtw = window.open('https://social-plugins.line.me/lineit/share?url=' + line_url);
        }

        function condition_slide(id) {
            $("#" + id).toggleClass("current");
            $("#" + id + "_detail").slideToggle();
        }

        var is_first = true;
        var cond1_status = 'close';
        var cond2_status = 'close';

        function condition_slide2(id) {
            trace('click:' + id);
            trace('is_first:' + is_first);

            if (id == 'cond1') {

                $("#cond2").addClass("disable");
                $("#cond2").removeClass("current");
                $("#cond2_detail").slideUp();
                cond2_status = 'close';

                if (cond1_status == 'close') {
                    $("#cond1").removeClass("disable");
                    $("#cond1").addClass("current");
                    $("#cond1_detail").slideDown();
                    cond1_status = 'open';
                } else {
                    $("#cond1").addClass("disable");
                    $("#cond1").removeClass("current");
                    $("#cond1_detail").slideUp();
                    cond1_status = 'close';

                }

            } else {

                $("#cond1").addClass("disable");
                $("#cond1").removeClass("current");
                $("#cond1_detail").slideUp();
                cond1_status = 'close';

                if (cond2_status == 'close') {
                    $("#cond2").removeClass("disable");
                    $("#cond2").addClass("current");
                    $("#cond2_detail").slideDown();
                    cond2_status = 'open';
                } else {
                    $("#cond2").removeClass("current");
                    $("#cond2").addClass("disable");
                    $("#cond2_detail").slideUp();
                    cond2_status = 'close';

                }

            }

            is_first = false;

        }

        function GetFilename(url) {
            if (url) {
                var m = url.toString().match(/.*\/(.+?)\./);
                if (m && m.length > 1) {
                    return m[1];
                }
            }
            return "";
        }

        var mySwiper1, mySwiper2, my_swiper, current_slide, slide_status;

        current_slide = 0;
        slide_status = 'show';
        function setInterfaceSizeVVV() {

            trace('setInterfaceSize NEW');
            $(".swiper-wrapper").find(".package").addClass("swiper-slide");
            $('#slider-pack').addClass('swiper-container');
            $('#slider-wrap').addClass('swiper-wrapper');

            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 1.2,
                spaceBetween: 30,
                centeredSlides: true,

                loop: true,
                direction: 'vertical',
            });

        }

        function setInterfaceSize() {

            trace('setInterfaceSize()');
            $(".swiper-wrapper").find(".package").addClass("swiper-slide");
            $('#slider-pack').addClass('swiper-container');
            $('#slider-wrap').addClass('swiper-wrapper');

            if ($('body').width() < 750) {

                trace('mobile');


                /******   add slide to package ********/
                trace('create my_swiper');
                my_swiper = new Swiper('.swiper-container', {
                    slidesPerView: 3,
                    spaceBetween: 30,

                    effect: 'coverflow',
                    speed: 500,
                    init: true,
                    onTransitionEnd: onTransitionEnd,
                    on: {
                        init: function () {


                            if (typeof (my_swiper) != "undefined") {
                                trace('current_slide:' + current_slide);
                                my_swiper.slideTo(current_slide);

                            }
                        },

                    },

                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    coverflowEffect: {
                        rotate: 20,
                        stretch: 0,
                        depth: 100,
                        modifier: 1,
                        slideShadows: false,

                    },
                    breakpoints: {

                        750: {
                            slidesPerView: 1.2,
                            spaceBetween: 30,
                            centeredSlides: true,
                            initialSlide: current_slide,
                            loop: false,

                        }
                    }


                });


                /******   hide package that left when first time ********/
                var url = window.location.pathname;
                var file = GetFilename(url);;

                trace('file:' + file);
                if (file == 'package_power4' || file == 'package_homebroadband') { $('div[data-swiper-slide-index="3"]').css('opacity', '0'); }
                else if (file == 'package_powerboost') { $('div[data-swiper-slide-index="2"]').css('opacity', '0'); }



                my_swiper.on('slideChangeTransitionEnd', function () {

                    $('div[data-swiper-slide-index="3"]').css('opacity', '1');
                    $('div[data-swiper-slide-index="2"]').css('opacity', '1');

                    trace('my_swiper.activeIndex:' + my_swiper.activeIndex);
                    trace('my_swiper.previousIndex:' + my_swiper.previousIndex);

                    // previousIndex
                    current_slide = my_swiper.activeIndex;
                    trace('transitionEnd index:' + $('.swiper-slide-active').attr("swiper-slide-index"));
                    var cur = Number($('.swiper-slide-active').attr("swiper-slide-index"));
                    current_slide = cur;

                });

            } else {
                trace('pc');

                var bodyWidth = $('body').width();
                var slideNum;

                if (bodyWidth > 750 && bodyWidth < 990) { slideNum = 2; }
                else { slideNum = 3; }


                trace('slideNum:' + slideNum);

                var swiper = new Swiper('.swiper-container', {
                    slidesPerView: slideNum,
                    spaceBetween: 20,
                    pagination: {
                        el: '.swiper-pagination',
                        clickable: true,
                    },
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    },
                });



            }

        }

        function onTransitionEnd(my_swiper) {
            //  alert('==============onTransitionEnd===========:'+current_slide)

            $('#activeIndex').text(swiper.activeIndex);
            $('#previousIndex').text(swiper.previousIndex);
        }

        function trace(txt) {
            console.log(txt);
        }
        function addSwipper() {

            if ($('body').width() <= 750) {
                swipperBannerMobile();
                swipperPackageMobile();

            } else {

                swipperBannerPc();
                swipperPackagePc();

            }

        }

        function swipperBannerPc() {
            swiper_banner = new Swiper('.swipper_banner', {
                slidesPerView: 1,
                spaceBetween: 30,
                speed: 500,
                centeredSlides: true,
                loop: true,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,

                },
                pagination: {
                    el: '#banner_pag',
                    clickable: true,
                }
            });

        }

        function swipperBannerMobile() {
            swiper_swiper_banner = new Swiper('.swipper_banner', {
                slidesPerView: 1,
                effect: 'coverflow',
                speed: 500,
                centeredSlides: true,
                loop: true,
                autoplay: {
                    delay: 5000,
                    disableOnInteraction: false,

                },
                coverflowEffect: {
                    rotate: 20,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: false,

                },
                pagination: {
                    el: '#banner_pag',
                    clickable: true,
                },
                breakpoints: {

                    480: {
                        slidesPerView: 1,
                        spaceBetween: 20,
                        centeredSlides: true,
                        loop: true,
                    }
                }

            });
        }

        function swipperPackagePc() {
            var swiper = new Swiper('.swipper_package', {
                slidesPerView: 3,
                spaceBetween: 30,
                lazy: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                }
            });

        }

        function swipperPackageMobile() {
            var swiper = new Swiper('.swipper_package', {
                slidesPerView: 1.2,
                spaceBetween: 30,
                effect: 'coverflow',
                speed: 500,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                coverflowEffect: {
                    rotate: 20,
                    stretch: 0,
                    depth: 100,
                    modifier: 1,
                    slideShadows: false,

                },
                breakpoints: {

                    750: {
                        slidesPerView: 1.2,
                        spaceBetween: 20,
                        centeredSlides: true,

                        loop: true,

                    }
                }

            });

        }

        // update 2018-05-15 by dtu //
        function swipperPromotionsMobile() {
            var swiper = new Swiper('.swipper_promotions', {
                slidesPerView: 3,
                speed: 500,
                pagination: {
                    el: '.p-promotion.swiper-pagination',
                    clickable: true,
                },
                /*		navigation: {
                      nextEl: '.swiper-button-next',
                      prevEl: '.swiper-button-prev',
                    },*/
                breakpoints: {
                    820: {
                        slidesPerView: 2,
                    },
                    640: {
                        slidesPerView: 1,
                    }
                }
            });
        }
        function goToDiv(id) {
            //$("html, body").animate({scrollTop:"300"},600);
            if ($(window).width() <= 767) {
                //alert('Less than 960');
                setTimeout(function () {
                    $("html, body").animate({
                        scrollTop: $('#' + id).offset().top - 50
                    }, 1000);
                }, 200);
            }
            else {
                setTimeout(function () {
                    $("html, body").animate({
                        scrollTop: $('#' + id).offset().top - 120
                    }, 1000);
                }, 200);
            }

            return false;
        }
        function collapsibleShow(id, packtype) {
            $('.collapsible').hide();
            $('.collapsible_more-wrap').show();
            $('#wrap_register').show();
            $('.package.swiper-slide').addClass('opacity50');
            $('#' + id).removeClass('opacity50');
            goToDiv('wrap_register');
            $('#service_speed').attr('value', packtype);
            console.log($('#service_speed').attr('value', packtype));
        }

        function collapsibleHide(id) {
            $('.collapsible').show();
            $('.collapsible_more-wrap').hide();
            $('#wrap_register').hide();
            $('.package.swiper-slide').removeClass('opacity50');
            goToDiv('slider-wrap')
        }
// update 2018-05-15 //
    </script>
    <script src="~/Content/EsportsRedeem/dist/js/swiper.min.js"></script>
    <script src="//assets.adobedtm.com/75133ce79ba1f2c516f7d5f09b683f779a12ac39/satelliteLib-2756bab2480cb6c2674fb064e707912a7e9432b2.js"></script>

    <script>

        $(function () {

            if ('@languagePage' == "" || '@languagePage' == "th") {
                ais_interface_setup('custom-only-slidemenu', 'postpaid', 'th', '', 'https://www.ais.co.th/fibre/submenu_subcat.html');
                $("a[href$='truehits.net/stat.php?login=ais']").css("display", "none");
                //setTimeout(function () {
                //    $('#fibre_subfolder_menu').load('https://www.ais.co.th/fibre/interface/menu_subcat.html', function (htmldata) { 
                //        now_menu();
                //    });
                //}, 1000);
            }
            else {
                ais_interface_setup('custom-only-slidemenu', 'postpaid', 'en', '', 'https://www.ais.co.th/fibre/en/submenu_subcat.html');
                $("a[href$='truehits.net/stat.php?login=ais']").css("display", "none");
                //setTimeout(function () {
                //    $('#fibre_subfolder_menu').load('https://www.ais.co.th/fibre/en/interface/menu_subcat.html', function (htmldata) { 
                //        now_menu();
                //    });
                //}, 1000);
            }

            var digitalData = {};
            digitalData.page = {};
            digitalData.page.pageInfo = {};

            digitalData = {
                page: {
                    pageInfo: {
                        pageName: "ais:th:network:fibre:esport_redeem",
                        site: "ais",
                        language: "@languagePage"
                    },
                    category: {
                        pageType: "content page",
                        primaryCategory: "ais:th:network",
                        subCategory1: "ais:th:network:esport_redeem"
                    }
                },
            };
        });

        function now_menu() {
            /*$('#menu_pc2').addClass('current');*/
        }

        function changeLang() {
            // var filename = window.location.href.substr(window.location.href.lastIndexOf("/")+1);
            var url = document.URL;
            var value = url.substring(url.lastIndexOf('/') + 1);
            var n = value.indexOf('?');
            if (n > 0) value = value.substring(value.lastIndexOf('?'), 0);

            if (ValidUrl(value) || value.trim() == '') {
                document.location = "../" + value + "?lang=en";
            } else {
                document.location = "../" + value + "?lang=en";
            }
            //parseVar(ul,pageLang,"chLang","header_menu:changetoeng");
        }

        function changeLangEn() {
            //var filename = window.location.href.substr(window.location.href.lastIndexOf("/")+1);
            var url = document.URL;
            var value = url.substring(url.lastIndexOf('/') + 1);
            var n = value.indexOf('?');
            if (n > 0) value = value.substring(value.lastIndexOf('?'), 0);

            if (ValidUrl(value) || value.trim() == '') {
                document.location = "../" + value + "?lang=th";
            } else {
                document.location = "../" + value + "?lang=th";
            }
            //parseVar(ul,pageLang,"chLang","header_menu:changetotha");
        }

        function LockScreen(x) {
            if (x) {
                $("#popup_bg_loading").show();
                $("#popup_loading").show();
            }
            else {
                $("#popup_bg_loading").hide();
                $("#popup_loading").hide();
            }
        }

        function popupShow2(id) {
            $('#popup_bg2').show();
            $('#' + id).show();
        }

        function popupHide2(id) {
            $('#popup_bg2').hide();
            $('#' + id).hide();
        }

    </script>
    <script type="text/javascript"></script>
</body>
</html>
