@using WBBEntity.PanelModels
@{
    Layout = "~/Views/Shared/_LayoutPaymentAndReportProblem.cshtml";

    string lSessionTimeoutAlert = "";
    string lGotoLogin = "";
    string hdLanguagePage = "1";

    if (ViewBag.LanguagePage != null)
    {
        hdLanguagePage = ViewBag.LanguagePage;
    } 

    if (ViewBag.LabelFBBOR019 != null)
    {
        var labelFbbor019 = (List<LovScreenValueModel>)ViewBag.LabelFBBOR019;
        var lovSessionTimeoutAlert = labelFbbor019.FirstOrDefault(c => c.Name == "L_SESSION_TIMEOUT_WARNING");
        if (lovSessionTimeoutAlert != null)
        {
            lSessionTimeoutAlert = labelFbbor019.Any(c => c.Name == "L_SESSION_TIMEOUT_WARNING") ? lovSessionTimeoutAlert.DisplayValue : "";
        }
        var lovGotoLogin = labelFbbor019.FirstOrDefault(c => c.Name == "L_GOTO_LOGIN_BUTTON");
        if (lovGotoLogin != null)
        {
            lGotoLogin = labelFbbor019.Any(c => c.Name == "L_GOTO_LOGIN_BUTTON") ? lovGotoLogin.DisplayValue : "";
        }
    }
}

<div id="divMainDetailBoxData" class="user_tool_content mainDetail-boxData">
    <div class="row_ais">
        @using (Html.BeginForm("Login", "ReportProblem", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("languagePage",hdLanguagePage)
            <div class="row">
                <p id="pMainDetailWarningText" class="col-sm-12 col-md-12 col-lg-12 mainDetail-warningText">@lSessionTimeoutAlert</p>
            </div>
            <div class="row">
                <div id="divMainDetailButton" class="col-sm-12 col-md-12 col-lg-12 mainDetail-Button">
                    <input id="btnGotoLogin" class="btn2 btn btn-for-xs" type="submit" value="@lGotoLogin" />
                </div>
            </div>            
        }        
    </div>
</div>

<script>
    $(document).ready(function () {
        $('li').removeClass('active');
        $('.bd-4').addClass('active');
        $('.reportproblem').addClass('active');
    });
</script>