<div id="aisfooter">
    <div class="footer_content">
        <div class="footer-max-width">
            <div id="ais_footer-nav_tab">
                <ul class="ul_ais_footer-nav_tab">
                    <li id="footer_sub_menu0" class="active"><img src="https://www.ais.co.th/base_interface_v2/images/logo_aisfooter.png" alt=""></li>
                    <li id="footer_sub_menu1">
                        <div class="ic_sitemap ic_sitemap1"></div>เมนูลัด
                    </li>
                    <li id="footer_sub_menu2">
                        <div class="ic_sitemap ic_sitemap2"></div>แผนผังเว็บไซต์
                    </li>
                    <li id="footer_sub_menu3">
                        <div class="ic_sitemap ic_sitemap3"></div>ติดตามเรา
                    </li>
                    <div id="ic_footer_share-wrapper" style="">

                        <div id="ic_footer_social-share3" class="ic_footer_social-share" onclick="share_lineit();"></div>
                        <div id="ic_footer_social-share2" class="ic_footer_social-share" onclick="share_tw();"></div>
                        <div id="ic_footer_social-share1" class="ic_footer_social-share" onclick="share_fb();"></div>
                        <div id="ic_footer_social-share_text">Share</div>
                    </div>
                </ul>
            </div>
            <div id="ais_footer-contact">
                <div class="footer_callcenter">
                    <div id="ais_footer-contact-768">
                        <div class="ais_footer-contact-wrapper-std">
                            <div class="contact-call">
                                <a href="https://aiscallcenter.ais.co.th/?intcid=homepage-th-ais_callcenter_section-callcenter_button" target="_blank">
                                    <div class="ic_footer-callcenter ic_footer-call1"></div>
                                    <div class="ais_footer-call-txt">
                                        <div class="ais_footer-call-col1">ติดต่อ&nbsp;</div>AIS Call Center
                                    </div>
                                </a>
                            </div>
                            <div class="contact-search">
                                <a href="//www.ais.co.th/servicecenter/?intcid=homepage-th-ais_service_center_section-service_center_button" target="_blank">
                                    <div class="ic_footer-callcenter ic_footer-call2"></div>
                                    <div class="ais_footer-call-txt">
                                        <div class="ais_footer-call-col1  callshow-hide">ค้นหา</div>ศูนย์บริการ
                                    </div>
                                </a>
                            </div>

                            <div class="contact-pr">
                                <a href="//www.ais.th/review/index.html?intcid=homepage-th-footer_pr_section" target="_blank">
                                    <div class="ic_footer-callcenter ic_footer-call6"></div>
                                    <div class="ais_footer-call-txt">
                                        <div class="ais_footer-call-col1">ข่าว</div>ประชาสัมพันธ์
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="contact-social-std">
                            <div class="ic_footer-callcenter ic_footer-call5"></div>
                            <div class="ais_footer-call-txt">ติดตามเรา</div>
                        </div>
                    </div>

                </div>
                <div class="contact-social">
                    <div class="contact-social-close"><img src="https://www.ais.co.th/base_interface_v2/images/close_slide_footer.jpg" alt=""></div>
                    <div class="contact-social-wrapper">
                        <div id="ic_footer_social0">Follow</div>
                        <a href="https://www.facebook.com/AIS" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Share', 'Facebook'])">
                            <div id="ic_footer_social1" class="ic_footer_social"></div>
                        </a>
                        <a href="https://twitter.com/ais_thailand" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Share', 'Twitter'])">
                            <div id="ic_footer_social2" class="ic_footer_social"></div>
                        </a>
                        <a href="https://lin.ee/hdYuzJz" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Share', 'Line'])">
                            <div id="ic_footer_social3" class="ic_footer_social" onclick="share_line();"></div>
                        </a>
                        <a href="//instagram.com/aisinstagram" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Share', 'Instragram'])">
                            <div id="ic_footer_social5" class="ic_footer_social"></div>
                        </a>
                        <a href="https://www.youtube.com/AISChannel" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Share', 'Youtube'])">
                            <div id="ic_footer_social6" class="ic_footer_social"></div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="contact-social-mobile">
                <div class="ic_footer_social-share-wrap-mobile">
                    <div class="ic_footer_social-share-text">Share</div>
                    <div class="ic_footer_social-share-mobile-line"></div>
                    <div class="share-3social">
                        <div id="" class="ic_footer_social1 ic_footer_social" onclick="share_fb();"></div>
                        <div id="" class="ic_footer_social2 ic_footer_social" onclick="share_tw();"></div>
                        <div id="" class="ic_footer_social3 ic_footer_social" onclick="share_line();"></div>
                    </div>
                </div>
                <div class="contact-social-wrapper-mobile">
                    <div class="ic_footer_social-share-text">Follow</div>
                    <a href="https://www.facebook.com/AIS" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Share', 'Facebook'])">
                        <div id="" class="ic_footer_social1 ic_footer_social"></div>
                    </a>
                    <a href="https://twitter.com/ais_thailand" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Share', 'Twitter'])">
                        <div id="" class="ic_footer_social2 ic_footer_social"></div>
                    </a>
                    <a href="https://lin.ee/hdYuzJz" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Share', 'Line'])">
                        <div id="" class="ic_footer_social3 ic_footer_social" onclick="share_line();"></div>
                    </a>
                    <a href="//instagram.com/aisinstagram" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Share', 'Instragram'])">
                        <div id="" class="ic_footer_social5 ic_footer_social"></div>
                    </a>
                    <a href="https://www.youtube.com/AISChannel" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Share', 'Youtube'])">
                        <div id="" class="ic_footer_social6 ic_footer_social"></div>
                    </a>
                </div>
            </div>
            <div class="footer_shotcut group">
                <ul class="sub_menu">
                    <li class="linesub">
                        <ul id="link_sub1" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('link_sub1')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a class="js-btn-toggle" href="javascript:showSub('link_sub1')">แนะนำ</a></li>
                            <li>
                                <a href="//store.ais.co.th?intcid=getpage:th:footer_menu:shortcut_menu:recommended_submenu1:onlinestore_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'สินค้าออนไลน์']);">สินค้าออนไลน์</a>
                            </li>
                            <li>
                                <a href="//www.hotdeal.ais.co.th?intcid=getpage:th:footer_menu:shortcut_menu:recommended_submenu1:hotdeal_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'มือถือราคาพิเศษ']);">มือถือราคาพิเศษ</a>
                            </li>
                            <li>
                                <a href="https://privilege.ais.co.th/privilege?intcid=getpage:th:footer_menu:shortcut_menu:recommended_submenu1:get_privileges_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'สิทธิพิเศษ ส่วนลด']);">
                                    สิทธิพิเศษ
                                    ส่วนลด
                                </a>
                            </li>
                            <li>
                                <a href="https://privilege.ais.co.th/serenade/th/how-to-be-serenade?intcid=getpage:th:footer_menu:shortcut_menu:recommended_submenu1:howtobeserenade_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'อยากเป็นเซเรเนด']);">อยากเป็นเซเรเนด</a>
                            </li>
                            <li>
                                <a href="https://myais.ais.co.th/?intcid=getpage:th:footer_menu:shortcut_menu:recommended_submenu1:payment_topup_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'อยากเป็นเซเรเนด']);">เช็กยอด/เติมเงิน</a>
                            </li>
                        </ul>
                    </li>
                    <li class="linesub">
                        <ul id="link_sub2" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('link_sub2')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a class="js-btn-toggle" href="javascript:showSub('link_sub3')">แพ็กเกจ/โปรโมชั่น</a></li>
                            <li>
                                <a href="//www.ais.co.th/postpaid?intcid=getpage:th:footer_menu:shortcut_menu:package_promotion_submenu1:postpaid_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'โปรโมชั่นหลักรายเดือน']);">แพ็กเกจรายเดือน</a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/one-2-call/?id=4&amp;type=mobile_package&amp;intcid=getpage:th:footer_menu:shortcut_menu:package_promotion_submenu1:prepaid_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เติมเงิน']);">แพ็กเกจเติมเงิน</a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/package?intcid=getpage:th:footer_menu:shortcut_menu:package_promotion_submenu1:packagetopup_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'แพ็กเสริม']);">แพ็กเสริมที่เหมาะกับคุณ</a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/fibre/?intcid=getpage:th:footer_menu:shortcut_menu:package_promotion_submenu1:packagetopup_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เน็ตบ้านความเร็วสูง']);">เน็ตบ้านความเร็วสูง</a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/wifi?intcid=getpage:th:footer_menu:shortcut_menu:package_promotion_submenu1:wifi_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'WiFi อินเทอร์เน็ต']);">
                                    WiFi
                                    อินเทอร์เน็ต
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="linesub">
                        <ul id="link_sub3" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('link_sub3')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a class="js-btn-toggle" href="javascript:showSub('link_sub2')">ย้ายค่ายมาเอไอเอส</a></li>
                            <li>
                                <a href="//www.ais.co.th/move-to-ais/howto.html?intcid=getpage:th:footer_menu:shortcut_menu:mnp_submenu1:bill_payments_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ขั้นตอนการย้ายค่าย']);">ขั้นตอนการย้ายค่าย</a>
                            </li>
                            <li>
                                <a href="//become-ais-family.ais.co.th/move-to-ais-online?intcid=getpage:th:footer_menu:shortcut_menu:mnp_submenu1:coverage_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ย้ายค่ายออนไลน์']);">ย้ายค่ายออนไลน์</a>
                            </li>
                        </ul>
                    </li>
                    <li class="linesub">
                        <ul id="link_sub4" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('link_sub4')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a class="js-btn-toggle" href="javascript:showSub('link_sub3')">บริการ</a></li>
                            <li>
                                <a href="https://become-ais-family.ais.co.th/?intcid=getpage:th:footer_menu:shortcut_menu:service_submenu1:simonline_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'โปรโมชั่นหลักรายเดือน']);">สั่งซื้อซิม</a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/fibre/support.html?intcid=getpage:th:footer_menu:shortcut_menu:service_submenu1:international_call_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ติดเน็ตบ้าน']);">ติดเน็ตบ้าน</a>
                            </li>
                            <li>
                                <a href="https://myais.ais.co.th/?intcid=getpage:th:footer_menu:shortcut_menu:service_submenu1:applyjob_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'สมัครบิลออนไลน']);">สมัครบิลออนไลน์</a>
                            </li>
                            <li>
                                <a href="https://become-ais-family.ais.co.th/find-by-sim-type?categoryId=2326?intcid=getpage:th:footer_menu:shortcut_menu:service_submenu1:wifi_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'WiFi อินเทอร์เน็ต']);">เน็ตซิม</a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/applyjob?intcid=getpage:th:footer_menu:shortcut_menu:service_submenu1:applyjob_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ร่วมงานกับเรา']);">ร่วมงานกับเรา</a>
                            </li>
                        </ul>
                    </li>
                    <li class="linesub">
                        <ul id="link_sub5" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('link_sub5')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a class="js-btn-toggle" href="javascript:showSub('link_sub4')">คำถามที่พบบ่อย</a></li>
                            <li>
                                <a href="//www.ais.th/files/facility_fee/" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'วงเงินค่าใช้บริการ']);">วงเงินค่าใช้บริการ</a>
                            </li>
                            <li><a href="//www.ais.th/services/app-cancellation-and-refunds" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ขั้นตอนยกเลิก บริการซื้อ แอป, เกม,… ผ่านบิล AIS']);">ยกเลิก บริการซื้อ แอป, เกม,… ผ่านบิล AIS</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="footer_sitemap group">
                <ul class="sub_menu">
                    <li class="linesub">
                        <ul id="site_sub1" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('site_sub1')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a class="js-btn-toggle" href="javascript:showSub('site_sub1')">สินค้าและบริการ</a></li>
                            <li>
                                <a href="//www.ais.co.th/postpaid?intcid=getpage:th:footer_menu:sitemap_menu:product_service_submenu1:postpaid_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'แพ็กเกจรายเดือน']);">แพ็กเกจรายเดือน</a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/one-2-call/?intcid=getpage:th:footer_menu:sitemap_menu:product_service_submenu1:prepaid_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'แพ็กเกจเติมเงิน']);">แพ็กเกจเติมเงิน</a>
                            </li>
                            <li>
                                <a href="https://www.ais.co.th/package/?intcid=getpage:th:footer_menu:sitemap_menu:product_service_submenu1:package_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'แพ็กเสริมสุดคุ้ม']);">แพ็กเสริมสุดคุ้ม</a>
                            </li>
                            <li>
                                <a href="https://www.ais.co.th/fibre/?intcid=getpage:th:footer_menu:sitemap_menu:product_service_submenu1:fibre_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เน็ตบ้านความเร็วสูง']);">เน็ตบ้านความเร็วสูง</a>
                            </li>
                            <li>
                                <a href="https://aisplay.ais.co.th/portal/?intcid=getpage:th:footer_menu:sitemap_menu:product_service_submenu1:aisplay_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ดูทีวี ซีรีส์ คอนเสิร์ต']);">
                                    ดูทีวี
                                    ซีรีส์ คอนเสิร์ต
                                </a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/wifi/th/howto-wifi.html?intcid=getpage:th:footer_menu:sitemap_menu:product_service_submenu1:superwifi_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'Super WiFi']);">
                                    Super
                                    WiFi
                                </a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/roaming?intcid=getpage:th:footer_menu:sitemap_menu:product_service_submenu1:international_service_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'บริการโทรข้ามแดน']);">บริการโทรข้ามแดน</a>
                            </li>
                        </ul>
                    </li>
                    <li class="linesub">
                        <ul id="site_sub2" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('site_sub2')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head">
                                <a class="js-btn-toggle" href="javascript:showSub('site_sub2')">สิทธิพิเศษ</a>
                            </li>
                            <li>
                                <a href="//privilege.ais.co.th/privilege/th?intcid=getpage:th:footer_menu:sitemap_menu:privilege_submenu1:privilege" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ส่วนลดร้านค้า']);">ส่วนลดร้านค้า</a>
                            </li>
                            <li>
                                <a href="https://privilege.ais.co.th/serenade/th?intcid=getpage:th:footer_menu:sitemap_menu:privilege_submenu1:serenade_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เซเรเนด']);">เซเรเนด</a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/serenade/airport/?intcid=getpage:th:footer_menu:sitemap_menu:privilege_submenu1:serenade_airport_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'สิทธิพิเศษในสนามบิน']);">สิทธิพิเศษในสนามบิน</a>
                            </li>
                            <li>
                                <a href="https://privilege.ais.co.th/points?intcid=getpage:th:footer_menu:sitemap_menu:privilege_submenu1:points_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'points']);">Points</a>
                            </li>
                        </ul>
                    </li>
                    <li class="linesub">
                        <ul id="site_sub3" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('site_sub3')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a class="js-btn-toggle" href="javascript:showSub('site_sub3')">บริการออนไลน์</a></li>
                            <li>
                                <a href="https://myais.ais.co.th/?intcid=getpage:th:footer_menu:sitemap_menu:onlineservice_submenu1:online_callcenter_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ชำระบิล']);">ชำระบิล/เติมเงิน</a>
                            </li>
                            <li>
                                <a href="https://store.ais.co.th/?intcid=getpage:th:footer_menu:sitemap_menu:onlineservice_submenu1:onlinestore_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ออนไลน์ สโตร์']);">
                                    ออนไลน์
                                    สโตร์
                                </a>
                            </li>
                            <li>
                                <a href="https://become-ais-family.ais.co.th/move-to-ais-online?intcid=getpage:th:footer_menu:sitemap_menu:onlineservice_submenu1:mnponline_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ย้ายค่ายเบอร์เดิม']);">ย้ายค่ายเบอร์เดิม</a>
                            </li>
                            <li>
                                <a href="https://become-ais-family.ais.co.th/?intcid=getpage:th:footer_menu:sitemap_menu:onlineservice_submenu1:bermongkol_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ซิมมงคล']);">ซิมมงคล</a>
                            </li>
                            <li>
                                <a href="https://store.ais.co.th/th/aunjai-collection.html?intcid=getpage:th:footer_menu:sitemap_menu:onlineservice_submenu1:aunjaishop_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'สินค้าอุ่นใจ']);">สินค้าอุ่นใจ</a>
                            </li>
                            <li>
                                <a href="https://myais.ais.co.th/?intcid=getpage:th:footer_menu:sitemap_menu:onlineservice_submenu1:ebill_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'สมัครบิลออนไลน์']);">สมัครบิลออนไลน์</a>
                            </li>

                        </ul>
                    </li>
                    <li class="linesub">
                        <ul id="site_sub4" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('site_sub4')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head">
                                <a class="js-btn-toggle" href="javascript:showSub('site_sub4')">ศูนย์บริการ</a>
                            </li>
                            <li>
                                <a href="https://aiscallcenter.ais.co.th/?intcid=getpage:th:footer_menu:sitemap_menu:service_center_submenu1:callcenter_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'คอล เซ็นตอร์']);">
                                    คอล
                                    เซ็นตอร์
                                </a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/servicecenter/index.html?intcid=getpage:th:footer_menu:sitemap_menu:service_center_submenu1:aisshop_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เอไอเอส ชอป']);">
                                    เอไอเอส
                                    ช็อป
                                </a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/serenade/club/?intcid=getpage:th:footer_menu:sitemap_menu:service_center_submenu1:serenadeclub_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เซเรเนด คลับ']);">
                                    เซเรเนด
                                    คลับ
                                </a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/servicecenter/service_center_telewiz.html?intcid=getpage:th:footer_menu:sitemap_menu:service_center_submenu1:telewiz_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เทเลวิซ']);">
                                    เทเลวิซ
                                    ช็อป
                                </a>
                            </li>
                            <li>
                                <a href="https://www.ais.th/complaint/index.html?intcid=getpage:th:footer_menu:sitemap_menu:service_center_submenu1:Complaint_Center_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ศูนย์รับร้องเรียน']);">ศูนย์รับร้องเรียน</a>
                            </li>
                            <li>
                                <a href="https://retail.ais.th" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เอไอเอส ออนไลน์ช็อป']);">
                                    เอไอเอส
                                    ออนไลน์ช็อป
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="linesub">
                        <ul id="site_sub5" class="link_set">
                            <a class="js-btn-toggle" href="javascript:showSub('site_sub5')">
                                <div class="link_set_arrow"></div>
                            </a>
                            <li class="head"><a class="js-btn-toggle" href="javascript:showSub('site_sub5')">เกี่ยวกับเอไอเอส</a></li>
                            <li>
                                <a href="//www.ais.co.th/bestnetwork?intcid=getpage:th:footer_menu:sitemap_menu:aboutais_submenu1:aboutais_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'เครือข่าย']);">เครือข่าย</a>
                            </li>

                            <li>
                                <a href="//www.ais.co.th/cookiesPolicy/th/?intcid=getpage:th:footer_menu:sitemap_menu:aboutais_submenu1:cookiespolicy_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'นโยบายการใช้คุกกี้']);">นโยบายการใช้คุกกี้</a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/NBTC-Privacy-Guideline/th?intcid=getpage:th:footer_menu:sitemap_menu:aboutais_submenu1:nbtcpolicy_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'นโยบายการใช้คุกกี้']);">มาตรการคุ้มครองข้อมูลผู้ใช้บริการ</a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/corporateinfo/th/regulatory.html?intcid=getpage:th:footer_menu:sitemap_menu:aboutais_submenu1:regulatory_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'มาตรฐานของคุณภาพการให้บริการ']);">มาตรฐานของคุณภาพการให้บริการ</a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/privacy-notice/th/?intcid=getpage:th:footer_menu:sitemap_menu:aboutais_submenu1:privacynotice_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'ประกาศการคุ้มครองข้อมูลส่วนบุคคล']);">ประกาศการคุ้มครองข้อมูลส่วนบุคคล</a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/pdf/CyberSecurityPolicy_th.pdf?intcid=getpage:th:footer_menu:sitemap_menu:aboutais_submenu1:nbtc_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'นโยบายการรักษาความมั่นคงปลอดภัยไซเบอร์']);">นโยบายการรักษาความมั่นคงปลอดภัยไซเบอร์</a>
                            </li>
                            <li>
                                <a href="//www.ais.co.th/pdf/CVD-th.pdf?intcid=getpage:th:footer_menu:sitemap_menu:aboutais_submenu1:CVD_submenu2" target="_blank" onclick="_gaq.push(['_trackEvent', 'AIS Mainsite', 'Footer Menu', 'CVD']);">
                                    รายงานข้อบกพร่องหรือช่องโหว่ทาง
                                    Cyber Security
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="ais_footer-nav">© 2020 ADVANCED INFO SERVICE PLC. ALL RIGHTS RESERVED.</div>
        </div>
    </div>
</div>
<style>
/*fixed style in chrome*/
    .contact-social {
        display: block;
        height: auto;
        float: right;
        margin-left: 10px;
        padding: 0;
        min-width: 250px !important;
    }
</style>