@{
    ViewBag.Title = "Index";
}
<style>
    div.k-grid-header, div.k-grid-footer {
    padding-right:0;
}
</style>

<script>

$(document).ready(function(){
    $("#navPage1").click(function () {
        $("#page1").show();
        $("#page2").hide();
        $("#page3").hide();
        $("#page4").hide();
  });
    $("#navPage2").click(function () {
        $("#page1").hide();
        $("#page2").show();
        $("#page3").hide();
        $("#page4").hide();
    });
    $("#navPage3").click(function () {
        $("#page1").hide();
        $("#page2").hide();
        $("#page3").show();
        $("#page4").hide();
    });
    $("#navPage4").click(function () {
        $("#page1").hide();
        $("#page2").hide();
        $("#page3").hide();
        $("#page4").show();
    });
   
});

</script>

<ol class="breadcrumb" style="display:none;">
  <li><a href="#" id="navPage1">Main Page</a></li>
    <li><a href="#" id="navPage2">Site/Coverage</a></li>
  <li><a href="#" id="navPage3">Building/DSLAM</a></li>
    <li><a href="#" id="navPage4">Card/Port</a></li>
    
  @*<li class="active" id="navPage4">DSLAM Master</li>*@
</ol>

<div id="page1" >
@Html.Partial("~/Views/CoverageManagement/_SearchCoverage.cshtml")
</div>
<div id="page2"  class="i-hidden">
@Html.Partial("~/Views/CoverageManagement/_ManageCoverage.cshtml")
</div>
<div id="page3"  class="i-hidden">
@Html.Partial("~/Views/CoverageManagement/_DSLAMBuilding.cshtml")
</div>
<div id="page4"  class="i-hidden">
@Html.Partial("~/Views/Coverage_CardPort/index.cshtml")
</div>

 