﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutReferences.cshtml";
}

<body>
    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 add-border-rounded-green grayscale">
        <h1 style="text-align: center">Welcome !!!</h1>
        <h2 style="text-align: center">FBB_WEB_Register run Complete.</h2>
        <p style="text-align: center">WEB - Version >@ViewBag.WebVersion</p>
        <p style="text-align: center">APP - Version >@ViewBag.AppVersion</p>
    </div>
</body>
