html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Tahoma;
}


/* style validation helpers */
.field-validation-error {
    color: #f00;
    display: inherit;
}

/*input[data-val-required]
{
	border-left: 5px solid red;
	padding-left: 2px;
}

.data-val-required
{
	border-left: 5px solid red;
	padding-left: -2px;
}*/

.input-validation-error {
    /*border-left: 5px solid red; padding-left: -2px;*/
    border-right: 1px solid #e80c4d;
    border-top: 1px solid #e80c4d;
    border-bottom: 1px solid #e80c4d;
}

span.field-validation-error {
    font-size: 80%;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* i-style */

/* b */

.i-border {
    border: 1px solid#e5e5e5;
}

.i-radius {
    border-radius: 4px;
}

/* c */
.i-clear {
    clear:both;
}

/* e */
.i-enter-1 {
    height: 10px;
}

.i-enter-2 {
    height: 20px;
}

.i-enter-3 {
    height: 30px;
}

.i-enter-4 {
    height: 40px;
}

.i-enter-5 {
    height: 50px;
}

.i-enter-6 {
    height: 60px;
}

.i-enter-8 {
    height: 80px;
}

/* f */
.i-fg-data-entry-validation {
    font-size: 90%;
    color: #f00;
    margin-top: 1px;
}

.i-footer p {
}

.i-footer p {
    font-size: 80%;
    font-weight: 700;
    color: #666;
}

.i-fore-red {
    background-color: #ffdada !important;
}

.i-fore-white {
    background-color: #fff !important;
}


.i-form-control-extend {
    box-shadow: none !important;
    border: 0 !important;
    padding: 0 !important;
    height: 29px !important;
}

/* g */
.i-gap {
    margin-right: 5%;
    margin-left: 5%;
}

.i-gap-popup {
    padding: 20px !important;
}

.i-height-nm {
    height: 400px !important;
}

.i-no-resize {
    resize: none;
}

.i-gap-body-left {
    margin-left: 75px !important;
}

.i-gap-left-xs {
    margin-left: 2px;
}

.i-gap-left-sm {
    margin-left: 4px;
}

.i-gap-left-md {
    margin-left: 6px;
}

.i-gap-left-lg {
    margin-left: 12px;
}

.i-gap-left-xl {
    margin-left: 24px;
}

.i-gap-left-1 {
    margin-left: 10px;
}

.i-gap-left-2 {
    margin-left: 20px;
}

.i-gap-left-3 {
    margin-left: 30px;
}

.i-gap-right-xs {
    margin-right: 2px;
}

.i-gap-right-xs-3 {
    margin-right: 3px;
}

.i-gap-right-1 {
    margin-right: 10px;
}

.i-gap-right-2 {
    margin-right: 20px;
}

.i-gap-right-3 {
    margin-right: 30px;
}

.i-gap-top-1 {
    margin-top: 10px;
}

.i-gap-top-2 {
    margin-top: 20px;
}

.i-gap-top-3 {
    margin-top: 30px;
}

.i-gap-top-4 {
    margin-top: 40px;
}

.i-gap-top-8 {
    margin-top: 80px;
}

.i-gap-top-10 {
    margin-top: 100px;
}


.i-gap-bottom-1 {
    margin-bottom: 10px;
}

.i-gap-bottom-2 {
    margin-bottom: 20px;
}

.i-gap-bottom-3 {
    margin-bottom: 30px;
}

.i-gap-bottom-4 {
    margin-bottom: 40px;
}

.i-grid-detail-th {
    font-weight: 700 !important;
    color: #333333 !important;
    font-size: 0.9em !important;
    text-align: center !important;
}

.i-grid-th {
    font-weight: 700 !important;
    text-align: center !important;
    font-size: 0.9em !important;
    text-transform: uppercase;
}

.i-grid-height-sm {
    height: 300px;
}

.i-grid-height-nm {
    height: 400px;
}

.i-grid-height-lg {
    height: 500px;
}

.i-grid-col-align-center {
    text-align: center;
}

.i-grid-col-align-right {
    text-align: right;
}

.i-grid-col-valign-bottom {
    vertical-align: bottom !important;
}

.i-grid-col-valign-top {
    vertical-align: top !important;
}

.i-grid-scroll-x-hidden .k-grid-content {
    overflow-x: hidden;
}
/* h */
.i-h4 {
    font-size:16px;
}

.i-header-fit {
    margin-top: 1px !important;
}

.i-header-fit-2 {
    margin-top: 1px !important;
    padding-bottom:0;
}

.i-header img {
    margin-top: 2px;
    margin-bottom: 1px;
}

.i-hidden {
    display: none;
}

/* i */
.i-inline {
    display: inline;
}

/* l */
.i-lg {
    width: 90% !important;
}

.i-left {
    float: left;
}


/* m */


/* n */
.i-no-over {
    width: 99.8%;
}

/* r */
.i-red {
    color: #f00;
}

.i-right {
    float: right;
}

/* s */
.i-set-gap {
}

.i-space-1 {
    width: 10px;
}



/* t */
.i-text-align-center {
    text-align: center;
}

.i-text-align-left {
    text-align: left;
}

.i-text-align-right {
    text-align: right;
}

.i-total-box {
    width: 100%;
    padding: 15px 10px;
    border-radius: 0;
}

    .i-total-box .i-f1 {
        font-size: 22px;
    }

    .i-total-box .i-f2 {
        font-size: 15px;       
    }



.i-total-box-2 {
    width: 100%;    
    border-radius: 0 !important;
}

    .i-total-box-2 .i-f1 {
        font-size: 18px;
    }

    .i-total-box-2 .i-f2 {
        font-size: 11px;
    }

/* w */
.i-width-xl {
    width: 200px;
}

.i-width-lg {
    width: 160px;
}

.i-width-md {
    width: 150px;
}

.i-width-nm {
    width: 130px;
}

.i-width-sm {
    width: 100px;
}

.i-width-sm-2 {
    width: 70px;
}

.i-width-xs {
    width: 50px;
}

/* x */

.i-fa-1 {
    font-size: 3em !important;
}

.i-fa-2 {
    font-size: 6em !important;
}

.i-fa-3 {
    font-size: 12em !important;
}
