@model WBBContract.Minions.MinionProcMainCommand

@using (Html.BeginForm("InstallProfileProcMain", "Minion", FormMethod.Post, new { @id = "frmInstallProfileProcMain" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row form-data">
        <p class="clearfix"></p>
        <strong class="col-md-2">Profile</strong>
        <div id="btnAddProfile" class="btn btn-success" ><i class="fa fa-plus" aria-hidden="true"></i></div>
        <p class="clearfix"></p>
        <div id="installProfile">
            
        </div>
        
        <p class="clearfix"></p>
        <strong class="col-md-2">Contact</strong>
        <div id="btnAddContact" class="btn btn-success" ><i class="fa fa-plus" aria-hidden="true"></i></div>
        <p class="clearfix"></p>
        <div id="installContact">
            
        </div>
        
        <p class="clearfix"></p>
        <strong class="col-md-2">Address</strong>
        <div id="btnAddAddress" class="btn btn-success" ><i class="fa fa-plus" aria-hidden="true"></i></div>
        <p class="clearfix"></p>
        <div id="installAddress">
            
        </div>
        
        <p class="clearfix"></p>
        <strong class="col-md-2">Package</strong>
        <div id="btnAddPackage" class="btn btn-success" ><i class="fa fa-plus" aria-hidden="true"></i></div>
        <p class="clearfix"></p>
        <div id="installPackage">
            
        </div>
        
        <p class="clearfix"></p>
        <strong class="col-md-2">Splitter</strong>
        <div id="btnAddSplitter" class="btn btn-success" ><i class="fa fa-plus" aria-hidden="true"></i></div>
        <p class="clearfix"></p>
        <div id="installSplitter">
            

        </div>
        
    </div>
    
    <div class="row raw-xml hidden">
        <div class="col-md-12">
            <textarea class="form-control" id="xmlString"  rows="20" spellcheck="false"></textarea>
            <textarea class="form-control hidden" id="hdnxmlString" name="xmlString" rows="20"></textarea>

        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button type="submit" id="btnSendInstallProfileProcMain" class="btn btn-primary" data-toggle="modal">Send</button>
            <button type="reset" class="btn btn-default" data-toggle="modal">Reset</button>
        </div>
    </div>

}
