@model WBBContract.Minions.MinionGetListProfilePackageQuery

@using (Html.BeginForm("GetListProfilePackage", "Minion", FormMethod.Post, new { @id = "frmListProfilePackage" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row form-data">
        <div class="form-group">
            <div class="col-md-6">
                <div class="input-group col-md-12">
                    <div class="input-group-addon" style="width: 220px; text-align: left;">P_ORDER_NO</div>
                    @Html.TextBoxFor(model => model.Order_No, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    
    <div class="row raw-xml hidden">
        <div class="col-md-12">
            <textarea class="form-control" id="xmlString"  rows="20" spellcheck="false"></textarea>
            <textarea class="form-control hidden" id="hdnxmlString" name="xmlString" rows="20"></textarea>

        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary" data-toggle="modal">Send</button>
            <button type="reset" class="btn btn-default" data-toggle="modal">Reset</button>
        </div>
    </div>

}
