@model WBBContract.Minions.MinionGetSaveOrderNew

@using (Html.BeginForm("SaveOrderNew", "Minion", FormMethod.Post, new { @id = "frmSaveOrderNew" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row form-data">
        <div class="form-group">
            
        </div>
    </div>
    
    <div class="row raw-xml hidden">
        <div class="col-md-12">
            <textarea class="form-control" id="xmlString"  rows="20" spellcheck="false"></textarea>
            <textarea class="form-control hidden" id="hdnxmlString" name="xmlString" rows="20"></textarea>
            @Html.TextBox("UrlEnpoint", null, new { @class = "form-control hidden"})
            @Html.TextArea("RequestData", null, new { @class = "form-control hidden", rows = "20" })
        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button type="submit" id="btnSendMessageLog" class="btn btn-primary" data-toggle="modal">Send</button>
            <button type="reset" class="btn btn-default" data-toggle="modal">Reset</button>
        </div>
    </div>

}
