h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.row{max-width:1140px;}
.panel{margin:0px 10px;padding:0;}
.pos{position:absolute;z-index:1;}
.t_inline{display:inline-block;}
.t_center{text-align:center;}
.v_gap5{margin-bottom:5px;margin-top:5px;}
.v_gap10{margin-bottom:10px;margin-top:10px;}
.v_gap15{margin-bottom:15px;margin-top:15px;}
.v_gap20{margin-bottom:20px;margin-top:20px;}
.v_gap25{margin-bottom:25px;margin-top:25px;}
.v_gap30{margin-bottom:30px;margin-top:30px;}
.v_gap35{margin-bottom:35px;margin-top:35px;}
.v_gap40{margin-bottom:40px;margin-top:40px;}
.v_gap45{margin-bottom:45px;margin-top:45px;}
.v_gap50{margin-bottom:50px;margin-top:50px;}
.box_pad5{padding:5px;}
.box_pad10{padding:10px;}
.box_pad15{padding:15px;}
.box_pad20{padding:20px;}
.box_pad25{padding:25px;}
.box_pad30{padding:30px;}
.box_pad35{padding:35px;}
.box_pad40{padding:40px;}
.box_pad45{padding:45px;}
.box_pad50{padding:50px;}
.t_gap5{margin-top:5px;}
.t_gap10{margin-top:10px;}
.t_gap15{margin-top:15px;}
.t_gap20{margin-top:20px;}
.t_gap25{margin-top:25px;}
.t_gap30{margin-top:30px;}
.t_gap35{margin-top:35px;}
.t_gap40{margin-top:40px;}
.t_gap45{margin-top:45px;}
.t_gap50{margin-top:50px;}
.b_gap5{margin-bottom:5px;}
.b_gap10{margin-bottom:10px;}
.b_gap15{margin-bottom:15px;}
.b_gap20{margin-bottom:20px;}
.b_gap25{margin-bottom:25px;}
.b_gap30{margin-bottom:30px;}
.b_gap35{margin-bottom:35px;}
.b_gap40{margin-bottom:40px;}
.b_gap45{margin-bottom:45px;}
.b_gap50{margin-bottom:50px;}
.l_gap5{margin-left:5px;}
.l_gap10{margin-left:10px;}
.l_gap15{margin-left:15px;}
.l_gap20{margin-left:20px;}
.l_gap25{margin-left:25px;}
.l_gap30{margin-left:30px;}
.l_gap35{margin-left:35px;}
.l_gap40{margin-left:40px;}
.l_gap45{margin-left:45px;}
.l_gap50{margin-left:50px;}
.r_gap5{margin-right:5px;}
.r_gap10{margin-right:10px;}
.r_gap15{margin-right:15px;}
.r_gap20{margin-right:20px;}
.r_gap25{margin-right:25px;}
.r_gap30{margin-right:30px;}
.r_gap35{margin-right:35px;}
.r_gap40{margin-right:40px;}
.r_gap45{margin-right:45px;}
.r_gap50{margin-right:50px;}
.t_pad5{padding-top:5px;}
.t_pad10{padding-top:10px;}
.t_pad15{padding-top:15px;}
.t_pad20{padding-top:20px;}
.t_pad25{padding-top:25px;}
.t_pad30{padding-top:30px;}
.t_pad35{padding-top:35px;}
.t_pad40{padding-top:40px;}
.t_pad45{padding-top:45px;}
.t_pad50{padding-top:50px;}
.b_pad5{padding-bottom:5px;}
.b_pad10{padding-bottom:10px;}
.b_pad15{padding-bottom:15px;}
.b_pad20{padding-bottom:20px;}
.b_pad25{padding-bottom:25px;}
.b_pad30{padding-bottom:30px;}
.b_pad35{padding-bottom:35px;}
.b_pad40{padding-bottom:40px;}
.b_pad45{padding-bottom:45px;}
.b_pad50{padding-bottom:50px;}
.l_pad5{padding-left:5px;}
.l_pad10{padding-left:10px;}
.l_pad15{padding-left:15px;}
.l_pad20{padding-left:20px;}
.l_pad25{padding-left:25px;}
.l_pad30{padding-left:30px;}
.l_pad35{padding-left:35px;}
.l_pad40{padding-left:40px;}
.l_pad45{padding-left:45px;}
.l_pad50{padding-left:50px;}
.r_pad5{padding-right:5px;}
.r_pad10{padding-right:10px;}
.r_pad15{padding-right:15px;}
.r_pad20{padding-right:20px;}
.r_pad25{padding-right:25px;}
.r_pad30{padding-right:30px;}
.r_pad35{padding-right:35px;}
.r_pad40{padding-right:40px;}
.r_pad45{padding-right:45px;}
.r_pad50{padding-right:50px;}
.mini-menu .menu__item{padding-left:0px;}
.mini-menu .menu__item .menu__link.fibre{padding-left:20px;}
.mini-menu .menu__item .menu__link.fibre:hover, .mini-menu .menu__item .menu__link.fibre.lock{color:#FFF;background-color:#73AA01;}
.mini-menu .menu__item .menu__link.fibre.plus{background:url(../images/interface/ic_plus_w.png) no-repeat right center;}
.mini-menu .menu__item .menu__link.fibre:hover.plus{background-color:#73AA01;}
.mini-menu .menu__item .menu__link.fibre.del{color:#FFF;background:url(../images/interface/bg_hover_mob2_on.png) no-repeat right center #73AA01;}
.mini-menu .menu__item .menu__link.fibre.customer{padding-left:30px;font-size:16px;color:#FFF;background-color:#3B3B3B;border:none;}
.mini-menu .menu__item .menu__link.fibre.customer:hover{color:#FFF;background-color:#333;}
.pack_left_bt_sec{position:relative;text-align:left;text-indent:20px;font-family:'db_heavent_cond';line-height:22px;font-size:16px;color:#FFF;background-color:#575757;padding:9px 0px;}
.mini-menu .menu__item.customer{border-bottom:none;}
#container{padding-top:119px !important;}
#fibre_main_menu{position:fixed;z-index:29;top:50px;width:100%;height:auto;border-bottom:solid 4px #C9DE31;background-color:#313131;text-align:center;}
#fibre_subfolder_menu{position:fixed;z-index:29;top:50px;width:100%;height:auto;border-bottom:solid 4px #C9DE31;background-color:#313131;text-align:center;}
.fibre_menu_bt{display:inline-block;margin-left:-3px;}
.fibre_menu_bt:hover, .fibre_menu_bt.current{background:url(../images/interface/fibre_menu_on.png) no-repeat center;background-size:100% 100%;cursor:pointer;}
.fibre_menu_bt .menu_body{padding:40px;padding-bottom:5px;font-family:'db_heavent_cond';line-height:20px;font-size:14px;color:#D7D7D7;min-width:170px;background-repeat:no-repeat;background-position:center 10px;}
.fibre_menu_bt .menu_body.home{background-image:url(../images/interface/fibre_menu_ic1_off.png);}
.fibre_menu_bt .menu_body.pack{background-image:url(../images/interface/fibre_menu_ic2_off.png);}
.fibre_menu_bt .menu_body.access{background-image:url(../images/interface/fibre_menu_ic3_off.png);}
.fibre_menu_bt .menu_body.faq{background-image:url(../images/interface/fibre_menu_ic4_off.png);}
.fibre_menu_bt:hover .menu_body, .fibre_menu_bt.current .menu_body{color:#313131;}
.fibre_menu_bt:hover .menu_body.home, .fibre_menu_bt.current .menu_body.home{background-image:url(../images/interface/fibre_menu_ic1_on.png);}
.fibre_menu_bt:hover .menu_body.pack, .fibre_menu_bt.current .menu_body.pack{background-image:url(../images/interface/fibre_menu_ic2_on.png);}
.fibre_menu_bt:hover .menu_body.access, .fibre_menu_bt.current .menu_body.access{background-image:url(../images/interface/fibre_menu_ic3_on.png);}
.fibre_menu_bt:hover .menu_body.faq, .fibre_menu_bt.current .menu_body.faq{background-image:url(../images/interface/fibre_menu_ic4_on.png);}
.menu_sub_hit{position:absolute;z-index:1;width:100%;height:100px;left:0px;bottom:-100px;}
.menu_sub_hit2{position:absolute;z-index:1;width:100%;height:50px;left:0px;top:-118px}
.fibre_menu_sub{position:absolute;z-index:1;width:100%;height:100px;left:0px;bottom:-104px;background-color:rgba(0, 0, 0, 0.8);display:none;}
.menu_sub_box_set > li{width:25%;list-style:none;display:block;height:auto;float:left;padding:0;margin:0;text-align:left;}
.menu_sub_box_set > li:nth-of-type(1n){clear:none;}
.menu_sub_box_set > li:nth-of-type(4n+1){clear:both;}
.menu_sub_box{position:relative;padding:2px 10px;}
.menu_sub_topic{font-family:'db_heaventbold_cond';line-height:22px;font-size:22px;color:#9CCB0F;margin:15px 0px;margin-top:15px;}
.menu_sub_list{font-family:'db_heavent_cond';line-height:20px;font-size:16px;color:#fff;margin:5px 0px;}
.menu_sub_list:hover{color:#9CCB0F;padding-left:30px;background:url(../images/interface/fibre_sub_menu_ling.png) no-repeat 0px 8px;cursor:pointer;}
.box_blank{height:10px;}
.menu_sub_list.cor{margin-left:70px;}
.menu_sub_list.pw4{margin-left:30px;}
.menu_sub_list.hplus{margin-left:35px;}
#fibre_main_menu a:link, #fibre_main_menu a:visited, #fibre_main_menu a:active{text-decoration:none;}
#fibre_main_menu a:hover{text-decoration:none;}
#fibre_subfolder_menu a:link, #fibre_subfolder_menu a:visited, #fibre_subfolder_menu a:active{text-decoration:none;}
#fibre_subfolder_menu a:hover{text-decoration:none;}
.fibre_custo_bt_wrap{position:relative;display:inline-block;vertical-align:top;margin-top:20px;margin-left:30px;}
.fibre_custo_bt{display:inline-block;padding:5px 15px;padding-right:45px;font-family:'db_heavent_cond';line-height:22px;font-size:18px;color:#313131;background:url(../images/interface/fibre_menu_arrow.png) no-repeat 115px 13px #97C910;}
.fibre_custo_bt.en{background:url(../images/interface/fibre_menu_arrow.png) no-repeat 170px 13px #97C910;}
.fibre_custo_bt:hover, .fibre_custo_bt.current{color:#fff;cursor:pointer;}
.fibre_custo_drop{position:absolute;z-index:1;width:255px;height:260px;left:0px;bottom:-262px;background-color:#91C90C;text-align:left;display:none;}
.fibre_custo_drop_bt{font-family:'db_heavent_cond';line-height:20px;font-size:14px;color:#343033;padding:12px 10px 12px 52px;}
.fibre_custo_drop_bt.pay{background:url(../images/interface/fibre_sub_menu_ic1.png) no-repeat 10px 3px #94C90D;}
.fibre_custo_drop_bt.discount{background:url(../images/interface/fibre_sub_menu_ic2.png) no-repeat 10px 3px #94C90D;}
.fibre_custo_drop_bt.topup{background:url(../images/interface/fibre_sub_menu_ic3.png) no-repeat 10px 3px #94C90D;}
.fibre_custo_drop_bt.inform{background:url(../images/interface/fibre_sub_menu_ic4.png) no-repeat 10px 3px #94C90D;}
.fibre_custo_drop_bt.speedboost{background:url(../images/interface/fibre_sub_menu_ic5.png) no-repeat 10px 3px #94C90D;}
.fibre_custo_drop_bt.mashwifi{background:url(../images/interface/fibre_sub_menu_ic6.png) no-repeat 10px 3px #94C90D;}
.fibre_custo_drop_bt:hover{color:#fff;background-color:#3B4F06;cursor:pointer;}
.fibre_custo_hit{position:absolute;z-index:1;}
.fibre_custo_hit.pos1{width:100px;height:260px;left:-100px;top:0px}
.fibre_custo_hit.pos2{width:200px;height:260px;right:-180px;top:0px}
.fibre_custo_hit.pos3{width:255px;height:50px;left:0px;bottom:-120px}
.fibre_custo_hit.pos4{width:255px;height:50px;left:0px;top:-104px;}
.bt_con_wrap{text-align:right;margin-top:70px;}
.bt_condition_foot{display:inline-block;font-family:'db_heaventlight_cond';line-height:24px;font-size:18px;color:#ECECEC;padding:5px 15px 5px 45px;background:url(../images/interface/detail3_bt_icon.png) no-repeat 15px 5px;border-radius:100px;border:solid 1px #969696;}
.bt_condition_foot:hover{background:url(../images/interface/detail3_bt_icon_b.png) no-repeat 15px 5px #9FCF3F;color:#000;cursor:pointer;}
#ais_topbar-store .store-status{display:none;}
@media only screen and (min-width:1300px) and (max-width:2400px){}
@media screen and (max-width:1024px){.fibre_custo_drop{left:auto;right:0px;width:235px;}
}
@media screen and (max-width:900px){.fibre_menu_bt .menu_body{padding:40px 20px 5px 20px;min-width:auto;}
.fibre_custo_bt_wrap{margin-top:20px;margin-left:10px;}
.menu_sub_topic{line-height:22px;font-size:20px;}
.menu_sub_list{line-height:20px;font-size:14px;}
}
@media screen and (max-width:750px){#container{padding-top:50px !important;}
#fibre_main_menu, #fibre_subfolder_menu{display:none;}
.menu_sub_box_set > li{width:33.3333%;list-style:none;display:block;height:auto;float:left;padding:0;margin:0;text-align:left;}
.menu_sub_box_set > li:nth-of-type(1n){clear:none;}
.menu_sub_box_set > li:nth-of-type(3n+1){clear:both;}
.box_blank{display:none;}
}
@media screen and (max-width:640px){#fibre_main_menu, fibre_subfolder_menu{display:none;}
}
@media screen and (max-width:570px){.bt_con_wrap{text-align:right;margin-top:10px;margin-bottom:10px;}
}