/* line 17, ../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 27, ../scss/_pie.scss */
.pie-element, .bordered, .gradient {
  behavior: url("/Content/Styles/lib/pie.htc");
  position: relative;
}

/* line 33, ../scss/_pie.scss */
.bordered {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 38, ../scss/_pie.scss */
.gradient {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  -pie-background: linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#ff0000, #0000ff);
}

/* line 52, ../scss/_pie.scss */
.pie-container, .widget {
  z-index: 0;
  position: relative;
}

/* line 56, ../scss/_pie.scss */
.z-pie-element, .widget h3 {
  behavior: url("/Content/Styles/lib/pie.htc");
  z-index: 0;
}

/* line 71, ../scss/_pie.scss */
.has-gradient {
  behavior: url("/Content/Styles/lib/pie.htc");
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #0000ff));
  background: -webkit-linear-gradient(#ff0000, #0000ff);
  background: -moz-linear-gradient(#ff0000, #0000ff);
  background: -o-linear-gradient(#ff0000, #0000ff);
  -pie-background: linear-gradient(#ff0000, #0000ff);
  background: linear-gradient(#ff0000, #0000ff);
}

/* line 37, ../scss/_base.scss */
body {
  background-color: #f9f9f9;
  min-width: 960px;
  color: #717171 !important;
  font-family: "tahoma";
  font-size: 10px;
  line-height: 12px;
  cursor: default;
}
/* line 49, ../scss/_base.scss */
body div.container {
  width: 960px;
  margin: 0 auto;
}
/* line 54, ../scss/_base.scss */
body em {
  font-weight: bold;
  font-style: normal;
}
/* line 56, ../scss/_base.scss */
body a {
  text-decoration: none;
}

/* line 62, ../scss/_base.scss */
h1, h2, h3, h4, h4, h6 {
  color: #a4a4a4;
}

/* line 67, ../scss/_base.scss */
h1 {
  font-size: 32px;
  line-height: 32px;
}
/* line 67, ../scss/_base.scss */
h1.small {
  font-size: 19.2px;
}

/* line 68, ../scss/_base.scss */
h2 {
  font-size: 22px;
  line-height: 24px;
}
/* line 68, ../scss/_base.scss */
h2.small {
  font-size: 16.5px;
}

/* line 69, ../scss/_base.scss */
h3 {
  font-size: 18px;
  line-height: 20px;
}
/* line 69, ../scss/_base.scss */
h3.small {
  font-size: 14.04px;
}

/* line 70, ../scss/_base.scss */
h4 {
  font-size: 14px;
  line-height: 15px;
}
/* line 70, ../scss/_base.scss */
h4.small {
  font-size: 12.04px;
}

/* line 71, ../scss/_base.scss */
h5 {
  font-size: 12px;
  line-height: 15px;
}
/* line 71, ../scss/_base.scss */
h5.small {
  font-size: 12px;
}

/* line 72, ../scss/_base.scss */
h6 {
  font-size: 11px;
  line-height: 12px;
}
/* line 72, ../scss/_base.scss */
h6.small {
  font-size: 11px;
}

/* line 74, ../scss/_base.scss */
div.clear {
  clear: both;
  height: 0px;
}

/* line 79, ../scss/_base.scss */
.el-left {
  float: left;
}

/* line 80, ../scss/_base.scss */
.el-right {
  float: right;
}

/* line 23, ../scss/component/_form.scss */
form div.field,
div.form div.field,
div.form-layout div.field {
  height: 25px;
  font-size: 15px;
  margin-bottom: 10px;
}
/* line 31, ../scss/component/_form.scss */
form div.field.field-inline div.caption,
div.form div.field.field-inline div.caption,
div.form-layout div.field.field-inline div.caption {
  float: left;
  width: 40%;
}
/* line 32, ../scss/component/_form.scss */
form div.field.field-inline div.value,
div.form div.field.field-inline div.value,
div.form-layout div.field.field-inline div.value {
  margin-left: 40%;
}
/* line 33, ../scss/component/_form.scss */
form div.field.field-inline div.input,
div.form div.field.field-inline div.input,
div.form-layout div.field.field-inline div.input {
  /*margin-left: 40%;*/
}
/* line 37, ../scss/component/_form.scss */
form div.field.field-vertical div.caption,
div.form div.field.field-vertical div.caption,
div.form-layout div.field.field-vertical div.caption {
  float: none;
  width: auto;
  margin-left: 0px;
}
/* line 38, ../scss/component/_form.scss */
form div.field.field-vertical div.value,
div.form div.field.field-vertical div.value,
div.form-layout div.field.field-vertical div.value {
  width: auto;
  margin-left: 0px;
  height: 17px;
  line-height: 17px;
}
/* line 39, ../scss/component/_form.scss */
form div.field.field-vertical div.input,
div.form div.field.field-vertical div.input,
div.form-layout div.field.field-vertical div.input {
  width: auto;
  margin-left: 0px;
}
/* line 43, ../scss/component/_form.scss */
form div.field div.caption,
div.form div.field div.caption,
div.form-layout div.field div.caption {
  display: block;
  color: #717171;
  width: 40%;
  line-height: 25px;
}
/* line 50, ../scss/component/_form.scss */
form div.field div.caption.align-right,
div.form div.field div.caption.align-right,
div.form-layout div.field div.caption.align-right {
  text-align: right;
}
/* line 52, ../scss/component/_form.scss */
form div.field div.caption.align-right span,
div.form div.field div.caption.align-right span,
div.form-layout div.field div.caption.align-right span {
  margin-right: 10px;
}
/* line 55, ../scss/component/_form.scss */
form div.field div.caption.align-center,
div.form div.field div.caption.align-center,
div.form-layout div.field div.caption.align-center {
  text-align: center;
}
/* line 57, ../scss/component/_form.scss */
form div.field div.caption.align-center span,
div.form div.field div.caption.align-center span,
div.form-layout div.field div.caption.align-center span {
  margin-right: 10px;
}
/* line 60, ../scss/component/_form.scss */
form div.field div.caption.align-left,
div.form div.field div.caption.align-left,
div.form-layout div.field div.caption.align-left {
  text-align: left;
}
/* line 62, ../scss/component/_form.scss */
form div.field div.caption.align-left span,
div.form div.field div.caption.align-left span,
div.form-layout div.field div.caption.align-left span {
  margin-left: 10px;
}
/* line 69, ../scss/component/_form.scss */
form div.field div.input,
form div.field div.value,
div.form div.field div.input,
div.form div.field div.value,
div.form-layout div.field div.input,
div.form-layout div.field div.value {
  display: block;
  line-height: 25px;
  height: 25px;
}
/* line 88, ../scss/component/_form.scss */
form div.field div.input input[type="button"],
form div.field div.value input[type="button"],
div.form div.field div.input input[type="button"],
div.form div.field div.value input[type="button"],
div.form-layout div.field div.input input[type="button"],
div.form-layout div.field div.value input[type="button"] {
  -webkit-border-radius: 3px 3px;
  -moz-border-radius: 3px / 3px;
  border-radius: 3px / 3px;
  height: 25px;
  padding: 0 5px 0 5px;
  border: solid 1px #ccc;
  cursor: pointer;
}
/* line 94, ../scss/component/_form.scss */
form div.field div.input input[type="button"]:hover,
form div.field div.value input[type="button"]:hover,
div.form div.field div.input input[type="button"]:hover,
div.form div.field div.value input[type="button"]:hover,
div.form-layout div.field div.input input[type="button"]:hover,
div.form-layout div.field div.value input[type="button"]:hover {
  background-color: #ddd;
}
/* line 100, ../scss/component/_form.scss */
form div.field div.input div.dropdown div.btn,
form div.field div.value div.dropdown div.btn,
div.form div.field div.input div.dropdown div.btn,
div.form div.field div.value div.dropdown div.btn,
div.form-layout div.field div.input div.dropdown div.btn,
div.form-layout div.field div.value div.dropdown div.btn {
  padding: 10px 12px;
  display: block;
  background-color: #B3BDC6;
}
/* line 105, ../scss/component/_form.scss */
form div.field div.input div.dropdown div.btn:hover,
form div.field div.value div.dropdown div.btn:hover,
div.form div.field div.input div.dropdown div.btn:hover,
div.form div.field div.value div.dropdown div.btn:hover,
div.form-layout div.field div.input div.dropdown div.btn:hover,
div.form-layout div.field div.value div.dropdown div.btn:hover {
  background-color: #d0d6dc;
}
/* line 115, ../scss/component/_form.scss */
form div.field div.input-list select, form div.field div.input-list input,
div.form div.field div.input-list select,
div.form div.field div.input-list input,
div.form-layout div.field div.input-list select,
div.form-layout div.field div.input-list input {
  margin-right: 10px;
}
/* line 119, ../scss/component/_form.scss */
form div.field.no-caption div.input,
div.form div.field.no-caption div.input,
div.form-layout div.field.no-caption div.input {
  width: 100%;
  margin-left: 0px;
}
/* line 120, ../scss/component/_form.scss */
form div.field.no-caption div.caption,
div.form div.field.no-caption div.caption,
div.form-layout div.field.no-caption div.caption {
  display: none;
}
/* line 125, ../scss/component/_form.scss */
form div.field-group,
div.form div.field-group,
div.form-layout div.field-group {
  margin-bottom: 20px;
  font-size: 1.2em;
  height: 35px;
  overflow: hidden;
}
/* line 133, ../scss/component/_form.scss */
form div.field-group.selected,
div.form div.field-group.selected,
div.form-layout div.field-group.selected {
  height: auto;
}
/* line 135, ../scss/component/_form.scss */
form div.field-group.selected div.field-group-title,
div.form div.field-group.selected div.field-group-title,
div.form-layout div.field-group.selected div.field-group-title {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3c81c), color-stop(100%, #79a631));
  background: -webkit-linear-gradient(#b3c81c, #79a631);
  background: -moz-linear-gradient(#b3c81c, #79a631);
  background: -o-linear-gradient(#b3c81c, #79a631);
  -pie-background: linear-gradient(#b3c81c, #79a631);
  background: linear-gradient(#b3c81c, #79a631);
  color: #f9f9f9;
}
/* line 138, ../scss/component/_form.scss */
form div.field-group.selected div.field-group-title div.tool,
div.form div.field-group.selected div.field-group-title div.tool,
div.form-layout div.field-group.selected div.field-group-title div.tool {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #79a631), color-stop(100%, #b3c81c));
  background: -webkit-linear-gradient(#79a631, #b3c81c);
  background: -moz-linear-gradient(#79a631, #b3c81c);
  background: -o-linear-gradient(#79a631, #b3c81c);
  -pie-background: linear-gradient(#79a631, #b3c81c);
  background: linear-gradient(#79a631, #b3c81c);
  border: solid 1px #79a631;
}
/* line 141, ../scss/component/_form.scss */
form div.field-group.selected div.field-group-title div.tool span.caret,
div.form div.field-group.selected div.field-group-title div.tool span.caret,
div.form-layout div.field-group.selected div.field-group-title div.tool span.caret {
  border-bottom-color: #f9f9f9;
  border-width: 0 5px 7px;
}
/* line 147, ../scss/component/_form.scss */
form div.field-group.selected div.field-group-set,
div.form div.field-group.selected div.field-group-set,
div.form-layout div.field-group.selected div.field-group-set {
  display: block;
}
/* line 151, ../scss/component/_form.scss */
form div.field-group div.field-group-title,
div.form div.field-group div.field-group-title,
div.form-layout div.field-group div.field-group-title {
  behavior: url("/Content/Styles/lib/pie.htc");
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaea), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(#eaeaea, #e0e0e0);
  background: -moz-linear-gradient(#eaeaea, #e0e0e0);
  background: -o-linear-gradient(#eaeaea, #e0e0e0);
  -pie-background: linear-gradient(#eaeaea, #e0e0e0);
  background: linear-gradient(#eaeaea, #e0e0e0);
  font-size: 1.2em;
  height: 35px;
  line-height: 35px;
  background-color: #ccc;
  padding: 0 18px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}
/* line 165, ../scss/component/_form.scss */
form div.field-group div.field-group-title div.tool,
div.form div.field-group div.field-group-title div.tool,
div.form-layout div.field-group div.field-group-title div.tool {
  behavior: url("/Content/Styles/lib/pie.htc");
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1d1d1), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(#d1d1d1, #eaeaea);
  background: -moz-linear-gradient(#d1d1d1, #eaeaea);
  background: -o-linear-gradient(#d1d1d1, #eaeaea);
  -pie-background: linear-gradient(#d1d1d1, #eaeaea);
  background: linear-gradient(#d1d1d1, #eaeaea);
  border: solid 1px #d1d1d1;
  background-color: #bfbfbf;
  cursor: pointer;
  height: 27px;
  width: 22px;
  margin: 3px;
  position: absolute;
  right: 0px;
}
/* line 179, ../scss/component/_form.scss */
form div.field-group div.field-group-title div.tool span.caret,
div.form div.field-group div.field-group-title div.tool span.caret,
div.form-layout div.field-group div.field-group-title div.tool span.caret {
  top: 10px;
  right: 6px;
  background-color: transparent;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  z-index: 1002;
  border-top-color: #a5a5a5;
  border-width: 7px 5px 0;
}
/* line 198, ../scss/component/_form.scss */
form div.field-group div.field-group-tool,
div.form div.field-group div.field-group-tool,
div.form-layout div.field-group div.field-group-tool {
  height: 30px;
  padding: 5px 0px;
  text-align: right;
}
/* line 202, ../scss/component/_form.scss */
form div.field-group div.field-group-tool .btn,
div.form div.field-group div.field-group-tool .btn,
div.form-layout div.field-group div.field-group-tool .btn {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9f9f9), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f9f9f9, #ececec);
  background: -moz-linear-gradient(#f9f9f9, #ececec);
  background: -o-linear-gradient(#f9f9f9, #ececec);
  -pie-background: linear-gradient(#f9f9f9, #ececec);
  background: linear-gradient(#f9f9f9, #ececec);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 1.1em;
  border: solid 1px #ccc;
  color: #9fb219;
  padding: 5px 10px;
}
/* line 212, ../scss/component/_form.scss */
form div.field-group div.field-group-set,
div.form div.field-group div.field-group-set,
div.form-layout div.field-group div.field-group-set {
  display: none;
}

/* line 62, ../scss/component/_input.scss */
textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  behavior: url("/Content/Styles/lib/pie.htc");
  position: relative;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: border-color 0.25s, color 0.25s;
  -moz-transition: border-color 0.25s, color 0.25s;
  -o-transition: border-color 0.25s, color 0.25s;
  transition: border-color 0.25s, color 0.25s;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eaeaea), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(#eaeaea, #e0e0e0);
  background: -moz-linear-gradient(#eaeaea, #e0e0e0);
  background: -o-linear-gradient(#eaeaea, #e0e0e0);
  -pie-background: linear-gradient(#eaeaea, #e0e0e0);
  background: linear-gradient(#eaeaea, #e0e0e0);
  background-color: #e9e9e9;
  height: 18px;
  width: 100%;
  display: block;
  border: 1px solid #b2bcc5;
  color: #2c3e50;
  font-family: tahoma;
  font-size: 15px;
  padding: 2px 0 3px 0px;
  margin: 0px;
  /*text-indent: 3px;*/
}
/* line 35, ../scss/component/_input.scss */
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.uneditable-input::-webkit-input-placeholder {
  color: #b2bcc5;
}
/* line 36, ../scss/component/_input.scss */
textarea::-moz-placeholder,
select::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="datetime-local"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="color"]::-moz-placeholder,
.uneditable-input::-moz-placeholder {
  color: #b2bcc5;
}
/* line 37, ../scss/component/_input.scss */
textarea:-moz-placeholder,
select:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="color"]:-moz-placeholder,
.uneditable-input:-moz-placeholder {
  color: #b2bcc5;
}
/* line 38, ../scss/component/_input.scss */
textarea:-ms-input-placeholder,
select:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="datetime-local"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="color"]:-ms-input-placeholder,
.uneditable-input:-ms-input-placeholder {
  color: #b2bcc5;
}
/* line 39, ../scss/component/_input.scss */
textarea:placeholder,
select:placeholder,
input[type="text"]:placeholder,
input[type="password"]:placeholder,
input[type="datetime"]:placeholder,
input[type="datetime-local"]:placeholder,
input[type="date"]:placeholder,
input[type="month"]:placeholder,
input[type="time"]:placeholder,
input[type="week"]:placeholder,
input[type="number"]:placeholder,
input[type="email"]:placeholder,
input[type="url"]:placeholder,
input[type="search"]:placeholder,
input[type="tel"]:placeholder,
input[type="color"]:placeholder,
.uneditable-input:placeholder {
  color: #b2bcc5;
}
/* line 92, ../scss/component/_input.scss */
textarea.invalid,
select.invalid,
input[type="text"].invalid,
input[type="password"].invalid,
input[type="datetime"].invalid,
input[type="datetime-local"].invalid,
input[type="date"].invalid,
input[type="month"].invalid,
input[type="time"].invalid,
input[type="week"].invalid,
input[type="number"].invalid,
input[type="email"].invalid,
input[type="url"].invalid,
input[type="search"].invalid,
input[type="tel"].invalid,
input[type="color"].invalid,
.uneditable-input.invalid {
  border-color: #2c3e50;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
}
/* line 100, ../scss/component/_input.scss */
textarea.focus, textarea:focus,
select.focus,
select:focus,
input[type="text"].focus,
input[type="text"]:focus,
input[type="password"].focus,
input[type="password"]:focus,
input[type="datetime"].focus,
input[type="datetime"]:focus,
input[type="datetime-local"].focus,
input[type="datetime-local"]:focus,
input[type="date"].focus,
input[type="date"]:focus,
input[type="month"].focus,
input[type="month"]:focus,
input[type="time"].focus,
input[type="time"]:focus,
input[type="week"].focus,
input[type="week"]:focus,
input[type="number"].focus,
input[type="number"]:focus,
input[type="email"].focus,
input[type="email"]:focus,
input[type="url"].focus,
input[type="url"]:focus,
input[type="search"].focus,
input[type="search"]:focus,
input[type="tel"].focus,
input[type="tel"]:focus,
input[type="color"].focus,
input[type="color"]:focus,
.uneditable-input.focus,
.uneditable-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
}
/* line 109, ../scss/component/_input.scss */
textarea .control-group.error,
select .control-group.error,
input[type="text"] .control-group.error,
input[type="password"] .control-group.error,
input[type="datetime"] .control-group.error,
input[type="datetime-local"] .control-group.error,
input[type="date"] .control-group.error,
input[type="month"] .control-group.error,
input[type="time"] .control-group.error,
input[type="week"] .control-group.error,
input[type="number"] .control-group.error,
input[type="email"] .control-group.error,
input[type="url"] .control-group.error,
input[type="search"] .control-group.error,
input[type="tel"] .control-group.error,
input[type="color"] .control-group.error,
.uneditable-input .control-group.error {
  border-color: #2c3e50;
  color: #2c3e50;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 31, ../scss/component/_input.scss */
textarea .control-group.error:focus,
select .control-group.error:focus,
input[type="text"] .control-group.error:focus,
input[type="password"] .control-group.error:focus,
input[type="datetime"] .control-group.error:focus,
input[type="datetime-local"] .control-group.error:focus,
input[type="date"] .control-group.error:focus,
input[type="month"] .control-group.error:focus,
input[type="time"] .control-group.error:focus,
input[type="week"] .control-group.error:focus,
input[type="number"] .control-group.error:focus,
input[type="email"] .control-group.error:focus,
input[type="url"] .control-group.error:focus,
input[type="search"] .control-group.error:focus,
input[type="tel"] .control-group.error:focus,
input[type="color"] .control-group.error:focus,
.uneditable-input .control-group.error:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 110, ../scss/component/_input.scss */
textarea .control-group.success,
select .control-group.success,
input[type="text"] .control-group.success,
input[type="password"] .control-group.success,
input[type="datetime"] .control-group.success,
input[type="datetime-local"] .control-group.success,
input[type="date"] .control-group.success,
input[type="month"] .control-group.success,
input[type="time"] .control-group.success,
input[type="week"] .control-group.success,
input[type="number"] .control-group.success,
input[type="email"] .control-group.success,
input[type="url"] .control-group.success,
input[type="search"] .control-group.success,
input[type="tel"] .control-group.success,
input[type="color"] .control-group.success,
.uneditable-input .control-group.success {
  border-color: #2c3e50;
  color: #2c3e50;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 31, ../scss/component/_input.scss */
textarea .control-group.success:focus,
select .control-group.success:focus,
input[type="text"] .control-group.success:focus,
input[type="password"] .control-group.success:focus,
input[type="datetime"] .control-group.success:focus,
input[type="datetime-local"] .control-group.success:focus,
input[type="date"] .control-group.success:focus,
input[type="month"] .control-group.success:focus,
input[type="time"] .control-group.success:focus,
input[type="week"] .control-group.success:focus,
input[type="number"] .control-group.success:focus,
input[type="email"] .control-group.success:focus,
input[type="url"] .control-group.success:focus,
input[type="search"] .control-group.success:focus,
input[type="tel"] .control-group.success:focus,
input[type="color"] .control-group.success:focus,
.uneditable-input .control-group.success:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 111, ../scss/component/_input.scss */
textarea .control-group.warning,
select .control-group.warning,
input[type="text"] .control-group.warning,
input[type="password"] .control-group.warning,
input[type="datetime"] .control-group.warning,
input[type="datetime-local"] .control-group.warning,
input[type="date"] .control-group.warning,
input[type="month"] .control-group.warning,
input[type="time"] .control-group.warning,
input[type="week"] .control-group.warning,
input[type="number"] .control-group.warning,
input[type="email"] .control-group.warning,
input[type="url"] .control-group.warning,
input[type="search"] .control-group.warning,
input[type="tel"] .control-group.warning,
input[type="color"] .control-group.warning,
.uneditable-input .control-group.warning {
  border-color: #2c3e50;
  color: #2c3e50;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 31, ../scss/component/_input.scss */
textarea .control-group.warning:focus,
select .control-group.warning:focus,
input[type="text"] .control-group.warning:focus,
input[type="password"] .control-group.warning:focus,
input[type="datetime"] .control-group.warning:focus,
input[type="datetime-local"] .control-group.warning:focus,
input[type="date"] .control-group.warning:focus,
input[type="month"] .control-group.warning:focus,
input[type="time"] .control-group.warning:focus,
input[type="week"] .control-group.warning:focus,
input[type="number"] .control-group.warning:focus,
input[type="email"] .control-group.warning:focus,
input[type="url"] .control-group.warning:focus,
input[type="search"] .control-group.warning:focus,
input[type="tel"] .control-group.warning:focus,
input[type="color"] .control-group.warning:focus,
.uneditable-input .control-group.warning:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 112, ../scss/component/_input.scss */
textarea .control-group.info,
select .control-group.info,
input[type="text"] .control-group.info,
input[type="password"] .control-group.info,
input[type="datetime"] .control-group.info,
input[type="datetime-local"] .control-group.info,
input[type="date"] .control-group.info,
input[type="month"] .control-group.info,
input[type="time"] .control-group.info,
input[type="week"] .control-group.info,
input[type="number"] .control-group.info,
input[type="email"] .control-group.info,
input[type="url"] .control-group.info,
input[type="search"] .control-group.info,
input[type="tel"] .control-group.info,
input[type="color"] .control-group.info,
.uneditable-input .control-group.info {
  border-color: #2c3e50;
  color: #2c3e50;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 31, ../scss/component/_input.scss */
textarea .control-group.info:focus,
select .control-group.info:focus,
input[type="text"] .control-group.info:focus,
input[type="password"] .control-group.info:focus,
input[type="datetime"] .control-group.info:focus,
input[type="datetime-local"] .control-group.info:focus,
input[type="date"] .control-group.info:focus,
input[type="month"] .control-group.info:focus,
input[type="time"] .control-group.info:focus,
input[type="week"] .control-group.info:focus,
input[type="number"] .control-group.info:focus,
input[type="email"] .control-group.info:focus,
input[type="url"] .control-group.info:focus,
input[type="search"] .control-group.info:focus,
input[type="tel"] .control-group.info:focus,
input[type="color"] .control-group.info:focus,
.uneditable-input .control-group.info:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 116, ../scss/component/_input.scss */
select {
  height: 24px;
  padding: 0px;
}

/* line 127, ../scss/component/_input.scss */
input[disabled],
input[readonly],
input.disabled,
textarea[disabled],
textarea[readonly] {
  background-color: white;
  color: #9a9a9a;
  border-color: transparent;
  cursor: default;
}

/* line 33, ../scss/component/_buttons.scss */
.btn {
  behavior: url("/Content/Styles/lib/pie.htc");
  position: relative;
  border: none;
  display: inline-block;
  background: #b3c81c;
  color: #f9f9f9;
  font-size: 16.5px;
  line-height: 16.5px;
  text-decoration: none;
  text-shadow: none;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top: 9px;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3c81c), color-stop(100%, #79a631));
  background: -webkit-linear-gradient(#b3c81c, #79a631);
  background: -moz-linear-gradient(#b3c81c, #79a631);
  background: -o-linear-gradient(#b3c81c, #79a631);
  -pie-background: linear-gradient(#b3c81c, #79a631);
  background: linear-gradient(#b3c81c, #79a631);
}
/* line 58, ../scss/component/_buttons.scss */
.btn:hover, .btn:focus {
  background-color: #cfe339;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b3c81c), color-stop(100%, #82b234));
  background: -webkit-linear-gradient(#b3c81c, #82b234);
  background: -moz-linear-gradient(#b3c81c, #82b234);
  background: -o-linear-gradient(#b3c81c, #82b234);
  -pie-background: linear-gradient(#b3c81c, #82b234);
  background: linear-gradient(#b3c81c, #82b234);
  color: #f9f9f9;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
/* line 66, ../scss/component/_buttons.scss */
.btn:active, .btn.active {
  background-color: #98aa18;
  color: rgba(249, 249, 249, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 72, ../scss/component/_buttons.scss */
.btn.disabled, .btn[disabled] {
  background-color: #95a5a6 !important;
  color: #f9f9f9 !important;
  cursor: auto !important;
}
/* line 80, ../scss/component/_buttons.scss */
.btn.btn-primary {
  background-color: white;
}
/* line 27, ../scss/component/_buttons.scss */
.btn.btn-primary:hover, .btn.btn-primary:focus {
  background-color: white;
}
/* line 28, ../scss/component/_buttons.scss */
.btn.btn-primary:active, .btn.btn-primary.active {
  background-color: #d9d9d9;
}
/* line 81, ../scss/component/_buttons.scss */
.btn.btn-info {
  background-color: white;
}
/* line 27, ../scss/component/_buttons.scss */
.btn.btn-info:hover, .btn.btn-info:focus {
  background-color: white;
}
/* line 28, ../scss/component/_buttons.scss */
.btn.btn-info:active, .btn.btn-info.active {
  background-color: #d9d9d9;
}
/* line 82, ../scss/component/_buttons.scss */
.btn.btn-danger {
  background-color: white;
}
/* line 27, ../scss/component/_buttons.scss */
.btn.btn-danger:hover, .btn.btn-danger:focus {
  background-color: white;
}
/* line 28, ../scss/component/_buttons.scss */
.btn.btn-danger:active, .btn.btn-danger.active {
  background-color: #d9d9d9;
}
/* line 83, ../scss/component/_buttons.scss */
.btn.btn-success {
  background-color: white;
}
/* line 27, ../scss/component/_buttons.scss */
.btn.btn-success:hover, .btn.btn-success:focus {
  background-color: white;
}
/* line 28, ../scss/component/_buttons.scss */
.btn.btn-success:active, .btn.btn-success.active {
  background-color: #d9d9d9;
}
/* line 84, ../scss/component/_buttons.scss */
.btn.btn-warning {
  background-color: white;
}
/* line 27, ../scss/component/_buttons.scss */
.btn.btn-warning:hover, .btn.btn-warning:focus {
  background-color: white;
}
/* line 28, ../scss/component/_buttons.scss */
.btn.btn-warning:active, .btn.btn-warning.active {
  background-color: #d9d9d9;
}
/* line 87, ../scss/component/_buttons.scss */
.btn .btn-toolbar {
  font-size: 18px;
  padding: 10px 14px 9px;
}
/* line 91, ../scss/component/_buttons.scss */
.btn .btn-toolbar:first-child {
  -webkit-border-radius: 6px 0 0 6px;
  -moz-border-radius: 6px 0 0 6px;
  -ms-border-radius: 6px 0 0 6px;
  -o-border-radius: 6px 0 0 6px;
  border-radius: 6px 0 0 6px;
}
/* line 92, ../scss/component/_buttons.scss */
.btn .btn-toolbar:last-child {
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
}
/* line 95, ../scss/component/_buttons.scss */
.btn .btn-toolbar .btn.active {
  color: #f9f9f9;
}

/* line 2, ../scss/layout/_login.scss */
body#login {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 13, ../scss/layout/_login.scss */
body#login.loaded div.background-top,
body#login.loaded div.background-bottom,
body#login.loaded div.panel-login {
  opacity: 1;
}
/* line 16, ../scss/layout/_login.scss */
body#login div.content {
  height: 837px;
}
/* line 19, ../scss/layout/_login.scss */
body#login div.background-top,
body#login div.background-bottom {
  opacity: 0;
  position: absolute;
  display: block;
  height: 400px;
  width: 200%;
  background-repeat: no-repeat;
  background-color: transparent;
  z-index: -1;
}
/* line 30, ../scss/layout/_login.scss */
body#login div.background-top {
  -webkit-transition: opacity 0.5s ease-in-out;
  -webkit-transition-delay: 0.5s;
  -moz-transition: opacity 0.5s ease-in-out 0.5s;
  -o-transition: opacity 0.5s ease-in-out 0.5s;
  transition: opacity 0.5s ease-in-out 0.5s;
  background-image: url("/Content/Images/bg-login-top.png");
  background-position: -350px -144px;
  margin-left: -480px;
  left: 30%;
  top: 0;
}
/* line 39, ../scss/layout/_login.scss */
body#login div.background-bottom {
  -webkit-transition: opacity 0.5s ease-in-out;
  -webkit-transition-delay: 1s;
  -moz-transition: opacity 0.5s ease-in-out 1s;
  -o-transition: opacity 0.5s ease-in-out 1s;
  transition: opacity 0.5s ease-in-out 1s;
  background-image: url("/Content/Images/bg-login-bottom.png");
  background-position: bottom right;
  margin-right: -320px;
  right: 20%;
  bottom: 0;
}
/* line 48, ../scss/layout/_login.scss */
body#login div.panel-login {
  -webkit-transition: opacity 0.5s ease-in-out;
  -webkit-transition-delay: 1.5s;
  -moz-transition: opacity 0.5s ease-in-out 1.5s;
  -o-transition: opacity 0.5s ease-in-out 1.5s;
  transition: opacity 0.5s ease-in-out 1.5s;
  opacity: 0;
  margin: 0 auto;
  padding-top: 200px;
  width: 435px;
}
/* line 55, ../scss/layout/_login.scss */
body#login div.panel-login form {
  behavior: url("/Content/Styles/lib/pie.htc");
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f5), color-stop(100%, #e3e3e3));
  background: -webkit-linear-gradient(#f5f5f5, #e3e3e3);
  background: -moz-linear-gradient(#f5f5f5, #e3e3e3);
  background: -o-linear-gradient(#f5f5f5, #e3e3e3);
  -pie-background: linear-gradient(#f5f5f5, #e3e3e3);
  background: linear-gradient(#f5f5f5, #e3e3e3);
  border: solid 1px #d0d0d0;
  width: 435px;
  padding: 15px;
  padding-bottom:30px;
}
/* line 67, ../scss/layout/_login.scss */
body#login div.panel-login form div.title-image {
  background-image: url("/Content/Images/bg-login-logo.png");
  background-position: center -8px;
  background-repeat: no-repeat;
  height: 80px;
}
/* line 74, ../scss/layout/_login.scss */
body#login div.panel-login form div.field-group {
  border-top: solid 1px #d0d0d0;
  padding-top: 20px;
  height: auto;
}
/* line 80, ../scss/layout/_login.scss */
body#login div.panel-login form div.field {
  padding: 0 30px;
  height: 47px;
  margin-bottom: 0px;
}
/* line 88, ../scss/layout/_login.scss */
body#login div.panel-login form div.field div {
  height: 47px;
  line-height: 46px;
}
/* line 90, ../scss/layout/_login.scss */
body#login div.panel-login form div.field div.caption {
  height: 45px;
  line-height: 45px;
  width: 40%;
  border: solid 1px #463738;
  border-right-width: 0px;
  background-color: #463738;
  color: #f9f9f9;
  font-weight: bold;
  text-align: center;
}
/* line 105, ../scss/layout/_login.scss */
body#login div.panel-login form div.field div.input {
  behavior: url("/Content/Styles/lib/pie.htc");
  position: relative;
  /*margin-left: 40%;*/
}
/* line 108, ../scss/layout/_login.scss */
body#login div.panel-login form div.field div.input input {
  width: 200px;
  border-left-width: 0px;
  padding: 15px 0px 5px 10px;
  height: 25px;
  background: none;
  /*background-color: #f9f9f9 !important;*/
}
/* line 119, ../scss/layout/_login.scss */
body#login div.panel-login form div.field#field-username div.caption {
  behavior: url("/Content/Styles/lib/pie.htc");
  position: relative;
  -webkit-border-radius: 8px 0px 0px 0px;
  -moz-border-radius: 8px 0px 0px 0px;
  -ms-border-radius: 8px 0px 0px 0px;
  -o-border-radius: 8px 0px 0px 0px;
  border-radius: 8px 0px 0px 0px;
  border-bottom-color: #b2bcc5;
}
/* line 124, ../scss/layout/_login.scss */
body#login div.panel-login form div.field#field-username input {
  behavior: url("/Content/Styles/lib/pie.htc");
  position: relative;
  -webkit-border-radius: 0px 8px 0px 0px;
  -moz-border-radius: 0px 8px 0px 0px;
  -ms-border-radius: 0px 8px 0px 0px;
  -o-border-radius: 0px 8px 0px 0px;
  border-top-right-radius:8px;
  z-index:0!important;
}
/* line 132, ../scss/layout/_login.scss */
body#login div.panel-login form div.field#field-password div.caption {
  behavior: url("/Content/Styles/lib/pie.htc");
  position: relative;
  -webkit-border-radius: 0px 0px 0px 8px;
  -moz-border-radius: 0px 0px 0px 8px;
  -ms-border-radius: 0px 0px 0px 8px;
  -o-border-radius: 0px 0px 0px 8px;
  border-radius: 0px 0px 0px 8px;
}
/* line 138, ../scss/layout/_login.scss */
body#login div.panel-login form div.field#field-password div.input input {
  behavior: url("/Content/Styles/lib/pie.htc");
  position: relative;
  -webkit-border-radius: 0px 0px 8px 0px;
  -moz-border-radius: 0px 0px 8px 0px;
  -ms-border-radius: 0px 0px 8px 0px;
  -o-border-radius: 0px 0px 8px 0px;
  border-top-width: 0px;
  border-bottom-right-radius:8px;
}
/* line 148, ../scss/layout/_login.scss */
body#login div.panel-login form button {
  behavior: url("/Content/Styles/lib/pie.htc");
  position: relative;
  width: 86%;
  margin-left: 30px;
  margin-right: 30px;
  display: block !important;
  float: none;
  font-weight: bold;
}

.msg-error {
    color:red;
    text-align:center;
    padding-bottom:5px;
    font-size:11px;
}

.msg-panel {
    padding-top:50px;
}

.msg-panel img{
    width:50px;
}
.msg-panel-head {
    display:inline-block;
}
.msg-panel-head div {
    float:left;
}
.msg-panel-head h1 {
    padding:5px 0px 0px 10px;
    font-size:24px;
    color:#333333;
}

.msg-panel-desc {
    padding-left:60px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:16px;
    font-weight:bold;
    font-family:Tahoma;
    
}

/*========== Loading ===========*/
.loading {
    font-family:Tahoma;
    font-size:11px;
    font-weight:bold;
    
}
.loading div {
    padding-left:20px;
}
.loading img{
    width:220px;
    
}