@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identity Service.</title>
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon" />
    <link href="~/Content/styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/styles/authenticate/brands.css" rel="stylesheet" />
    <link href="~/Content/styles/authenticate/custom-common.css" rel="stylesheet" />
    <link href="~/Content/styles/authenticate/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/styles/authenticate/Roboto.css" rel="stylesheet" />
    <link href="~/Content/styles/authenticate/solid.css" rel="stylesheet" />
    <link href="~/Content/styles/authenticate/login.css" rel="stylesheet" />
</head>

<body>

    <!-- header -->
    <header>
        <img alt="" src="~/Content/images/banner.png" class="banner">
    </header>
    <!-- page content -->
    <div class="container-fluid body-wrapper">

        <div class="row">
            <div class="col-md-12">

                <!-- content -->
                <div class="container col-xs-10 col-sm-6 col-md-6 col-lg-4 col-centered wr-content col-centered">
                    <div class="wr-title padding-top margin-none text-center"
                         style="padding-bottom: 0px;">
                        <img src="~/Content/images/login.png" title="wso2" class="logo img">
                        <p class="head logintext">LOGIN</p>
                        <p class="detail">Enter your username and password to log on</p>
                        <div class="clearfix"></div>

                        <form action="" method="post" id="loginForm" autocomplete="off">
                            <div class="alert alert-danger" id="error-msg" hidden="true"></div>
                            <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <input id="tocommonauth" name="tocommonauth" type="hidden" value="true">
                                <input type="text" class="form-control" id="username"
                                       name="username" autocomplete="off" />

                                <div class="input-group" id="show_hide_password">
                                    <input type="password" class="form-control"
                                           id="password" name="password" autocomplete="off" />

                                    <div class="input-group-addon">
                                        <a href=""><i class="fa fa-eye-slash" style="color:#8dc63f" aria-hidden="true"></i></a>
                                    </div>
                                </div>

                                <div class="checkbox">

                                </div>

                            </span><span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                                <div class="form-actions">
                                    <button class="wr-btn grey-bg col-xs-12 col-md-12 col-lg-12 uppercase font-extra-large"
                                            type="submit">
                                        Log in
                                    </button>
                                </div>
                            </span>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">
                                <input type="hidden" name="sessionDataKey" value='' />
                            </div>


                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group">


                            </div>
                        </form>



                    </div>





                </div>
            </div>
            <!-- /content -->

        </div>
    </div>
    <!-- /content/body -->

    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


</body>
</html>




