<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WBBBusinessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="UsePathLocal" value="Y" />
    <add key="PathAppsetting" value="D:\\sun\\FBB_WF_Git\\fbb_web_register_New\\PathConfig\\WBBExternalAPI" />
    <add key="CONNECTIONSTRINGTEMPLATE" value="data source={DatabaseName};User ID={UserName};Password={Password}" />
    <add key="PROJECTCODEDB" value="FXBBDBDEV" />
    <add key="PROJECTCODEDBAIRNET" value="TAIRNETDB " />
    <add key="DBSCHEMA" value="WBB" />
    <add key="DBSCHEMAFBSS" value="devfoa" />
    <add key="DBSCHEMAAIRNET" value="SBN" />
    <add key="ONDEVENVIRONMENT" value="true" />
    <add key="PROJECTCODEFBBSHAREPLEX" value="FBBFXSDBTST" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8.1" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" />
  </system.web>
  <applicationSettings>
    <WBBBusinessLayer.Properties.Settings>
      <setting name="WBBBusinessLayer_AuthenDBServices_WebDBConfigService" serializeAs="String">
        <value>http://dblogintest.ais.co.th/wsAuthenDB/webDBconfigService.asmx</value>
      </setting>
      <setting name="WBBBusinessLayer_AuthenLDAPServices_Corporate" serializeAs="String">
        <value>http://dev-authenldapws.ais.co.th/corporate.asmx</value>
      </setting>
      <setting name="WBBBusinessLayer_SFFServices_SFFServiceService" serializeAs="String">
        <!--<value>http://10.13.181.45:8303/SFFWebService/SFFService</value>-->
        <!--<value>http://10.252.64.137:6100/SFFWebService/SFFService?WSDL</value>-->
        <!--<value>http://10.252.64.129:6100/SFFWebService/SFFService</value>-->
        <value>http://10.252.64.152:6100/SFFWebService/SFFService</value>
        <!--<value>http://10.252.64.153:6100/SFFWebService/SFFService</value>-->
      </setting>
      <setting name="WBBBusinessLayer_SBNWebService_SBNWebServiceService" serializeAs="String">
        <value>https://dev-airnetregws.ais.co.th:8543/airnet-service/SBNWebService</value>
      </setting>
      <setting name="WBBBusinessLayer_SubscriberStateWebService_SubscriberStateWebService" serializeAs="String">
        <value>http://10.252.160.104:2521/web/services/subscriberstatewebservice.asmx</value>
      </setting>
      <setting name="WBBBusinessLayer_FBSSOrderServices_OrderService" serializeAs="String">
        <!--<value>http://10.138.36.152:7505/axis2/services/OrderService/</value>-->
        <value>http://10.252.64.28:7105/axis2/services/OrderService/</value>
      </setting>
      <setting name="WBBBusinessLayer_SBNNewWebService_SBNWebServiceService" serializeAs="String">
        <!--<value>http://10.252.163.184:8180/airnet-service/SBNWebService</value>-->
        <value>https://dev-airnetregws.ais.co.th:8543/airnet-service/SBNWebService</value>
      </setting>
      <setting name="WBBBusinessLayer_GssoSsoWebService_GssoSsoWebService" serializeAs="String">
        <value>http://10.240.141.222:8080/GSSO-SSO/GssoSsoWeb</value>
      </setting>
      <setting name="WBBBusinessLayer_WebReference_FBB_BindingQSService" serializeAs="String">
        <!--<value>http://10.252.54.24:7311/FBB/Proxy_Services/A_GetCCCustInfo</value>-->
        <value>http://10.252.54.24:7200/FBB/Proxy_Services/A_GetCCCustInfo</value>
      </setting>
      <setting name="WBBBusinessLayer_CampaignDataServices_CampaignDataService" serializeAs="String">
        <value>http://10.13.181.71:8280/CampaignWS/services/CampaignDataService.CampaignDataServiceHttpSoap11Endpoint/</value>
      </setting>
      <setting name="WBBBusinessLayer_SAP_FixedAssetService" serializeAs="String">
        <value>https://pidev.itas.co.th:443/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BS_FBSS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_Z_FIAM_FBSS_FIXEDASSET&amp;interfaceNamespace=urn%3Aais.co.th%3AFI%3AFBSS%3AZ_FIAM_FBSS_FIXEDASSET</value>
      </setting>
      <setting name="WBBBusinessLayer_Siebel_CreateTroubleTicketService_AIS_spcCreate_spcTrouble_spcTicket" serializeAs="String">
        <value>http://10.252.60.103/eai_sbtstrl/start.swe</value>
      </setting>
      <setting name="WBBBusinessLayer_SiebelGenActivity_AIS_spcIM_spcCommon_spcCreate_spcActivity" serializeAs="String">
        <value>http://10.252.60.103/eai_sbtstrl/start.swe</value>
      </setting>
      <setting name="WBBBusinessLayer_AisEmployeServices_AisEmployeService" serializeAs="String">
        <value>http://dev-ldapservicews.ais.co.th/AisEmployee/AisEmployeService.asmx</value>
      </setting>
      <setting name="WBBBusinessLayer_OMWService_WS_OM_OMService" serializeAs="String">
        <!--<value>https://test-omws.ais.co.th/omws/WS_OM_OMService.svc</value>-->
        <!--<value>https://test-omws.ais.co.th/omworkdayws/WS_OM_OMService.svc</value>-->
        <value>https://omws.ais.co.th/omws/WS_OM_OMService.svc</value>
      </setting>
      <setting name="WBBBusinessLayer_SiebelService_AIS_spcDRM_spcChannel_spcInfo" serializeAs="String">
        <value>http://10.252.60.103/eai_sbtstrl/start.swe</value>
      </setting>
      <setting name="WBBBusinessLayer_IMService_ServicesService" serializeAs="String">
        <value>http://10.138.32.21:8080/prweb/PRSOAPServlet/SOAP/AISNIMIntFBBIntegration/Services</value>
      </setting>
      <setting name="WBBBusinessLayer_TTComplainSheet_TTComplainSheet" serializeAs="String">
        <value>http://10.252.64.28:7101/axis2/services/TTComplainSheet/</value>
      </setting>
      <setting name="WBBBusinessLayer_SBNV2WebService_AIRInterfaceWorkflowServiceService" serializeAs="String">
        <value>https://dev-airnetregws.ais.co.th:8543/airnet-service/AIRInterfaceWorkflowService</value>
        <!--<value>http://staging-airnetregws.ais.co.th:8180/airnet-service/AIRInterfaceWorkflowService</value>-->
      </setting>
      <setting name="WBBBusinessLayer_WTTxInventory_WTTxInventoryService" serializeAs="String">
        <value>http://10.104.140.72/WTTxResourceManagement/services/wttxinventory</value>
      </setting>
    </WBBBusinessLayer.Properties.Settings>
  </applicationSettings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Formats.Asn1" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
  </connectionStrings>
</configuration>