body {
    margin: 0;
}

div.boxPayment {
    display: table;
    position: relative;
    width: 100%;
    margin-left: 750px;
    background-color: transparent;
}

.mainDetail-boxData {
    width: 669px;
    background-color: transparent;
}

.mainDetail-boxData-Payment {
    width: 669px;
    background-color: transparent;
}

.mainDetail-warningText {
    color: #000;
    font-family: 'db_helvethaicaais_x55_regular';
    font-size: 19px;
    margin-top: 4.0em;
    margin-left: auto;
    text-align: right;
}

.mainDetail-Button {
    color: #000;
    font-family: 'db_helvethaicaais_x55_regular';
    font-size: 19px;
    border: 0;
    border-radius: 0;
    margin-top: 1.2em;
    margin-left: auto;
    text-align: right;
}

.equal-item.border-left.border-right {
    border-color: #ccc;
}

/*------START CSS PAYMENT-----------------------------------*/
.payment-box {
    margin-top: 50px;
}

.payment-headtext {
    font-size: 35px;
    color: #558C0B;
}

.payment-subheadtext {
    color: #614E48;
    font-size: 25px;
    line-height: 35px;
}

.payment-detail-text1 {
    color: #614e48;
    font-size: 19px;
    /*line-height: 35px;*/
    margin-bottom: 0.5%;
}

.payment-detail-text2 {
    word-wrap: break-word;
    color: #000;
    font-size: 19px;
    /*line-height: 35px;*/
    margin-bottom: 0.5%;
    width: 300px;
}

.payment-status-text1 {
    color: #000;
    font-size: 19px;
    line-height: 25px;
}

.payment-status-text2 {
    color: #000;
    font-size: 19px;
    line-height: 25px;
}

.payment-status-text3 {
    color: #000;
    font-size: 19px;
    line-height: 25px;
}

div.mpay-payment {
    margin-right: 5%;
}

div.mpay-credit {
    margin-right: auto;
}

.payment-button-left {
    background-color: rgba(255, 255, 255, 1);
    color: #8dc63f;
    text-align: center;
    border: solid thin #8dc63f;
    border-radius: 5px;
    padding: 5px;
    white-space: nowrap;
    height: 54px;
    width: 150px;
    margin-top: 25%;
    margin-bottom: 10px;
    margin-right: 5%;
}

    .payment-button-left:hover {
        cursor: pointer;
    }

.payment-button-right {
    background-color: rgba(255, 255, 255, 1);
    color: #8dc63f;
    text-align: center;
    border: solid thin #8dc63f;
    border-radius: 5px;
    padding: 5px;
    white-space: nowrap;
    height: 54px;
    width: 150px;
    margin-top: 25%;
    margin-bottom: 10px;
    margin-right: 5%;
}

    .payment-button-right:hover {
        cursor: pointer;
    }

.payment-box-btn {
    margin-top: 70px;
}


/*------END CSS PAYMENT-----------------------------------*/


@media (min-width: 768px) {
    .dl-horizontal dt {
        width: 200px;
        overflow: visible;
    }

    .dl-horizontal dd {
        margin-left: 20px;
    }

    .payment-box-btn-firstpage {
        margin-top: 70px;
        margin-left: 250px;
    }

    .payment-detail-text2 {
        /*display: inline-block;*/
        word-wrap: break-word;
        /*margin-bottom: 2%;*/
        float: left;
        margin-left: 100px;
        width: 300px;
    }
}
/*------START CSS PAYMENT-----------------------------------*/

@media (max-width: 1024px) {
    div.boxPayment {
        display: table;
        position: relative;
        width: 100%;
        margin-left: 550px;
        background-color: transparent;
    }

    p.payment-headtext.payment-box {
        margin-top: 50px;
        background-color: transparent;
        /*margin-left: 45%;*/
    }

    p.payment-subheadtext {
        color: #614E48;
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 4%;
        background-color: transparent;
    }

    .payment-detail-text1 {
        display: inline-block;
        word-wrap: break-word;
        width: 200px;
        margin-bottom: 2%;
        float: left;
    }

    .payment-detail-text2 {
        /*display: inline-block;*/
        word-wrap: break-word;
        padding-left: 5%;
        margin-bottom: 2%;
        float: left;
        width: 200px;
    }
}

@media screen and (max-width:768px) {

    div.boxPayment {
        display: table;
        position: relative;
        width: 100%;
        margin-left: 250px;
        background-color: transparent;
    }

    .dl-horizontal dt {
        width: 200px;
        overflow: visible;
    }

    .dl-horizontal dd {
        margin-left: 0;
    }

    .mainDetail-boxData-Payment {
        width: 100vw;
        background-color: transparent;
    }

    p.payment-headtext.payment-box {
        margin-top: 50px;
        background-color: transparent;
        /*margin-left: 45%;*/
    }

    p.payment-subheadtext {
        color: #614E48;
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 4%;
        background-color: transparent;
    }

    .payment-detail-text1 {
        clear: both;
        display: inline-block;
        word-wrap: break-word;
        width: 180px;
        margin-bottom: 2%;
        float: left;
    }

    .payment-detail-text2 {
        /*clear: both;*/
        /*display: inline-block;*/
        word-wrap: break-word;
        padding-left: 3%;
        margin-bottom: 2%;
        float: left;
        width: 300px;
    }

    p.payment-status-text1 {
        background-color: transparent;
        margin: 0 0 0 45%;
        padding: 0;
        width: 33%;
        float: left;
    }

    p.payment-status-text2 {
        background-color: transparent;
        margin: 0 0 1.5% 0.5%;
        padding: 0;
        width: 20%;
        float: left;
    }

    p.payment-status-text3 {
        background-color: transparent;
        padding: 0;
        width: 55%;
        float: left;
        margin-left: 43%;
    }

    div#mpay-payment.mpay-payment {
        margin-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
        vertical-align: inherit;
    }

    div#mpay-credit.mpay-credit {
        margin-left: 5px;
        margin-right: 5px;
        vertical-align: inherit;
    }

    div#mpay.payment-button-left {
        margin: auto;
        clear: both;
        width: 200px;
        float: left;
        padding: 0;
    }

    div#credit.payment-button-right {
        margin: auto;
        margin-left: 20px;
        float: left;
        width: 200px;
    }

    #imgMpay {
        margin: 2.0% 0% 0% 0%;
    }

    #imgCredit {
        margin: 1.0% 0% 0% 0%;
    }

    .payment-box-btn {

    }

    .payment-box-btn-firstpage {
        margin-top: 70px;
        text-align: center;
    }
    /*------END CSS PAYMENT-----------------------------------*/

}

@media screen and (max-width:770px) {
    div.mpay-payment {
        margin-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }

    div.mpay-credit {
        margin-left: 5px;
        margin-right: 5px;
    }

    div#mpay.payment-button-left {
        margin: auto;
        clear: both;
        width: 150px;
        float: left;
        padding: 0;
    }

    div#credit.payment-button-right {
        margin: auto;
        float: left;
        width: 150px;
        padding: 0;
    }

    #imgMpay {
        margin: 3.0% 0% 0% 0%;
    }

    #imgCredit {
        margin: 3.0% 0% 0% 0%;
    }

    .payment-box-btn-firstpage {
        margin-top: 70px;
        text-align: center;
    }
}

@media screen and (max-width:767px) {
    div.mpay-payment {
        margin-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }

    div.mpay-credit {
        margin-left: 5px;
        margin-right: 5px;
    }

    div#mpay.payment-button-left {
        margin: auto;
        clear: both;
        width: 200px;
        float: left;
        padding: 0;
    }

    div#credit.payment-button-right {
        margin: auto;
        margin-left: 20px;
        float: left;
        width: 200px;
    }

    #imgMpay {
        margin: 2.0% 0% 0% 0%;
    }

    #imgCredit {
        margin: 1.0% 0% 0% 0%;
    }

    #box1P_holder.box1P-holder {
        background-position: -240px 50px;
    }
}

@media screen and (max-width:720px) {

    /*==== Start Menu ======================================*/
    ul#menuMain.user_tool_box_set {
        position: relative;
        display: table-cell;
    }

        ul#menuMain.user_tool_box_set li.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        ul#menuMain.user_tool_box_set li {
            float: none;
            display: inline;
        }

            ul#menuMain.user_tool_box_set li.element.style {
                display: none;
            }

            ul#menuMain.user_tool_box_set li a {
                display: none;
                text-align: right;
            }

            ul#menuMain.user_tool_box_set li#liLogo a {
                display: inline;
                text-align: right;
            }

            ul#menuMain.user_tool_box_set li#liHome.bd-2.equal-item {
                display: none;
                text-align: right;
                background: none;
            }

            ul#menuMain.user_tool_box_set li#liPayment.bd-3.equal-item {
                display: none;
                text-align: right;
                background: none;
            }

                ul#menuMain.user_tool_box_set li#liPayment.bd-3.equal-item.active {
                    display: none;
                    text-align: right;
                    background: none;
                }

            ul#menuMain.user_tool_box_set li#liProblem.bd-4.equal-item {
                display: none;
                text-align: right;
                background: none;
                min-height: 0px;
            }

                ul#menuMain.user_tool_box_set li#liProblem.bd-4.equal-item.active {
                    display: none;
                    text-align: right;
                    background: none;
                    min-height: 0px;
                }

            ul#menuMain.user_tool_box_set li#liLogout.bd-5.equal-item {
                display: none;
                text-align: right;
                background: none;
            }

    #regis_menu_scroll_1 {
        position: absolute;
        z-index: 1;
    }

    #box1P_holder.box1P-holder {
        background-image: none;
    }

    #body {
        padding-top: 120px;
        margin-left: auto;
    }

    ul.user_tool_box_set li:not(:first-child) {
        display: none;
    }

    ul.user_tool_box_set li.icon {
        float: right;
        display: inline-block;
    }

    ul#menuMain.user_tool_box_set.responsive {
        position: relative;
    }

        ul#menuMain.user_tool_box_set.responsive li.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        ul#menuMain.user_tool_box_set.responsive li {
            float: none;
            display: inline;
        }

            ul#menuMain.user_tool_box_set.responsive li a {
                display: block;
                text-align: right;
            }

            ul#menuMain.user_tool_box_set.responsive li#liHome.bd-2.equal-item {
                display: block;
                text-align: right;
                color: white;
                background: black;
                border-top: 1px solid #c3c2c2;
            }

            ul#menuMain.user_tool_box_set.responsive li#liPayment.bd-3.equal-item {
                display: block;
                text-align: right;
                color: white;
                background: black;
                border-top: 1px solid #c3c2c2;
            }

                ul#menuMain.user_tool_box_set.responsive li#liPayment.bd-3.equal-item.active {
                    display: block;
                    text-align: right;
                    background-color: #8dc63f;
                    cursor: pointer;
                    color: white;
                }

            ul#menuMain.user_tool_box_set.responsive li#liProblem.bd-4.equal-item {
                display: block;
                text-align: right;
                color: white;
                background: black;
                border-top: 1px solid #c3c2c2;
            }

                ul#menuMain.user_tool_box_set.responsive li#liProblem.bd-4.equal-item.active {
                    display: block;
                    text-align: right;
                    background-color: #8dc63f;
                    cursor: pointer;
                    color: white;
                }

            ul#menuMain.user_tool_box_set.responsive li#liLogout.bd-5.equal-item {
                display: block;
                text-align: right;
                color: white;
                background: black;
                border-top: 1px solid #c3c2c2;
            }

    div#lblMenuIcon.a.bd-icon {
        background-color: transparent;
        font-size: 16px;
        font-weight: normal;
        color: black;
        text-decoration: none;
        padding: 10px;
    }

        div#lblMenuIcon.a.bd-icon:hover {
            text-decoration: none;
        }

    div.user_tool_box {
        color: #000000;
        display: block;
        padding: 10px 10px 10px 10px;
        position: relative;
        text-align: center;
        width: 100vw;
        font-size: 1.5em;
    }

    div.user_tool_box_top {
        /*color: red;*/
        display: block;
        padding: 10px 10px 10px 10px;
        position: relative;
        text-align: right;
        width: 100vw;
        font-size: 1.5em;
        margin-top: 30px;
        z-index: 100;
    }

    div.box_border {
        display: inline-block;
        width: 100%;
        margin-left: auto;
        position: relative;
        margin-top: 50px;
    }

    div.user_tool_box_top.bd-topbar {
        background-color: transparent;
    }

    div#divLogo.user_tool_box.fibrelogo {
        display: block;
        height: 75px;
        width: 149px;
        margin-top: -80px;
        z-index: 1;
        width: 100vw;
        text-align: center;
    }

    div.user_tool_box.home {
        color: white;
        background: black;
    }

    div#divHome.user_tool_box.home.equal-item {
        color: white;
        background: black;
        border-top: 1px solid #c3c2c2;
    }

        div#divHome.user_tool_box.home.equal-item.active {
            color: white;
            background: black;
            border-top: 1px solid #c3c2c2;
        }

    div.user_tool_box.Pay {
        color: white;
        background: black;
        border-top: 1px solid #c3c2c2;
    }

    div#divPay.user_tool_box.pay.equal-item {
        color: white;
        background: black;
        border-top: 1px solid #c3c2c2;
    }

        div#divPay.user_tool_box.pay.equal-item.active {
            color: white;
            background: black;
            border-top: 1px solid #c3c2c2;
        }

    div.user_tool_box.reportproblem {
        color: white;
        background: black;
        border-top: 1px solid #c3c2c2;
    }

    div#divReportproblem.user_tool_box.reportproblem.equal-item {
        color: white;
        background: black;
        border-top: 1px solid #c3c2c2;
    }

        div#divReportproblem.user_tool_box.reportproblem.equal-item.active {
            color: white;
            background: black;
            border-top: 1px solid #c3c2c2;
        }

    div.user_tool_box.logout {
        color: white;
        background: black;
        border-top: 1px solid #c3c2c2;
    }

    div#divLogout.user_tool_box.logout.equal-item {
        color: white;
        background: black;
        border-top: 1px solid #c3c2c2;
    }

        div#divLogout.user_tool_box.logout.equal-item.active {
            color: white;
            background: black;
            border-top: 1px solid #c3c2c2;
        }

    li#liHome.bd-2 {
        border-left: none;
        border-right: none;
    }

    li#liPayment.bd-3 {
        border-left: none;
        border-right: none;
    }

    li#liProblem.bd-4 {
        border-left: none;
        border-right: none;
    }

    /*==== End Menu =======================================*/

    /*==== Start Content Login Concurrent & Session Timeout ======================================*/

    p#pMainDetailWarningText.mainDetail-warningText {
        background-color: transparent;
        position: relative;
        width: 100vw;
        color: #000;
        font-family: 'db_helvethaicaais_x55_regular';
        font-size: 19px;
        text-align: center;
        margin-left: 0;
        margin-top: 5em;
    }

    div#divMainDetailButton.mainDetail-Button {
        background-color: transparent;
        position: relative;
        width: 100vw;
        float: none;
        color: #000;
        font-family: 'db_helvethaicaais_x55_regular';
        font-size: 19px;
        text-align: center;
        border: 0;
        margin-left: 0;
        margin-top: 1.0em;
    }

    /*==== End Content Login Concurrent & Session Timeout =======================================*/

    /*------START CSS PAYMENT-----------------------------------*/
    div.boxPayment {
        display: table;
        position: relative;
        width: 100%;
        margin-left: 20%;
        background-color: transparent;
    }

    .mainDetail-boxData-Payment {
        width: 100vw;
        background-color: transparent;
    }

    p.payment-headtext.payment-box {
        margin-top: 50px;
        font-size: 2.4em;
        background-color: transparent;
        /*text-align: center;*/
        width: 100%;
    }

    p.payment-subheadtext {
        color: #614E48;
        font-size: 1.6em;
        line-height: 25px;
        background-color: transparent;
        width: 100%;
    }

    .payment-detail-text1 {
        display: inline-block;
        word-wrap: break-word;
        width: 200px;
        margin-bottom: 2%;
        font-size: 18px;
    }

    .payment-detail-text2 {
        /*display: inline-block;*/
        word-wrap: break-word;
        padding-left: 5%;
        margin-bottom: 2%;
        font-size: 18px;
        width: 300px;
    }

    p.payment-status-text1 {
        clear: both;
        background-color: transparent;
        margin: 0 0 2% 10vw;
        padding: 0;
        width: 45vw;
        font-size: 17px;
    }

    p.payment-status-text2 {
        background-color: transparent;
        margin: 0 0 0 0%;
        padding: 0;
        width: 45vw;
        font-size: 17px;
    }

    p.payment-status-text3 {
        background-color: transparent;
        padding: 0;
        width: 90%;
        float: none;
        text-align: center;
        font-size: 1.3em;
        margin-left: 5%;
    }

    div.mpay-payment {
        margin-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }

    div.mpay-credit {
        margin-left: 5px;
        margin-right: 5px;
    }

    div#mpay.payment-button-left {
        margin: auto;
        margin-left: 5%;
        padding: 0;
        float: none;
        width: 50%;
    }

    div#credit.payment-button-right {
        margin: auto;
        margin-left: 5%;
        padding: 0;
        float: none;
        width: 50%;
    }

    #imgMpay {
        margin: 0.7% 0% 0% 0%;
    }

    #imgCredit {
        margin: 0.7% 0% 0% 0%;
    }

    .payment-box-btn {
        float: none;
        text-align: center;
        margin: 7% 0 0 2%;
        width: 90vw;
    }
    /*------END CSS PAYMENT-----------------------------------*/

}

@media screen and (max-width:500px) {

    div.boxPayment {
        display: table;
        position: relative;
        width: 100%;
        margin-left: 20%;
        background-color: transparent;
    }

    p.payment-headtext.payment-box {
        margin-top: 50px;
        font-size: 2.0em;
        background-color: transparent;
        /*text-align: center;*/
        width: 100%;
    }

    p.payment-subheadtext {
        color: #614E48;
        font-size: 1.3em;
        line-height: 25px;
        background-color: transparent;
        width: 100%;
    }

    p.payment-status-text1 {
        margin: 0 0 5% 5vw;
        width: 50vw;
        font-size: 15px;
        line-height: 0;
    }

    p.payment-status-text2 {
        font-size: 15px;
        line-height: 0;
    }

    .payment-box-btn-firstpage {
        margin-top: 70px;
        text-align: center;
    }

    div#mpay.payment-button-left {
        margin: auto;
        margin-left: 0;
        padding: 0;
        float: none;
        width: 50%;
    }

    div#credit.payment-button-right {
        margin: auto;
        margin-left: 0;
        padding: 0;
        float: none;
        width: 50%;
    }

}

@media screen and (max-width:330px) {
    div.boxPayment {
        display: table;
        position: relative;
        width: 100%;
        margin-left: 20%;
        background-color: transparent;
    }

    .payment-detail-text1 {
        display: inline-block;
        word-wrap: break-word;
        width: 150px;
        margin-bottom: 2%;
        font-size: 14px;
        float: left;
    }

    .payment-detail-text2 {
        /*display: inline-block;*/
        word-wrap: break-word;
        padding-left: 5%;
        margin-bottom: 2%;
        font-size: 14px;
        float: left;
        width: 110px;
    }

    div.mpay-payment {
        margin-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }

    div.mpay-credit {
        margin-left: 5px;
        margin-right: 5px;
    }

    .payment-box-btn-firstpage {
        margin-top: 70px;
        text-align: center;
    }

    div#mpay.payment-button-left {
        margin: auto;
        margin-left: 5%;
        padding: 0;
        float: none;
        width: 70%;
    }

    div#credit.payment-button-right {
        margin: auto;
        margin-left: 5%;
        padding: 0;
        float: none;
        width: 70%;
    }
}

@media screen and (max-width:320px) {

    div#divMainDetailBoxData.boxPayment {
        margin-left: 15%;
    }

    .dl-horizontal dt {
        width: 170px;
        overflow: visible;
    }
}
